<div class="row">
  <div class="col-md-4">
    <div>
      <%= image_tag @staff.picture.url %>
    </div>
    <h2><%= @staff.name %></h2>
    <p><%= @staff.title %></p>
  </div>
  <div class="col-md-8">
    <p><%= @staff.description %></p>
  </div>
</div>
