<div class="modal collapse in" tabindex="-1" role="dialog" id="deleted-product-confirm-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p><%= @product.name %> has been deleted.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default continue-btn">Continue</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
