<% notifications.each do |notification| %>
  <div class="alert alert-dismissible <%= notification_card_class(notification) %>" role="alert" id="notification-<%= notification.id %>">
    <%= link_to read_account_notification_path(notification), class: 'close', remote: true, data: { method: :post } do %>
      <span aria-hidden="true">CLOSE</span>
    <% end %>
    <%= stronger_truncate_html((raw notification.content), length: 380) %>
  </div>
<% end %>
