<div class="col-md-4">
  <div class="product-wrapper">
    <div class="product-wrapper-inner flip-container">
      <div class="flipper">
        <div class="flip-front">
          <h5 class="title"><%= product.name %></h5>
          <button class="btn btn-link flip-btn">
            More
          </button>
        </div>
        <div class="flip-back">
          <p><%= product.description %></p>
          <button class="btn btn-link flip-btn">
            Back
          </button>
        </div>
      </div>
    </div>
    <%= link_to 'Launch', spree.launch_product_path(product), class: 'btn btn-link' %>
  </div>
</div>
