<h4>Recommended</h4>
<div class="row">
  <div class="recommended-products col-xs-12">
    <% @recommendations.each do |recommendation| %>
      <div class="recommended-product-wrapper">
        <% if recommendation.photo.present? %>
          <%= image_tag recommendation.photo.url, class: 'img-circle', width: 100, height: 100 %>
        <% else %>
          <img src="http://placehold.it/100x100" class="img-circle">
        <% end %>
        <h4><%= recommendation.title %></h4>
        <p><%= recommendation.sub_header %></p>
        <%= link_to recommendation.call_to_action_button_text, recommendation.call_to_action_button_link, class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
