<a href="/account/history" class="btn btn-primary view-all-link">View All History</a>
<div class="history-list">
  <% @recent_activities.each do |activity| %>
    <div class="history-item">
      <span class="glyphicon glyphicon-info-sign"></span>
      <h4><%= activity.title %></h4>
      <p><%= activity.created_at.strftime("%b %d, %Y") %></p>
    </div>
  <% end %>
</div>
