<h4>Recommended for You</h4>

<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="card card-media card-math">
        <div class="card-image" style="background-image: url('https://s3.greatminds.org/documents/attachments/000/000/291/large/classroom_view_copy1.jpg?1470061231')" height="175px"></div>
        <div class="card-media--content">
          <div class="card-meta">Math</div>
          <h4 class="card-title">Eureka Math in Spanish</h4>
          <p>Student Edition workbooks, Teacher Editions, and Packets are available for grades K-8 in Spanish. Contact our sales team for more information.</p>
          <button class="btn btn-primary">Contact Sales</button>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card card-media card-english">
        <div class="card-image" style="background-image: url('https://s3.greatminds.org/documents/attachments/000/000/291/large/classroom_view_copy1.jpg?1470061231')" height="175px"></div>
        <div class="card-media--content">
          <div class="card-meta">English</div>
          <h4 class="card-title">Eureka Math in Spanish</h4>
          <p>Student Edition workbooks, Teacher Editions, and Packets are available for grades K-8 in Spanish. Contact our sales team for more information. Student Edition workbooks, Teacher Editions, and Packets are available for grades K-8 in Spanish. Contact our sales team for more information.</p>
          <button class="btn btn-primary">Contact Sales</button>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card card-media card-history">
        <div class="card-image" style="background-image: url('https://s3.greatminds.org/documents/attachments/000/000/291/large/classroom_view_copy1.jpg?1470061231')" height="175px"></div>
        <div class="card-media--content">
          <div class="card-meta">History</div>
          <h4 class="card-title">Eureka Math in Spanish</h4>
          <p>Student Edition workbooks, Teacher Editions, and Packets are available for grades K-8 in Spanish. Contact our sales team for more information. Student Edition workbooks, Teacher Editions, and Packets are available for grades K-8 in Spanish. Contact our sales team for more information. Student Edition workbooks, Teacher Editions, and Packets are available for grades K-8 in Spanish. Contact our sales team for more information. Student Edition workbooks, Teacher Editions, and Packets are available for grades K-8 in Spanish. Contact our sales team for more information.</p>
          <button class="btn btn-primary">Contact Sales</button>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination-wrapper">
    <div class="swiper-button-prev">
      <i class="mi md-24">chevron_left</i>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next">
      <i class="mi md-24">chevron_right</i>
    </div>
  </div>
</div>

<script>
  var mySwiper = new Swiper ('.swiper-container', {
    direction: 'horizontal',
    loop: true,
    autoHeight: true,
    pagination: '.swiper-pagination',
    paginationClickable: true,
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev'
  });
</script>
