<div class="row">
  <div class="col-xs-12 col-lg-5">
    <h4>Recent Resources</h4>
  </div>

  <div class="col-xs-7 col-lg-4">
    <% if $flipper[:coupon_code].enabled? %>
      <%= link_to new_account_coupon_code_path, class: 'btn btn-sm btn-default btn-block margin-bottom--xl hide', id: 'new-coupon-code-btn', remote: true do %>
        Product Key
      <% end %>
    <% end %>
  </div>

  <div class="col-xs-5 col-lg-3">
    <div class="dropdown dropdown-md">
      <button class="btn btn-default btn-sm btn-block dropdown-toggle dropdown-md-btn margin-bottom--xl" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Refine
        <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i>
      </button>
      <ul class="dropdown-menu dropdown-md-menu">
        <li class="dropdown-md-item">
          <a href="/" class="dropdown-md-link">Refine item 1</a>
        </li>
        <li class="dropdown-md-item">
          <a href="/" class="dropdown-md-link">Refine item 2</a>
        </li>
        <li class="dropdown-md-item">
          <a href="/" class="dropdown-md-link">Refine item 3</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<a href="#" class="card-link">
  <div class="card card-english">
    <div class="card-meta">English</div>
    <h4 class="card-title">Grade 1 Digital Teacher Edition</h4>
  </div>
</a>

<a href="#" class="card-link">
  <div class="card card-math">
    <div class="card-meta">Math</div>
    <h4 class="card-title">Grades 3-5: Solving Word Problems with Tape Diagrams</h4>
  </div>
</a>

<div class="well text-center">
  <h4 class="bh5 margin-bottom--reset">You have 2 resources</h4>
  <h4 class="bh5 margin-bottom--reset">Explore more in the shop</h4>
</div>
