<a href="/account/history" class="btn btn-default view-all-link">View All History</a>
<div class="history-list">
  <% @recent_activities.each do |activity| %>
    <div class="history-item">
      <%= mi.info %>
      <h6><%= activity.title %></h6>
      <p><%= activity.created_at.strftime("%b %d, %Y") %></p>
    </div>
  <% end %>
</div>
