<div class="container container-content">
  <h3>Profile Information</h3>
  <%= render 'profile_information' %>
</div>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function() {
      $('#settings-tabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })
    });
  <% end %>
<% end %>
