<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 margin-top-xxl margin-bottom-xl">
    <h2>Profile Information</h2>
    <%= render 'profile_information' %>
  </div>
</div>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function() {
      $('#settings-tabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })
    });
  <% end %>
<% end %>
