<% content_for :page_title do %>
  Product Key / <%= link_to @coupon_code.code, admin_coupon_code_path(@coupon_code)  %> / <%= @product.name %>
<% end %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>School</th>
      </tr>
    </thead>
    <tbody>
      <% @data.each do |d| %>
        <tr>
          <td><%= d.first %></td>
          <td><%= d.try(:[], 1) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
