<%= render 'cms_nav' %>
<div class="col-md-9">
  <h2>Editing Training Session Type</h2>

  <%= render 'form' %>

  <%= link_to 'Back', cms_training_type_category_event_trainings_path(@training_type_category), class: 'btn btn-default' %>
</div>
