<%= render 'cms_nav' %>
<div class="col-md-9">
  <section>
    <div class='row'>
      <h2>New Training Session Type</h2>

      <%= render 'form' %>

      <%= link_to 'Back', cms_event_trainings_path, class: 'btn btn-default' %>
    </div>
  </section>
</div>
