<%= render 'cms_nav' %>
<div class="col-md-9">
  <h2>Editing Medium Publication</h2>

  <%= render 'form' %>

  <%= link_to 'Show', [:cms, @medium_publication], class: 'btn btn-default' %>
  <%= link_to 'Back', cms_medium_publications_path, class: 'btn btn-default' %>
</div>
