<%= render 'cms_nav' %>

<div class="col-md-9">
  <%= render partial: 'search_bar' %>
  <div class="panel panel-primary">
    <div class="panel-heading padding-top--s padding-bottom--s">
      <h3 class="panel-title panel-title-s">Medium Publications</h3>
    </div>
    <%= render partial: 'medium_publications_list' %>
  </div>

  <p>All medium posts will be imported every 2 hours. To import immediately click the following button.</p>
  <%= link_to "Import posts from medium", trigger_medium_importer_cms_medium_publications_path, class: 'btn btn-primary', remote: true, data: { method: :post, confirm: 'Are you sure to import medium posts immediately?' } %>
  
</div>
