<p>
Dear <%= user_first_name %>,
</p>

<p>
You have been granted access to <%= product_name %>. Log into your dashboard at <%= link_to root_url, root_url %> to try it out. 
</p>

<p>
Please reach out to us if you have any questions. 
</p>

<p>
Regards,
</p>

<p>
Great Minds
</p>
<a href="mailto:orderprocessing@greatminds.net">orderprocessing@greatminds.net</a>

<p>
202.223.1854
</p>
