<p>
<%= admin_full_name %> has given you <%= licenses_text %>. Log in or create an account at <%= link_to root_url, root_url %> with this email address to begin enrolling your teachers.  
</p>

<p>
Please reach out to us if you have any questions.
</p>

<p>
Regards,
</p>

<p>
Great Minds
</p>
<a href="mailto:orderprocessing@greatminds.net">orderprocessing@greatminds.net</a>

<p>
202.223.1854
</p>
