<%= render 'cms_nav' %>
<div class="col-md-9">
  <section>
    <div class='row'>
      <h2>Editing Event Page</h2>

      <%= render 'form' %>

      <%= link_to 'Show', page_events_path(page_slug: @event_page.page.slug), class: 'btn btn-default' if @event_page.page %>
      <%= link_to 'Back', cms_event_pages_path, class: 'btn btn-default' %>
    </div>
  </section>
</div>
