<script type="text/javascript">
//<![CDATA[
  (function($){
   $("#admin_new_licenses_form_user_id").select2({
      placeholder: "Select school district admin",
      ajax: {
        url: '/resources/api/v1/users',
        datatype: 'json',
        data: function (term, page) {
          return {
            per_page: 50,
            page: page,
            without_children: true,
            q: {
              email_cont: term
            },
            token: Spree.api_key
          };
        },
        results: function (data, page) {
          var more = page < data.pages;
          return {
            results: data['users'],
            more: more
          };
        }
      },
      formatResult: function (user) {
        return user.email;
      },
      formatSelection: function (user) {
        return user.email;
      }
   });
   $("#admin_new_licenses_form_product_ids").select2({
      placeholder: "Select product",
      multiple: true,
      ajax: {
        url: '/resources/api/v1/products',
        datatype: 'json',
        data: function (term, page) {
          return {
            per_page: 50,
            page: page,
            without_children: true,
            q: {
              name_cont: term
            },
            token: Spree.api_key
          };
        },
        results: function (data, page) {
          var more = page < data.pages;
          return {
            results: data.products,
            more: more
          };
        }
      },
      formatResult: function (product) {
        return product.name;
      },
      formatSelection: function (product) {
        return product.name;
      }
   });

   $('#admin_new_licenses_form_payment_method_id').change(function(){
     var paymentMethodId = $(this).val();
     togglePaymentMethod(paymentMethodId);
   });

   function togglePaymentMethod(paymentMethodId) {
      $('.payment-method').hide();
      $('#payment-methods :input').prop('disabled', true);
      $("#payment_method_" + paymentMethodId).show();
      $("#payment_method_" + paymentMethodId + ' :input').prop('disabled', false);
   }

   togglePaymentMethod($('#admin_new_licenses_form_payment_method_id').val());

   $('#product_id').select2();

   var productHTML = "<div class='product-item'><span>PRODUCT_NAME</span>/QUANTITY<input type='hidden' name='products[PRODUCT_ID]' value='QUANTITY'><button class='btn btn-default remove-product'>Remove</button></div>";
   $('#add-product-btn').click(function(e){
     e.preventDefault();
     var html = productHTML;
     var productId = $('#product_id').val();
     var productName = $('#product_id option:selected').text();
     var quantity = $('#quantity').val();
     if (!productId || !quantity) {
       alert('Please choose product and enter quantity!');
       return;
     }
     html = html.replace('PRODUCT_NAME', productName);
     html = html.replace(/QUANTITY/g, quantity);
     html = html.replace('PRODUCT_ID', productId);
     $('#products-container').append(html);
     $('#product_id').select2('val', null);
     $('#quantity').val('');
   });

   $(document).on('click', '.remove-product', function(e){
     $(this).closest('.product-item').remove();
   });

    $(".cardNumber").payment('formatCardNumber');
    $(".cardExpiry").payment('formatCardExpiry');
    $(".cardCode").payment('formatCardCVC');

    $(".cardNumber").change(function(){
      $(this).parent().siblings(".ccType").val($.payment.cardType($(this).val()));
    });

  })(jQuery);
//]]>
</script>
