<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @licensed_product } %>

<% content_for :page_title do %>
  <%= Spree.t(:import_license) %>
<% end %>

<%= form_tag spree.import_admin_licensed_products_path, multipart: true do %>
  <div class="form-group">
    <label>Upload excel(xlsx) to import</label>
    <input type="file" class="form-control" name="file"/>
    <div class="help-block">
      Excel must include three column in first row: email, product, quantity ( product column must be product's name )
    </div>
  </div>
  <div class="form-group">
    <label>Fulfillment At</label>
    <%= text_field_tag :fulfillment_at, datepicker_field_value(params[:fulfillment_at]), class: 'datepicker form-control' %>
    <p class="help-block">If left blank, license will be fulfilled immediately.</p>
  </div>
  <div class="form-actions" data-hook="buttons">
    <button name="button" type="submit" class="btn btn-primary btn-success"><span class="icon icon-ok"></span> Upload</button>
    <span class="or">or</span>
    <a icon="remove" class="btn btn-default" href="/resources/admin/licensed_products"><span class="icon icon-remove"></span> Cancel</a>
  </div>
<% end %>
