<!-- This is an example markup for a KSS section.
The definition for `1.1` can be found in your app/assets/stylesheets/ folder. -->

<%= kss_block '1.0' do %>
<div>
  <div class="color-swatch positive-primary"></div>
  <div class="color-swatch positive-secondary"></div>
  <div class="color-swatch positive-accent"></div>
  <div class="color-swatch positive-highlight"></div>
  <div class="color-swatch positive-subdue"></div>
</div>
<% end %>

<%= kss_block '1.0.1' do %>
<div>
  <div class="color-swatch balanced-primary"></div>
  <div class="color-swatch balanced-highlight"></div>
  <div class="color-swatch balanced-subdue"></div>
</div>
<% end %>

<%= kss_block '1.0.2' do %>
<div>
  <div class="color-swatch energized-primary"></div>
  <div class="color-swatch energized-secondary"></div>
  <div class="color-swatch energized-highlight"></div>
</div>
<% end %>

<%= kss_block '1.0.3' do %>
<div>
  <div class="color-swatch firm-primary"></div>
  <div class="color-swatch firm-secondary"></div>
  <div class="color-swatch firm-accent"></div>
  <div class="color-swatch firm-highlight"></div>
  <div class="color-swatch firm-subdue"></div>
</div>
<% end %>

<%= kss_block '1.0.4' do %>
<div>
  <div class="color-swatch stable-primary"></div>
  <div class="color-swatch stable-secondary"></div>
  <div class="color-swatch stable-subdue"></div>
</div>
<% end %>
