<%= kss_block '10.0' do %>
<div class="alert alert-success" role="alert">
  <i class="mi">check_circle</i> <strong>Well done!</strong> You successfully read this important alert message.
</div>
<div class="alert alert-info" role="alert">
  <i class="mi">info_circle</i> <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
</div>
<div class="alert alert-warning" role="alert">
  <i class="mi">help_outline</i> <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>
<% end %>
