<%= kss_block '12.0' do %>
<div class="jumbotron">
  <h1 class="jumbotron-title">Lorem ipsum <br /> dolor sit amet</h1>
  <p>Phasellus aliquet commodo auctor. Nam aliquet tincidunt purus, in tempus turpis interdum vitae.</p>
  <a class="btn btn-primary" href="#" role="button">Learn more</a>
</div>
<% end %>

<%= kss_block '12.1' do %>
<div class="jumbotron jumbotron-primary">
  <h1 class="jumbotron-title">Lorem ipsum <br /> dolor sit amet</h1>
  <p>Phasellus aliquet commodo auctor. Nam aliquet tincidunt purus, in tempus turpis interdum vitae.</p>
  <a class="btn btn-success" href="#" role="button">Learn more</a>
</div>
<% end %>

<%= kss_block '12.2' do %>
<div class="jumbotron jumbotron-background" style="background-image: url('https://s3.greatminds.org/documents/attachments/000/000/037/large/HS_boy.jpg?1458617395')">
  <div class="row">
    <div class="col-sm-9">
      <h1 class="jumbotron-title">Lorem ipsum</h1>
      <p>Phasellus aliquet commodo auctor. Nam aliquet tincidunt purus, in tempus turpis interdum vitae.</p>
    </div>
    <div class="col-sm-3">
      Search
    </div>
  </div>
</div>
<% end %>

<%= kss_block '12.3' do %>
<div class="jumbotron jumbotron-background" style="background-image: url('https://s3.greatminds.org/documents/attachments/000/000/037/large/HS_boy.jpg?1458617395')">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <a class="btn btn-primary btn-transparent btn-sm margin-bottom--l" href="#" role="button">Back</a>
      <h1 class="jumbotron-title">Lorem ipsum <br /> dolor sit amet</h1>
      <hr class="jumbotron-divider" />
      <span class="jumbotron-byline">Ut: Lorem Ipsum</span>
    </div>
  </div>
</div>
<% end %>
