<%= kss_block '12.0' do %>
<div class="jumbotron">
  <h1 class="jumbotron-title">Giving Teachers<br /> the PD They Need and Want</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <a class="btn btn-primary" href="#" role="button">Learn more</a>
</div>
<% end %>

<%= kss_block '12.1' do %>
<div class="jumbotron jumbotron-primary">
  <h1 class="jumbotron-title">Giving Teachers<br /> the PD They Need and Want</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <a class="btn btn-success" href="#" role="button">Learn more</a>
</div>
<% end %>
