<%= kss_block '13.0' do %>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src=" http://fillmurray.com/300/300" class="img-square" alt="...">
      <div class="caption">
        <h3>Fill Murray</h3>
        <p><em>True Gentleman</em></p>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src=" http://fillmurray.com/300/300" class="img-square" alt="...">
      <div class="caption">
        <h3>Fill Murray</h3>
        <p><em>True Gentleman</em></p>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src=" http://fillmurray.com/300/300" class="img-square" alt="...">
      <div class="caption">
        <h3>Fill Murray</h3>
        <p><em>True Gentleman</em></p>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src=" http://fillmurray.com/300/300" class="img-square" alt="...">
      <div class="caption">
        <h3>Fill Murray</h3>
        <p><em>True Gentleman</em></p>
      </div>
    </a>
  </div>
</div>
<% end %>
