<%= kss_block '14.0' do %>
<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
<% end %>

<%= kss_block '14.1' do %>
<div class="list-group">
  <a href="#" class="list-group-item active">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>
<% end %>

<%= kss_block '14.2' do %>
<div class="list-group list-group-event">
  <div class="list-group-item list-group-event-item">
    <h4 class="list-group-event-title">Oakland, CA - Preparation and Customization</h4>
    <div class="row">
      <div class="col-sm-3">
        <div class="list-group list-group-event-details">
          <div class="list-group-item list-group-item-success">
            <div class="list-group-event-date">Feb 16 - 17, 2017</div>
          </div>
          <a href="" class="list-group-item list-group-item-link list-group-item-success">
            Event Details <i class="mi md-18">open_in_new</i>
          </a>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="list-group-event-meta">
          <span class="list-group-event-meta-title">Grade Bands:</span> K-5, 6-8
        </div>
        <div class="list-group-event-meta">
          <span class="list-group-event-meta-title">Session Types:</span> <a href="" class="list-group-event-meta-link">Prep &amp; Customization (Foundational)</a>, <a href="" class="list-group-event-meta-link">Focus on Fluency (Foundational)</a>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group-item list-group-event-item">
    <h4 class="list-group-event-title">Pittsburgh, PA - Eureka Math PD</h4>
    <div class="row">
      <div class="col-sm-3">
        <div class="list-group list-group-event-details">
          <div class="list-group-item list-group-item-success">
            <div class="list-group-event-date">Mar 30 - 31, 2017</div>
          </div>
          <a href="" class="list-group-item list-group-item-link list-group-item-success">
            Event Details <i class="mi md-18">open_in_new</i>
          </a>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="list-group-event-meta">
          <span class="list-group-event-meta-title">Grade Bands:</span> K-5, 6-12
        </div>
        <div class="list-group-event-meta">
          <span class="list-group-event-meta-title">Session Types:</span> <a href="" class="list-group-event-meta-link">Prep &amp; Customization (Foundational)</a>, <a href="" class="list-group-event-meta-link">Engineered Teaching Sequences</a>, <a href="" class="list-group-event-meta-link">Focus on Fluency</a>, <a href="" class="list-group-event-meta-link">Lesson Customzation and Preparation</a>, <a href="" class="list-group-event-meta-link">Module Study</a>, <a href="" class="list-group-event-meta-link">Foundational Math</a>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
