<%= kss_block '15.0' do %>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail thumbnail-team">
      <img src=" http://fillmurray.com/300/300" class="img-square" alt="...">
      <div class="caption">
        <h3>Fill Murray</h3>
        <p><em>True Gentleman</em></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail thumbnail-team">
      <img src=" http://fillmurray.com/300/300" class="img-square" alt="...">
      <div class="caption">
        <h3>Fill Murray</h3>
        <p><em>True Gentleman</em></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail thumbnail-team">
      <img src=" http://fillmurray.com/300/300" class="img-square" alt="...">
      <div class="caption">
        <h3>Fill Murray</h3>
        <p><em>True Gentleman</em></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail thumbnail-team">
      <img src=" http://fillmurray.com/300/300" class="img-square" alt="...">
      <div class="caption">
        <h3>Fill Murray</h3>
        <p><em>True Gentleman</em></p>
      </div>
    </div>
  </div>
</div>
<% end %>
