<%= kss_block '18.0' do %>
<div class="card">
  <h4 class="card-title">Lorem ipsum</h4>
  <div class="card-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet commodo auctor.</p>
  </div>
  <a href="#" class="btn btn-link">
    Lorem <i class="mi md-24">chevron_right</i>
  </a>
</div>
<% end %>

<%= kss_block '18.1' do %>
<a href="#" class="card-link">
  <div class="card">
    <h4 class="card-title">Lorem ipsum</h4>
    <div class="card-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet commodo auctor.</p>
    </div>
  </div>
</a>
<% end %>

<%= kss_block '18.2' do %>
<div class="row">
  <div class="col-sm-4">
    <div class="card card-math">
      <h4 class="card-title">Lorem ipsum</h4>
      <div class="card-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet commodo auctor.</p>
      </div>
      <a href="#" class="btn btn-link">
        Lorem <i class="mi md-24">chevron_right</i>
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-english">
      <h4 class="card-title">Lorem ipsum</h4>
      <div class="card-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet commodo auctor.</p>
      </div>
      <a href="#" class="btn btn-link">
        Lorem <i class="mi md-24">chevron_right</i>
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-history">
      <h4 class="card-title">Lorem ipsum</h4>
      <div class="card-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet commodo auctor.</p>
      </div>
      <a href="#" class="btn btn-link">
        Lorem <i class="mi md-24">chevron_right</i>
      </a>
    </div>
  </div>
</div>
<% end %>

<%= kss_block '18.3' do %>
<div class="card-link">
  <div class="card">
    <div class="card-video" style="background-image: url('https://s3-qa.greatminds.org/spree/videos/screenshots/000/000/488/medium/open-uri20160414-14340-fn9wpm?1460693219')">
      <i class="mi md-48 video-link-icon">play_circle_outline</i>
    </div>
    <div class="card-media--content">
      <div class="card-meta">Lorem ipsum</div>
      <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
    </div>
  </div>
</div>
<% end %>
