<%= kss_block '4.0' do %>
<div class="itemBox">
  <i class="mi md-24">3d_rotation</i>
  <div class="caption">3d rotation</div>
</div>
<div class="itemBox">
  <i class="mi md-24">accessibility</i>
  <div class="caption">accessibility</div>
</div>
<div class="itemBox">
  <i class="mi md-24">accessible</i>
  <div class="caption">accessible</div>
</div>
<div class="itemBox">
  <i class="mi md-24">account_balance</i>
  <div class="caption">account balance</div>
</div>
<div class="itemBox">
  <i class="mi md-24">account_balance_wallet</i>
  <div class="caption">account balance wallet</div>
</div>
<div class="itemBox">
  <i class="mi md-24">account_box</i>
  <div class="caption">account box</div>
</div>
<div class="itemBox">
  <i class="mi md-24">account_circle</i>
  <div class="caption">account circle</div>
</div>
<div class="itemBox">
  <i class="mi md-24">add_shopping_cart</i>
  <div class="caption">add shopping cart</div>
</div>
<div class="itemBox">
  <i class="mi md-24">alarm</i>
  <div class="caption">alarm</div>
</div>
<div class="itemBox">
  <i class="mi md-24">alarm_add</i>
  <div class="caption">alarm add</div>
</div>
<div class="itemBox">
  <i class="mi md-24">alarm_off</i>
  <div class="caption">alarm off</div>
</div>
<div class="itemBox">
  <i class="mi md-24">alarm_on</i>
  <div class="caption">alarm on</div>
</div>
<div class="itemBox">
  <i class="mi md-24">all_out</i>
  <div class="caption">all out</div>
</div>
<div class="itemBox">
  <i class="mi md-24">android</i>
  <div class="caption">android</div>
</div>
<div class="itemBox">
  <i class="mi md-24">announcement</i>
  <div class="caption">announcement</div>
</div>
<div class="itemBox">
  <i class="mi md-24">aspect_ratio</i>
  <div class="caption">aspect ratio</div>
</div>
<div class="itemBox">
  <i class="mi md-24">assessment</i>
  <div class="caption">assessment</div>
</div>
<div class="itemBox">
  <i class="mi md-24">assignment</i>
  <div class="caption">assignment</div>
</div>
<div class="itemBox">
  <i class="mi md-24">assignment_ind</i>
  <div class="caption">assignment ind</div>
</div>
<div class="itemBox">
  <i class="mi md-24">assignment_late</i>
  <div class="caption">assignment late</div>
</div>
<div class="itemBox">
  <i class="mi md-24">assignment_return</i>
  <div class="caption">assignment return</div>
</div>
<div class="itemBox">
  <i class="mi md-24">assignment_returned</i>
  <div class="caption">assignment returned</div>
</div>
<div class="itemBox">
  <i class="mi md-24">assignment_turned_in</i>
  <div class="caption">assignment turned in</div>
</div>
<div class="itemBox">
  <i class="mi md-24">autorenew</i>
  <div class="caption">autorenew</div>
</div>
<div class="itemBox">
  <i class="mi md-24">backup</i>
  <div class="caption">backup</div>
</div>
<div class="itemBox">
  <i class="mi md-24">book</i>
  <div class="caption">book</div>
</div>
<div class="itemBox">
  <i class="mi md-24">bookmark</i>
  <div class="caption">bookmark</div>
</div>
<div class="itemBox">
  <i class="mi md-24">bookmark_border</i>
  <div class="caption">bookmark border</div>
</div>
<div class="itemBox">
  <i class="mi md-24">bug_report</i>
  <div class="caption">bug report</div>
</div>
<div class="itemBox">
  <i class="mi md-24">build</i>
  <div class="caption">build</div>
</div>
<div class="itemBox">
  <i class="mi md-24">cached</i>
  <div class="caption">cached</div>
</div>
<div class="itemBox">
  <i class="mi md-24">camera_enhance</i>
  <div class="caption">camera enhance</div>
</div>
<div class="itemBox">
  <i class="mi md-24">card_giftcard</i>
  <div class="caption">card giftcard</div>
</div>
<div class="itemBox">
  <i class="mi md-24">card_membership</i>
  <div class="caption">card membership</div>
</div>
<div class="itemBox">
  <i class="mi md-24">card_travel</i>
  <div class="caption">card travel</div>
</div>
<div class="itemBox">
  <i class="mi md-24">change_history</i>
  <div class="caption">change history</div>
</div>
<div class="itemBox">
  <i class="mi md-24">check_circle</i>
  <div class="caption">check circle</div>
</div>
<div class="itemBox">
  <i class="mi md-24">chevron_left</i>
  <div class="caption">chevron left</div>
</div>
<div class="itemBox">
  <i class="mi md-24">chevron_right</i>
  <div class="caption">chevron right</div>
</div>
<div class="itemBox">
  <i class="mi md-24">chrome_reader_mode</i>
  <div class="caption">chrome reader mode</div>
</div>
<div class="itemBox">
  <i class="mi md-24">class</i>
  <div class="caption">class</div>
</div>
<div class="itemBox">
  <i class="mi md-24">code</i>
  <div class="caption">code</div>
</div>
<div class="itemBox">
  <i class="mi md-24">compare_arrows</i>
  <div class="caption">compare arrows</div>
</div>
<div class="itemBox">
  <sup><i class="mi md-24">copyright</i></sup>
  <div class="caption">copyright</div>
</div>
<div class="itemBox">
  <i class="mi md-24">credit_card</i>
  <div class="caption">credit card</div>
</div>
<div class="itemBox">
  <i class="mi md-24">dashboard</i>
  <div class="caption">dashboard</div>
</div>
<div class="itemBox">
  <i class="mi md-24">date_range</i>
  <div class="caption">date range</div>
</div>
<div class="itemBox">
  <i class="mi md-24">delete</i>
  <div class="caption">delete</div>
</div>
<div class="itemBox">
  <i class="mi md-24">description</i>
  <div class="caption">description</div>
</div>
<div class="itemBox">
  <i class="mi md-24">dns</i>
  <div class="caption">dns</div>
</div>
<div class="itemBox">
  <i class="mi md-24">done</i>
  <div class="caption">done</div>
</div>
<div class="itemBox">
  <i class="mi md-24">done_all</i>
  <div class="caption">done all</div>
</div>
<div class="itemBox">
  <i class="mi md-24">donut_large</i>
  <div class="caption">donut large</div>
</div>
<div class="itemBox">
  <i class="mi md-24">donut_small</i>
  <div class="caption">donut small</div>
</div>
<div class="itemBox">
  <i class="mi md-24">eject</i>
  <div class="caption">eject</div>
</div>
<div class="itemBox">
  <i class="mi md-24">event</i>
  <div class="caption">event</div>
</div>
<div class="itemBox">
  <i class="mi md-24">event_seat</i>
  <div class="caption">event seat</div>
</div>
<div class="itemBox">
  <i class="mi md-24">exit_to_app</i>
  <div class="caption">exit to app</div>
</div>
<div class="itemBox">
  <i class="mi md-24">explore</i>
  <div class="caption">explore</div>
</div>
<div class="itemBox">
  <i class="mi md-24">extension</i>
  <div class="caption">extension</div>
</div>
<div class="itemBox">
  <i class="mi md-24">face</i>
  <div class="caption">face</div>
</div>
<div class="itemBox">
  <i class="mi md-24">favorite</i>
  <div class="caption">favorite</div>
</div>
<div class="itemBox">
  <i class="mi md-24">favorite_border</i>
  <div class="caption">favorite border</div>
</div>
<div class="itemBox">
  <i class="mi md-24">feedback</i>
  <div class="caption">feedback</div>
</div>
<div class="itemBox">
  <i class="mi md-24">find_in_page</i>
  <div class="caption">find in page</div>
</div>
<div class="itemBox">
  <i class="mi md-24">find_replace</i>
  <div class="caption">find replace</div>
</div>
<div class="itemBox">
  <i class="mi md-24">fingerprint</i>
  <div class="caption">fingerprint</div>
</div>
<div class="itemBox">
  <i class="mi md-24">flight_land</i>
  <div class="caption">flight land</div>
</div>
<div class="itemBox">
  <i class="mi md-24">flight_takeoff</i>
  <div class="caption">flight takeoff</div>
</div>
<div class="itemBox">
  <i class="mi md-24">flip_to_back</i>
  <div class="caption">flip to back</div>
</div>
<div class="itemBox">
  <i class="mi md-24">flip_to_front</i>
  <div class="caption">flip to front</div>
</div>
<div class="itemBox">
  <i class="mi md-24">gavel</i>
  <div class="caption">gavel</div>
</div>
<div class="itemBox">
  <i class="mi md-24">get_app</i>
  <div class="caption">get app</div>
</div>
<div class="itemBox">
  <i class="mi md-24">gif</i>
  <div class="caption">gif</div>
</div>
<div class="itemBox">
  <i class="mi md-24">grade</i>
  <div class="caption">grade</div>
</div>
<div class="itemBox">
  <i class="mi md-24">group_work</i>
  <div class="caption">group work</div>
</div>
<div class="itemBox">
  <i class="mi md-24">help</i>
  <div class="caption">help</div>
</div>
<div class="itemBox">
  <i class="mi md-24">help_outline</i>
  <div class="caption">help outline</div>
</div>
<div class="itemBox">
  <i class="mi md-24">highlight_off</i>
  <div class="caption">highlight off</div>
</div>
<div class="itemBox">
  <i class="mi md-24">history</i>
  <div class="caption">history</div>
</div>
<div class="itemBox">
  <i class="mi md-24">home</i>
  <div class="caption">home</div>
</div>
<div class="itemBox">
  <i class="mi md-24">hourglass_empty</i>
  <div class="caption">hourglass empty</div>
</div>
<div class="itemBox">
  <i class="mi md-24">hourglass_full</i>
  <div class="caption">hourglass full</div>
</div>
<div class="itemBox">
  <i class="mi md-24">http</i>
  <div class="caption">http</div>
</div>
<div class="itemBox">
  <i class="mi md-24">https</i>
  <div class="caption">https</div>
</div>
<div class="itemBox">
  <i class="mi md-24">important_devices</i>
  <div class="caption">important devices</div>
</div>
<div class="itemBox">
  <i class="mi md-24">info</i>
  <div class="caption">info</div>
</div>
<div class="itemBox">
  <i class="mi md-24">info_outline</i>
  <div class="caption">info outline</div>
</div>
<div class="itemBox">
  <i class="mi md-24">input</i>
  <div class="caption">input</div>
</div>
<div class="itemBox">
  <i class="mi md-24">invert_colors</i>
  <div class="caption">invert colors</div>
</div>
<div class="itemBox">
  <i class="mi md-24">label</i>
  <div class="caption">label</div>
</div>
<div class="itemBox">
  <i class="mi md-24">label_outline</i>
  <div class="caption">label outline</div>
</div>
<div class="itemBox">
  <i class="mi md-24">language</i>
  <div class="caption">language</div>
</div>
<div class="itemBox">
  <i class="mi md-24">launch</i>
  <div class="caption">launch</div>
</div>
<div class="itemBox">
  <i class="mi md-24">lightbulb_outline</i>
  <div class="caption">lightbulb outline</div>
</div>
<div class="itemBox">
  <i class="mi md-24">line_style</i>
  <div class="caption">line style</div>
</div>
<div class="itemBox">
  <i class="mi md-24">line_weight</i>
  <div class="caption">line weight</div>
</div>
<div class="itemBox">
  <i class="mi md-24">list</i>
  <div class="caption">list</div>
</div>
<div class="itemBox">
  <i class="mi md-24">lock</i>
  <div class="caption">lock</div>
</div>
<div class="itemBox">
  <i class="mi md-24">lock_open</i>
  <div class="caption">lock open</div>
</div>
<div class="itemBox">
  <i class="mi md-24">lock_outline</i>
  <div class="caption">lock outline</div>
</div>
<div class="itemBox">
  <i class="mi md-24">loyalty</i>
  <div class="caption">loyalty</div>
</div>
<div class="itemBox">
  <i class="mi md-24">markunread_mailbox</i>
  <div class="caption">markunread mailbox</div>
</div>
<div class="itemBox">
  <i class="mi md-24">motorcycle</i>
  <div class="caption">motorcycle</div>
</div>
<div class="itemBox">
  <i class="mi md-24">note_add</i>
  <div class="caption">note add</div>
</div>
<div class="itemBox">
  <i class="mi md-24">offline_pin</i>
  <div class="caption">offline pin</div>
</div>
<div class="itemBox">
  <i class="mi md-24">opacity</i>
  <div class="caption">opacity</div>
</div>
<div class="itemBox">
  <i class="mi md-24">open_in_browser</i>
  <div class="caption">open in browser</div>
</div>
<div class="itemBox">
  <i class="mi md-24">open_in_new</i>
  <div class="caption">open in new</div>
</div>
<div class="itemBox">
  <i class="mi md-24">open_with</i>
  <div class="caption">open with</div>
</div>
<div class="itemBox">
  <i class="mi md-24">pageview</i>
  <div class="caption">pageview</div>
</div>
<div class="itemBox">
  <i class="mi md-24">pan_tool</i>
  <div class="caption">pan tool</div>
</div>
<div class="itemBox">
  <i class="mi md-24">payment</i>
  <div class="caption">payment</div>
</div>
<div class="itemBox">
  <i class="mi md-24">perm_camera_mic</i>
  <div class="caption">perm camera mic</div>
</div>
<div class="itemBox">
  <i class="mi md-24">perm_contact_calendar</i>
  <div class="caption">perm contact calendar</div>
</div>
<div class="itemBox">
  <i class="mi md-24">perm_data_setting</i>
  <div class="caption">perm data setting</div>
</div>
<div class="itemBox">
  <i class="mi md-24">perm_device_information</i>
  <div class="caption">perm device information</div>
</div>
<div class="itemBox">
  <i class="mi md-24">perm_identity</i>
  <div class="caption">perm identity</div>
</div>
<div class="itemBox">
  <i class="mi md-24">perm_media</i>
  <div class="caption">perm media</div>
</div>
<div class="itemBox">
  <i class="mi md-24">perm_phone_msg</i>
  <div class="caption">perm phone msg</div>
</div>
<div class="itemBox">
  <i class="mi md-24">perm_scan_wifi</i>
  <div class="caption">perm scan wifi</div>
</div>
<div class="itemBox">
  <i class="mi md-24">pets</i>
  <div class="caption">pets</div>
</div>
<div class="itemBox">
  <i class="mi md-24">query_builder</i>
  <div class="caption">query builder</div>
</div>
<div class="itemBox">
  <i class="mi md-24">print</i>
  <div class="caption">print</div>
</div>
<div class="itemBox">
  <i class="mi md-24">pregnant_woman</i>
  <div class="caption">pregnant woman</div>
</div>
<div class="itemBox">
  <i class="mi md-24">power_settings_new</i>
  <div class="caption">power settings new</div>
</div>
<div class="itemBox">
  <i class="mi md-24">polymer</i>
  <div class="caption">polymer</div>
</div>
<div class="itemBox">
  <i class="mi md-24">play_for_work</i>
  <div class="caption">play for work</div>
</div>
<div class="itemBox">
  <i class="mi md-24">picture_in_picture_alt</i>
  <div class="caption">picture in picture alt</div>
</div>
<div class="itemBox">
  <i class="mi md-24">picture_in_picture</i>
  <div class="caption">picture in picture</div>
</div>
<div class="itemBox">
  <i class="mi md-24">pets</i>
  <div class="caption">pets</div>
</div>
<div class="itemBox">
  <i class="mi md-24">perm_scan_wifi</i>
  <div class="caption">perm scan wifi</div>
</div>
<div class="itemBox">
  <i class="mi md-24">perm_phone_msg</i>
  <div class="caption">perm phone msg</div>
</div>
<div class="itemBox">
  <i class="mi md-24">perm_media</i>
  <div class="caption">perm media</div>
</div>
<div class="itemBox">
  <i class="mi md-24">perm_identity</i>
  <div class="caption">perm identity</div>
</div>
<div class="itemBox">
  <i class="mi md-24">perm_device_information</i>
  <div class="caption">perm device information</div>
</div>
<div class="itemBox">
  <i class="mi md-24">perm_data_setting</i>
  <div class="caption">perm data setting</div>
</div>
<div class="itemBox">
  <i class="mi md-24">perm_contact_calendar</i>
  <div class="caption">perm contact calendar</div>
</div>
<div class="itemBox">
  <i class="mi md-24">perm_camera_mic</i>
  <div class="caption">perm camera mic</div>
</div>
<div class="itemBox">
  <i class="mi md-24">payment</i>
  <div class="caption">payment</div>
</div>
<div class="itemBox">
  <i class="mi md-24">pan_tool</i>
  <div class="caption">pan tool</div>
</div>
<div class="itemBox">
  <i class="mi md-24">pageview</i>
  <div class="caption">pageview</div>
</div>
<div class="itemBox">
  <i class="mi md-24">open_with</i>
  <div class="caption">open with</div>
</div>
<div class="itemBox">
  <i class="mi md-24">open_in_new</i>
  <div class="caption">open in new</div>
</div>
<div class="itemBox">
  <i class="mi md-24">open_in_browser</i>
  <div class="caption">open in browser</div>
</div>
<div class="itemBox">
  <i class="mi md-24">opacity</i>
  <div class="caption">opacity</div>
</div>
<div class="itemBox">
  <i class="mi md-24">settings_brightness</i>
  <div class="caption">settings brightness</div>
</div>
<div class="itemBox">
  <i class="mi md-24">settings_cell</i>
  <div class="caption">settings cell</div>
</div>
<div class="itemBox">
  <i class="mi md-24">settings_ethernet</i>
  <div class="caption">settings ethernet</div>
</div>
<div class="itemBox">
  <i class="mi md-24">settings_input_antenna</i>
  <div class="caption">settings input antenna</div>
</div>
<div class="itemBox">
  <i class="mi md-24">settings_input_component</i>
  <div class="caption">settings input component</div>
</div>
<div class="itemBox">
  <i class="mi md-24">settings_input_composite</i>
  <div class="caption">settings input composite</div>
</div>
<div class="itemBox">
  <i class="mi md-24">settings_input_hdmi</i>
  <div class="caption">settings input hdmi</div>
</div>
<div class="itemBox">
  <i class="mi md-24">settings_input_svideo</i>
  <div class="caption">settings input svideo</div>
</div>
<div class="itemBox">
  <i class="mi md-24">settings_overscan</i>
  <div class="caption">settings overscan</div>
</div>
<div class="itemBox">
  <i class="mi md-24">settings_phone</i>
  <div class="caption">settings phone</div>
</div>
<div class="itemBox">
  <i class="mi md-24">settings_power</i>
  <div class="caption">settings power</div>
</div>
<div class="itemBox">
  <i class="mi md-24">settings_remote</i>
  <div class="caption">settings remote</div>
</div>
<div class="itemBox">
  <i class="mi md-24">settings_voice</i>
  <div class="caption">settings voice</div>
</div>
<div class="itemBox">
  <i class="mi md-24">shop</i>
  <div class="caption">shop</div>
</div>
<div class="itemBox">
  <i class="mi md-24">shop_two</i>
  <div class="caption">shop two</div>
</div>
<div class="itemBox">
  <i class="mi md-24">shopping_basket</i>
  <div class="caption">shopping basket</div>
</div>
<div class="itemBox">
  <i class="mi md-24">shopping_cart</i>
  <div class="caption">shopping cart</div>
</div>
<div class="itemBox">
  <i class="mi md-24">speaker_notes</i>
  <div class="caption">speaker notes</div>
</div>
<% end %>
