<%= kss_block '5.0' do %>
<!-- Standard button -->
<button type="button" class="btn btn-default">Default</button>
<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Primary</button>
<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>
<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Info</button>
<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>
<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>
<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">Link</button>
<% end %>

<%= kss_block '5.1' do %>
<div style="padding: 10px; background-color: #07212d;">
  <button type="button" class="btn btn-primary btn-transparent">Transparent Button</button>
</div>
<% end %>

<%= kss_block '5.2' do %>
<div class="margin-bottom">
  <button type="button" class="btn btn-primary btn-lg">Large button</button>
  <button type="button" class="btn btn-default btn-lg">Large button</button>
</div>
<div class="margin-bottom">
  <button type="button" class="btn btn-primary">Default button</button>
  <button type="button" class="btn btn-default">Default button</button>
</div>
<div class="margin-bottom">
  <button type="button" class="btn btn-primary btn-sm">Small button</button>
  <button type="button" class="btn btn-default btn-sm">Small button</button>
</div>
<div class="margin-bottom">
  <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
  <button type="button" class="btn btn-default btn-xs">Extra small button</button>
</div>
<% end %>

<%= kss_block '5.3' do %>
<div class="btn-group">
  <button type="button" class="btn btn-default">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default">Right</button>
</div>
<% end %>

<%= kss_block '5.4' do %>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Default <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Primary <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Success <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Info <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Warning <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Danger <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<% end %>

<%= kss_block '5.5' do %>
<div class="dropdown dropdown-md">
  <button type="button" class="btn btn-default btn-block dropdown-toggle dropdown-md-btn" data-toggle="dropdown" aria-expanded="false">Default <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
  <ul class="dropdown-menu dropdown-md-menu" role="menu">
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Another action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Separated link</a></li>
  </ul>
</div>
<div class="dropdown dropdown-md">
  <button type="button" class="btn btn-primary btn-block dropdown-toggle dropdown-md-btn" data-toggle="dropdown" aria-expanded="false">Primary <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
  <ul class="dropdown-menu dropdown-md-menu" role="menu">
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Another action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Separated link</a></li>
  </ul>
</div>
<div class="dropdown dropdown-md">
  <button type="button" class="btn btn-success btn-block dropdown-toggle dropdown-md-btn" data-toggle="dropdown" aria-expanded="false">Success <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
  <ul class="dropdown-menu dropdown-md-menu" role="menu">
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Another action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Separated link</a></li>
  </ul>
</div>
<div class="dropdown dropdown-md">
  <button type="button" class="btn btn-info btn-block dropdown-toggle dropdown-md-btn" data-toggle="dropdown" aria-expanded="false">Info <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
  <ul class="dropdown-menu dropdown-md-menu" role="menu">
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Another action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Separated link</a></li>
  </ul>
</div>
<div class="dropdown dropdown-md">
  <button type="button" class="btn btn-warning btn-block dropdown-toggle dropdown-md-btn" data-toggle="dropdown" aria-expanded="false">Warning <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
  <ul class="dropdown-menu dropdown-md-menu" role="menu">
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Another action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Separated link</a></li>
  </ul>
</div>
<div class="dropdown dropdown-md">
  <button type="button" class="btn btn-danger btn-block dropdown-toggle dropdown-md-btn" data-toggle="dropdown" aria-expanded="false">Danger <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
  <ul class="dropdown-menu dropdown-md-menu" role="menu">
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Another action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Separated link</a></li>
  </ul>
</div>
<% end %>
