<%= kss_block '7.0' do %>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Default <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Primary <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Success <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Info <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Warning <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Danger <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<% end %>

<%= kss_block '7.1' do %>
<div style="height: 250px; padding: 10px; background-image: url('https://s3.greatminds.org/documents/attachments/000/000/274/large/students_in_a_circle.jpg?1467830926'); background-size: cover;">
  <div class="btn-group image-background">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Default <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
</div>
<% end %>

<%= kss_block '7.2' do %>
<div class="btn-group fixed-width dropdown-ol margin-bottom--s">
  <button type="button" class="btn btn-default dropdown-toggle dropdown-ol-btn" data-toggle="dropdown" aria-expanded="false">Default <i class="dropdown-ol-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
  <ul class="dropdown-menu dropdown-ol-menu" role="menu">
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Action</a></li>
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Another action</a></li>
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group fixed-width dropdown-ol margin-bottom--s">
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-ol-btn" data-toggle="dropdown" aria-expanded="false">Primary <i class="dropdown-ol-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
  <ul class="dropdown-menu dropdown-ol-menu" role="menu">
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Action</a></li>
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Another action</a></li>
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group fixed-width dropdown-ol margin-bottom--s">
  <button type="button" class="btn btn-success dropdown-toggle dropdown-ol-btn" data-toggle="dropdown" aria-expanded="false">Success <i class="dropdown-ol-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
  <ul class="dropdown-menu dropdown-ol-menu" role="menu">
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Action</a></li>
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Another action</a></li>
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group fixed-width dropdown-ol margin-bottom--s">
  <button type="button" class="btn btn-info dropdown-toggle dropdown-ol-btn" data-toggle="dropdown" aria-expanded="false">Info <i class="dropdown-ol-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
  <ul class="dropdown-menu dropdown-ol-menu" role="menu">
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Action</a></li>
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Another action</a></li>
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group fixed-width dropdown-ol margin-bottom--s">
  <button type="button" class="btn btn-warning dropdown-toggle dropdown-ol-btn" data-toggle="dropdown" aria-expanded="false">Warning <i class="dropdown-ol-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
  <ul class="dropdown-menu dropdown-ol-menu" role="menu">
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Action</a></li>
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Another action</a></li>
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group fixed-width dropdown-ol margin-bottom--s">
  <button type="button" class="btn btn-danger dropdown-toggle dropdown-ol-btn" data-toggle="dropdown" aria-expanded="false">Danger <i class="dropdown-ol-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
  <ul class="dropdown-menu dropdown-ol-menu" role="menu">
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Action</a></li>
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Another action</a></li>
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Separated link</a></li>
  </ul>
</div>
<% end %>

<%= kss_block '7.3' do %>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <label>Standard:</label>
      <div class="btn-group fixed-width dropdown-ol">
        <button type="button" class="btn btn-default dropdown-toggle dropdown-ol-btn" data-toggle="dropdown" aria-expanded="false">Default <i class="dropdown-ol-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
        <ul class="dropdown-menu dropdown-ol-menu" role="menu">
          <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Action</a></li>
          <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Another action</a></li>
          <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3 col-sm-offset-3">
      <label>Relative:</label>
      <div class="btn-group fixed-width dropdown-ol dropdown-ol-relative">
        <button type="button" class="btn btn-default dropdown-toggle dropdown-ol-btn" data-toggle="dropdown" aria-expanded="false">Default <i class="dropdown-ol-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
        <ul class="dropdown-menu dropdown-ol-menu" role="menu">
          <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Action</a></li>
          <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Another action</a></li>
          <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fermentum tempor odio, ut tristique sapien venenatis et. Donec sodales dictum elementum. Maecenas tortor tellus, blandit ut posuere eget, mattis et tortor. Phasellus venenatis vestibulum mauris vitae efficitur. Ut ac fringilla magna. Nulla aliquet tempus semper. Nulla augue ipsum, vehicula nec vulputate vitae, tempor ultrices ex. Donec dictum dui id ex eleifend convallis. Quisque velit enim, faucibus nec commodo ullamcorper, porttitor non est. Donec eget rutrum neque. Nunc eu elementum ex, ac vestibulum elit. Cras vel consequat sem, vel semper odio. Donec ut lectus tincidunt, sollicitudin metus ac, elementum felis. Aliquam suscipit tristique mi sed aliquet. Morbi lacus ante, posuere varius felis ut, mattis consequat risus.</p>
    </div>
  </div>
</div>
<% end %>
