<%= kss_block '7.0' do %>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Default <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Primary <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Success <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Info <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Warning <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Danger <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<% end %>

<%= kss_block '7.1' do %>
<div style="height: 250px; padding: 10px; background-image: url('https://s3.greatminds.org/documents/attachments/000/000/274/large/students_in_a_circle.jpg?1467830926'); background-size: cover;">
  <div class="btn-group image-background">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Default <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
</div>
<% end %>

<%= kss_block '7.2' do %>
<div class="btn-group fixed-width dropdown-md margin-bottom--s">
  <button type="button" class="btn btn-default dropdown-toggle dropdown-md-btn" data-toggle="dropdown" aria-expanded="false">Default <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
  <ul class="dropdown-menu dropdown-md-menu" role="menu">
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Another action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group fixed-width dropdown-md margin-bottom--s">
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-md-btn" data-toggle="dropdown" aria-expanded="false">Primary <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
  <ul class="dropdown-menu dropdown-md-menu" role="menu">
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Another action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group fixed-width dropdown-md margin-bottom--s">
  <button type="button" class="btn btn-success dropdown-toggle dropdown-md-btn" data-toggle="dropdown" aria-expanded="false">Success <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
  <ul class="dropdown-menu dropdown-md-menu" role="menu">
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Another action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group fixed-width dropdown-md margin-bottom--s">
  <button type="button" class="btn btn-info dropdown-toggle dropdown-md-btn" data-toggle="dropdown" aria-expanded="false">Info <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
  <ul class="dropdown-menu dropdown-md-menu" role="menu">
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Another action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group fixed-width dropdown-md margin-bottom--s">
  <button type="button" class="btn btn-warning dropdown-toggle dropdown-md-btn" data-toggle="dropdown" aria-expanded="false">Warning <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
  <ul class="dropdown-menu dropdown-md-menu" role="menu">
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Another action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group fixed-width dropdown-md margin-bottom--s">
  <button type="button" class="btn btn-danger dropdown-toggle dropdown-md-btn" data-toggle="dropdown" aria-expanded="false">Danger <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i></button>
  <ul class="dropdown-menu dropdown-md-menu" role="menu">
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Another action</a></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-md-item"><a class="dropdown-md-link" href="#">Separated link</a></li>
  </ul>
</div>
<% end %>
