<% content_for :page_actions do %>
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <%= button_link_to Spree.t(:back_to_users_list), spree.admin_users_path, class: 'btn-primary btn-block', icon: 'chevron-left' %>
    </div>
  </div>
<% end %>
