<%
    path = if item.training_type_category.is_default?
             events_trainings_path(anchor: "event-#{item.title_to_slug}", category: item.category)
           else
             parent_events_trainings_path(parent_slug: item.training_type_category.slug, anchor: "event-#{item.title_to_slug}", category: item.category)
           end
%>
<a href="<%= path %>" class="list-group-item">
  <h4 class="margin-bottom--reset"><%= item.title %></h4>
  <p class="small margin-bottom--reset"><%= strip_tags(truncate_html item.content, length: 150) %></p>
</a>
