<a href="<%= event_page_link(item) %>" class="list-group-item">
  <h4 class="margin-bottom-reset"><%= item.title %></h4>
  <p class="small margin-bottom-reset"><%= truncate_html item.description, length: 150 %></p>
</a>
