<% item.body = Sanitize.clean(item.body, :remove_contents => ['style']) %>
<a href="<%= item.slug %>" class="list-group-item">
  <h4 class="margin-bottom-reset"><%= item.title %></h4>
  <p class="small margin-bottom-reset"><%= truncate_html item.body, length: 150 %></p>
</a>
