<% item.description = Sanitize.clean(item.description, :remove_contents => ['style']) %>
<%= link_to video_gallery_path(item), class: 'list-group-item' do %>
  <h4 class="margin-bottom--reset"><%= item.title %></h4>
  <p class="small margin-bottom--reset"><%= truncate_html item.description, length: 150 %></p>
<% end %>
