<div class="container">
  <div id="search-result">
    <div class="search-result-head clearfix">
      <span class="title pull-left">Search results for <strong><%= params[:query] %></strong></span>
      <div class="dropdown pull-right">
        Sort by:
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          All
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <div class="search-result-list">
      <% @result.each do |item| %>
        <%= render partial: search_result_partial(item), locals: { item: item } %>
      <% end %>
    </div>
  </div>
</div>
