<%= render 'cms_nav' %>

<div class="col-md-9">
  <%= render partial: 'new_bar' %>
  <div class="panel panel-primary">
    <div class="panel-heading padding-top--s padding-bottom--s">
      <h3 class="panel-title panel-title-s">What's new?</h3>
    </div>
    <%= render partial: 'whatsnew_list' %>
  </div>
</div>
