<div id="choose-products-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Choose a Product to unlock</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <% @video.products.each do |product| %>
            <li class="list-group-item">
              <%= link_to product.name, spree.product_path(product) %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
