<% @taxonomies.each do |taxonomy| %>
<div class="dropdown dropdown-ol clear">
  <button class="btn btn-default btn-block dropdown-toggle dropdown-ol-btn margin-bottom--m" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <%= taxonomy.name %>
    <i class="dropdown-ol-mi mi md-24 toggle-arrow">keyboard_arrow_down</i>
  </button>
  <%= gm_taxons_tree(taxonomy.root, @taxon, taxonomy.allow_multiple_taxons_selected) %>
</div>
<% end %>
