<% @taxonomies.each do |taxonomy| %>
<div class="panel panel-default panel-collapsible">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#categories" href="#collapse<%= taxonomy.name.delete(' ') %>"><%= taxonomy.name %></a>
    </h4>
  </div>
  <%# <% selected_taxons = taxonomy.root.children.where(id: params[:taxon_ids]) %1> %>
  <div id="collapse<%= taxonomy.name.delete(' ') %>" class="panel-collapse collapse">
    <%= video_gallery_taxons_tree(taxonomy.root, @taxon, taxonomy.allow_multiple_taxons_selected) %>
  </div>
</div>
<% end %>
