<div class="container">
  s3 video
  <video class="mejs-player" src="http://s3.amazonaws.com/greatminds-development/documents/attachments/000/000/006/original/GPKM3_TH_L42-SD.mp4?1430828392" width="500" height="400"></video>
</div>
