<div class="modal fade" tabindex="-1" role="dialog" id="bulk-revoke-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure to revoke all licenses of <%= @user.email %>?</h4>
      </div>
      <%= form_tag bulk_revoke_account_licenses_path(user_id: @user.id), authenticity_token: true, remote: true do %>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= submit_tag "Yes", data: { disable_with: "Revoking.." }, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
