<div class="modal fade" tabindex="-1" role="dialog" id="confirm-add-users-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2>You have successfully added <%= @emails.count %> users</h2>
        <p>Please check below to make sure all users were added.</p>
        <% @emails.each do |email| %>
          <p><%= email %></p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="confirm-add-users-btn">Confirm</button>
      </div>
    </div>
  </div>
</div>
