<div class="well license-well product-stats margin-bottom--xxl">
  <div class="row">
    <div class="col-sm-4 stat-container">
      <h5>Purchased: <span><%= licenses_ids ? current_spree_user.purchased_licenses_count(licenses_ids) : 'N/A' %></span></h5>
    </div>
    <div class="col-sm-4 stat-container">
      <h5>Distributed: <span><%= licenses_ids ? current_spree_user.distributed_licenses_count(licenses_ids) : 'N/A' %></span></h5>
    </div>
    <div class="col-sm-4 stat-container">
      <h5>Remaining: <span><%= licenses_ids ? current_spree_user.remaining_licenses_count(licenses_ids) : 'N/A' %></span></h5>
    </div>
  </div>
</div>
