<div class="modal fade" id="select-users-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Select From Existing Users</h4>
      </div>
      <div class="modal-body">
        <button class="btn btn-primary btn-block margin-bottom-m select-all-users">Select All
        </button>
        <div class="row margin-bottom-m">
          <% @emails.each do |email| %>
            <div class="col-md-6">
              <label style="text-transform: none;">
                <%= check_box_tag 'emails[]', email, false, class: 'user-checkbox' %>
                <%= email %>
              </label>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-success btn-block margin-bottom-s done-btn">Done</button>
          </div>
          <div class="col-md-6">
            <button data-dismiss="modal" class="btn btn-danger btn-block margin-bottom">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
