<% option = current_spree_user.managed_products_options.first %>
<p class="small">
  <em>
    <% if current_spree_user.managed_products_options.count > 1 %>
      Your Licenses for:
      <div class="select-container dark-select">
        <%= select_tag :licenses_ids, options_for_select(current_spree_user.managed_products_options), class: 'licenses-select form-control inline-input' %>
      </div>
    <% elsif current_spree_user.managed_products_options.count == 1 %>
      Your Licenses for:
      <% option = current_spree_user.managed_products_options.first %>
      <%= option[0] %>
      <%= hidden_field_tag :licenses_ids, option[1]  %>
    <% end %>
  </em>
</p>
<%= render partial: 'licenses_stats', locals: { licenses_ids: option[1].split(',') } if option %>
