<div class="container">
  <ul class="nav nav-tabs" id="settings-tabs">
    <li role="presentation" class="active"><a href="/account/licenses">Licenses</a></li>
    <li role="presentation"><a href="">User Management</a></li>
  </ul>
</div>
