<% tab ||= 'licenses' %>
<div class="row">
  <div class="col-sm-6">
    <ul class="nav nav-tabs margin-bottom-l" id="settings-tabs">
      <li role="presentation" class="<%= 'active' if tab == 'licenses' %>"><a href="/account/licenses">Licenses</a></li>
      <li role="presentation" class="<%= 'active' if tab == 'users' %>"><a href="/account/licenses/users">User Management</a></li>
    </ul>
  </div>
  <% if tab == 'users' %>
    <div class="col-sm-6 text-right">
      <form action="" class="form">
        <div class="row">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search Users' %>
            </div>
          </div>
        </div>
      </form>
    </div>
  <% end %>
</div>
<hr class="margin-top-reset" />
