<% tab ||= 'licenses' %>
<ul class="nav nav-tabs" id="settings-tabs">
  <li role="presentation" class="<%= 'active' if tab == 'licenses' %>"><a href="/account/licenses">Licenses</a></li>
  <li role="presentation" class="<%= 'active' if tab == 'users' %>"><a href="/account/licenses/users">User Management</a></li>

  <% if tab == 'users' %>
    <li class="pull-right-sm">
      <form action="" class="form">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input type="text" class='form-control' placeholder='Search...'/>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="select-container dark-select block">
              <span>Sort by Topic</span>
              <%= select_tag :topic, options_for_select("option1"), prompt: "Select a Topic", class: 'form-control' %>
            </div>
          </div>
        </div>
      </form>
    </li>
  <% end %>
</ul>
