<tr id="user-stats-tr-<%= @user.id %>">
  <td></td>
  <td colspan='7'>
    <div class="user-stats-wrapper">
      <div class="row">
        <div class="col-md-3">
          <h4>JANE DOE</h4>
          <p>Joined: February 17, 2015</p>
          <p>Exp: Auguest 20, 2015</p>
          <p>janedoe@schoolname.com</p>
          <p>(123)456-7890</p>
        </div>
        <div class="col-md-3">
          <h4>7x</h4>
          <p>5 Day Log In</p>
        </div>
        <div class="col-md-3">
          <h4>28x</h4>
          <p>10 Day Log In</p>
        </div>
        <div class="col-md-3">
          <h4>65x</h4>
          <p>Monthly Log In</p>
        </div>
      </div>
    </div>
  </td>
</tr>
