<div class="panel panel-default locked">
  <div class="panel-heading">
    <p><%= 'Paid' %></p>
    <h3><%= product.name %></h3>
    <%= link_to 'Unlock Content', spree.product_path(product), class: 'btn btn-primary' %>
  </div>
</div>
