<div class="panel panel-default panel-product locked">
  <div class="panel-heading">
    <h3><%= product.name %></h3>
    <%= link_to 'Unlock Content', spree.product_path(product), class: 'btn btn-primary' %>
  </div>
</div>
