<div class="modal fade" id="newsletter-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Newsletter and Updates</h4>
      </div>
      <%= form_for @newsletter, remote: true do |f| %>
        <div class="modal-body">
          <%= render partial: 'form_content', locals: { f: f } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Subscribe", class: 'btn btn-primary', data: { disable_with: 'Submitting...' } %>
        </div>
      <% end %>
      <div class="well container-content margin-bottom--reset">
        <h4>Past Newsletters</h4>
        <ul>
          <li><a href="/eurekamath-newsletter-archive">Eureka Math</a></li>
          <li><a href="/witwisdom-newsletter-archive">Wit &amp; Wisdom</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
