<% if simple_current_order.nil? or simple_current_order.item_count.zero? %>
  $("li#link-to-cart").html('');
<% else %>
  <%
      text = text ? h(text) : Spree.t('cart')
      css_class = nil

      text = "<i class='mi md-18'></i> #{text}: (#{simple_current_order.item_count})  <span class='amount'>#{simple_current_order.display_total.to_html}</span>"
      css_class = 'full'
  %>

  $("#link-to-cart .cart-info").html("<%= escape_javascript(text.html_safe) %>");

  $("#simple-update-cart").replaceWith("<%= escape_javascript(render 'simple_order_form') %>");

  if (window.Spree) {
    Spree.bindSimpleCartEvents();
  }
  if (window.Gm) {
    Gm.bind_simple_cart();
  }
<% end %>
