<% param_prefix = "payment_source[#{payment_method.id}]" %>
<fieldset>
  <div class="well">
    <div class="form-group">
      <label>PO # <abbr class="required" title="required">*</abbr></label>
      <%= text_field_tag "#{param_prefix}[po_number]", '', class: 'form-control required' %>
    </div>
    <div class="form-group">
      <label>Person To Receive License</label>
      <%= text_field_tag "#{param_prefix}[person_to_receive_license]", '', class: 'form-control required' %>
    </div>
  </div>
</fieldset>
