<% param_prefix = "payment_source[#{payment_method.id}]" %>
<%= hidden_field_tag "#{param_prefix}[po_number]", '', class: 'form-control required' %>
<%# <fieldset> %>
<%#   <div class="well"> %>
<%#     <div class="form-group"> %>
<%#       <label>PO # <abbr class="required" title="required">*</abbr></label> %>
<%#       <%= text_field_tag "#{param_prefix}[po_number]", '', class: 'form-control required' %1> %>
<%#     </div> %>
<%#   </div> %>
<%# </fieldset> %>
