<% if @careers_page %>
  <%= @careers_page.body.html_safe %>
<% end %>
<% if !@jobs.blank? %>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="list-group">
      <% @jobs.each do |job| %>
        <%= link_to job.title, job_path(job), class: 'list-group-item' %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<div class="row  margin-top-xl margin-bottom-xxl">
  <div class="col-sm-10 col-sm-offset-1">
    <h4>Great Minds is an equal opportunity employer.</h4>
  </div>
</div>