<div class="row">
  <div class="col-sm-10 col-sm-offset-1 margin-top--xxl margin-bottom--xl">
    <h3><%= @job.title %></h3>
    <p><%= @job.content.html_safe %></p>
    <%= link_to 'Back to Careers', jobs_path, class: 'btn btn-default' %>
  </div>
</div>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      var content = $('.container-content');
      content.find('div:empty, p:empty, br').remove();
      content.find('span, font').contents().unwrap();
    });
  </script>
<% end %>
