<div class="group-products">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="text-center"><%= @product_group.name %></h2>
      <p class="text-left--sm-min"><%= @product_group.description.html_safe rescue '' %></p>
      <div class="row">
        <% @products.each do |product| %>
          <%= render partial: 'spree/shared/product', locals: { product: product } %>
        <% end %>
      </div>
    </div>    
  </div>
</div>
<%= render partial: 'spree/shared/partner_modal' %>
