$transitionTiming: .3s;

$largeBP: 1182px;

// Digo Color palette
$coral: #FF4F29;
$cream: #FFFAE5;
$dark-blue: #071D26;
$brand-green: #CCFF63;
$steel-gray: #46565C;

// Bootstrap Colors
$brand-primary: #286598;
$brand-primary-dark: #1d4a70;
$primary-hover: lighten($brand-primary, 10%);

$brand-info: #5bc0de;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

// Gray Scale
$gray-darker: #222;
$gray-dark: #333;
$gray: $steel-gray;
$gray-light: #999;
$gray-lighter: #eee;

