// *************************************
//
//   Config
//   Varibles, @font-face
//
// *************************************

$transitionTiming: .3s;

$largeBP: 1182px;

// Border-radius
$border-radius-value: 4px;

// Digo Color palette
$coral: #FF5B34;
$cream: #fff;
$dark-blue: #07212D;
$light-blue: #E2E7E9;
$light-plum: #F4F4F4;
$brand-green: #CCFF63;
$steel-gray: #46565C;
$english: #7CC7F1;
$history: #FF8C00;
$math: $brand-green;
$c-absolute: #000;
$c-absent: #fff;

// Bootstrap Colors
$brand-primary: $dark-blue;
$brand-primary-dark: #1d4a70;
$primary-hover: lighten($brand-primary, 20%);

$brand-info: #5bc0de;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: $brand-warning;

// Gray Scale
$gray-darker: #222;
$gray-dark: #333;
$gray: $steel-gray;
$gray-light: #aaa;
$gray-light-mid: #c5c5c5;
$gray-lighter: #eee;
$gray-lightest: #f8f8f8;

// RGBA Transparents
$c-black-transparent-1: rgba(0, 0, 0, 0.1);
$c-black-transparent-4: rgba(0, 0, 0, 0.4);
$c-black-transparent-5: rgba(0, 0, 0, 0.5);

$c-white-transparent-5: rgba(255, 255, 255, 0.5);
$c-white-transparent-9: rgba(255, 255, 255, 0.9);

// Panels
$panel-default-text:          $brand-primary;
$panel-default-border:        $brand-primary;
$panel-default-heading-bg:    $light-plum;

$panel-primary-text:          #fff;
$panel-primary-border:        $brand-primary;
$panel-primary-heading-bg:    $brand-primary;

$panel-info-text:             #000;
$panel-info-border:           darken($gray-lighter, 1%);
$panel-info-heading-bg:       darken($gray-lighter, 1%);

// Shepard Popovers
$popover-outline: $coral;

// Mixins
@mixin button-bg($bg) {
  background: $bg;

  &:hover {
    background:lighten($bg, 8%);
  }

  &:active {
    background:darken($bg, 10%);
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

// ----- Sizes ----- //

$b-space-s: 5px;
$b-space: 10px;
$b-space-m: 15px;
$b-space-l: 20px;
$b-space-xl: 40px;
