// *************************************
//
//   Config
//   App-Wide Varibles
//
// *************************************

// -------------------------------------
//   Colors
// -------------------------------------

// ----- Palette ----- //

$black:                           #000;
$white:                           #fff;

// Greens
$lime:                            #ccff63;

// Blues
$navy:                            #07212d;
$powder:                          #7cc7f1;

// Oranges
$coral:                           #ff5b34;
$tangerine:                       #ff8c00;
$sherbert:                        #f0ad4e;

// Grays
$offwhite:                        #f8f8f8;
$sand:                            #FFFAE5;
$gainsboro:                       #eee;
$snow:                            #e2e7e9;
$ash:                             #c5c5c5;
$silver:                          #aaa;
$steel:                           #46565c;
$smoke:                           #333;
$iron:                            #222;

// *************************************
//
//   Variable Naming:
//   c-{description}--{modifier}
//
//   'descriptions' include:
//     absolute, stable, positive, calm,
//     balanced, firm, energized, assertive
//
//   'modifiers' include:
//     primary, secondary,
//     accent, highlight, subdue
//
// *************************************

$c-absolute:                      $white;
$c-depleted:                      $black;

$c-positive-primary:              $powder;
$c-positive-secondary:            $navy;
$c-positive-accent:               $steel;
$c-positive-highlight:            $snow;

$c-balanced:                      $lime;

$c-energized-primary:             $tangerine;
$c-energized-secondary:           $coral;
$c-energized-highlight:           $sherbert;

$c-firm-primary:                  $silver;
$c-firm-secondary:                $ash;
$c-firm-accent:                   $gainsboro;
$c-firm-highlight:                $offwhite;
$c-firm-subdue:                   $sand;

$c-stable-primary:                $steel;
$c-stable-secondary:              $smoke;
$c-stable-subdue:                 $iron;

// ----- Transparent ----- //

$c-transparent-subdue-1:          rgba(0, 0, 0, .1);
$c-transparent-subdue-2:          rgba(0, 0, 0, .2);
$c-transparent-subdue-4:          rgba(0, 0, 0, .4);
$c-transparent-subdue-5:          rgba(0, 0, 0, .5);
$c-transparent-highlight-5:       rgba(255, 255, 255, .5);
$c-transparent-highlight-9:       rgba(255, 255, 255, .9);

// -------------------------------------
//   Bootstrap Variables
// -------------------------------------

$border-radius-value:             4px;

$panel-default-text:              $c-positive-secondary;
$panel-default-border:            $c-positive-secondary;
$panel-default-heading-bg:        $c-firm-highlight;

$panel-primary-text:              $c-absolute;
$panel-primary-border:            $c-positive-secondary;
$panel-primary-heading-bg:        $c-positive-secondary;

$panel-info-text:                 $c-depleted;
$panel-info-border:               darken($c-firm-accent, 1%);
$panel-info-heading-bg:           darken($c-firm-accent, 1%);

$panel-info-alt-text:             $c-depleted;
$panel-info-alt-border:           $c-firm-secondary;
$panel-info-alt-heading-bg:       $c-firm-secondary;

// -------------------------------------
//   Assorted
// -------------------------------------

$popover-outline:                 $coral;
$transition-timing:               .3s;
$large-bp:                        1182px;

// -------------------------------------
//   Sizes
// -------------------------------------

$b-space-s:                       5px;
$b-space:                         10px;
$b-space-m:                       15px;
$b-space-l:                       20px;
$b-space-xl:                      40px;
