// *************************************
//
//   Helpers
//   Functions, mixins, extends and animations
//
// *************************************

// -------------------------------------
//   Vendor Prefixes
// -------------------------------------

@mixin display-flex() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex($val) {
  -webkit-box-flex: $val;
  -webkit-flex: $val;
  -ms-flex: $val;
  flex: $val;
}

@mixin flex-direction($val) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: $val;
  -ms-flex-direction: $val;
  flex-direction: $val;
}

@mixin justify-content($val) {
  -webkit-box-pack: $val;
  -webkit-justify-content: $val;
  -ms-flex-pack: $val;
  justify-content: $val;
}

@mixin align-items($val) {
  -webkit-align-items: $val;
  -ms-align-items: $val;
  align-items: $val;
}

@mixin perspective($val) {
  -webkit-perspective: $val;
  -moz-perspective: $val;
  perspective: $val;
}

@mixin rotate-y($val) {
  -webkit-transform: rotateY($val);
  -moz-transform: rotateY($val);
  transform: rotateY($val);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

@mixin rotate-x($val) {
  -webkit-transform: rotateX($val);
  -moz-transform: rotateX($val);
  transform: rotateX($val);
  filter: FlipV;
  -ms-filter: 'FlipV';
}

@mixin my-transition($val) {
  -webkit-transition: $val;
  -moz-transition: $val;
  transition: $val;
}

@mixin transform-style($val) {
  -webkit-transform-style: $val;
  -moz-transform-style: $val;
  transform-style: $val;
}

@mixin backface-visibility($val) {
  -webkit-backface-visibility: $val;
  -moz-backface-visibility: $val;
  backface-visibility: $val;
}

@mixin input-placeholder {
  &::-webkit-input-placeholder {@content}
  &::-moz-placeholder {@content}
  &:-ms-input-placeholder {@content}
}

// -------------------------------------
//   Flip Animation
// -------------------------------------

.flip-container {
  @include perspective(1000);

  margin: 0 auto;

  &.flip {
    .flipper {
      @include rotateY(180deg);
    }

    .flip-back {
      z-index: 3;
    }
  }
}

.flip-container,
.flip-front,
.flip-back {
  width: 280px;
  height: 200px;

  @media screen and (min-width: $screen-sm-min) {
    width: 350px;
    height: 220px;
    text-align: center;
  }

  @media screen and (min-width: $screen-md-min) {
    width: 250px;
    height: 200px;
  }

  @media screen and (min-width: $screen-lg-min) {
    width: 330px;
    height: 220px;
  }
}

.flipper {
  @include my-transition(.6s);
  @include transform-style(preserve-3d);

  position: relative;
}

.flip-front,
.flip-back {
  @include backface-visibility(hidden);
  @include transition(.6s);
  @include transform-style(preserve-3d);

  position: absolute;
  top: 0;
  left: 0;
}

.flip-front {
  @include rotateY(0deg);

  z-index: 2;
}

.flip-back {
  @include rotateY(180deg);
}

.flip-btn,
.non-flip-btn {
  position: absolute;
  right: 6px;
  bottom: 6px;
  margin: 0 !important;
  padding: 3px 6px !important;

  &:focus,
  &:active:focus {
    outline: 0;
  }

  .flip-icon {
    font-size: 29px;
  }

  &.btn-link {
    width: auto;
    height: auto;
    padding: $b-space-s $b-space !important;
    border-radius: 4px;
  }
}

// -------------------------------------
//   Assorted
// -------------------------------------

@mixin button-bg($bg) {
  background: $bg;

  &:hover {
    background: lighten($bg, 8%);
  }

  &:active {
    background: darken($bg, 10%);
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin shepherd-arrow($attached, $position, $border) {
  &.shepherd-element-attached-#{$attached} {
    &.shepherd-element-attached-#{$position} {
      &.shepherd-has-title {
        .shepherd-content::before {
          border-#{$border}-color: $popover-outline;
        }
      }
    }
  }
}

@include keyframes(fade) {
  0% {
    opacity: 0;
  }
}

body.dragging,
body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  z-index: 2000;
  opacity: .5;
}

*.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  // Introduced in IE 10.
  // See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/

  -ms-user-select: none;
  user-select: none;
}
