// _theme.scss
// Bootstrap overrides

// Buttons
.btn {

}

// Links
a {

}

// Footer
footer {
  background-color: $gray-dark;
}

.footer-jumbo {
  background: $gray-light;
}

// Video Gallery Page
.video-product-wrapper:hover > .image-drawer-wrapper > .video-product-drawer {
  background: $gray-light;
}

.fixed-sidebar {
  .side-search-form {
    background: $gray-light;
  }
}