// *************************************
//
//   Tools
//   Utility classes
//
// *************************************

// -------------------------------------
//   Display
// -------------------------------------

// For use when we need to override with inline CSS via JS
.js-none {
  display: none;
}

.inline {
  display: inline !important;
}

.block {
  display: block !important;
}

.none {
  display: none !important;
}

.inline-block {
  display: inline-block !important;
}

.overflow--hidden {
  overflow: hidden;
}

.clear {
  clear: both !important;
}

.whitespace--reset {
  white-space: normal !important;
}

.word-wrap--break {
  word-wrap: break-word !important;
}

.min-height--150 {
  min-height: 150px !important;
}

.min-height--200 {
  min-height: 200px !important;
}

.min-height--300 {
  min-height: 300px !important;
}

.width--100pct {
  width: 100% !important;
}

.height--100 {
  height: 100px !important;
}

.rotate--180 {
  @include rotate(-180deg);
}

// -------------------------------------
//   Forms
// -------------------------------------

.help-block {
  @extend .sans-serif;
}

// -------------------------------------
//   Text
// -------------------------------------

.text--success {
  color: $c-balanced !important;
}

.text--info {
  color: $c-positive-primary !important;
}

.text--warning {
  color: $c-energized-primary !important;
}

.text--danger {
  color: darken($c-energized-secondary, 10%) !important;
}

.text--danger-alt {
  color: $c-energized-secondary !important;
}

.text--lowercase {
  text-transform: lowercase !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text--italic {
  font-style: italic !important;
}

.bh1 {
  font-size: 2em !important;
}

.bh2 {
  font-size: 1.5em !important;
}

.bh3 {
  font-size: 1.25em !important;
}

.bh4 {
  font-size: 1em !important;
}

.bh5 {
  font-size: .875em !important;
}

.bh6 {
  font-size: .75em !important;
}

.lh1 {
  line-height: 1.5em;
}

.lh2 {
  line-height: 1.4em;
}

.lh3 {
  line-height: 1.3em;
}

.lh4 {
  line-height: 1.2em;
}

.lh5 {
  line-height: 1.1em;
}

.lh6 {
  line-height: 1em;
}

// -------------------------------------
//   Padding
// -------------------------------------

.padding-top--reset {
  padding-top: 0 !important;
}

.padding-right--reset {
  padding-right: 0 !important;
}

.padding-bottom--reset {
  padding-bottom: 0 !important;
}

.padding-left--reset {
  padding-left: 0 !important;
}

// ----- Small ----- //

.padding-top--s {
  padding-top: $b-space-s !important;
}

.padding-right--s {
  padding-right: $b-space-s !important;
}

.padding-bottom--s {
  padding-bottom: $b-space-s !important;
}

.padding-left--s {
  padding-left: $b-space-s !important;
}

// ----- Normal ----- //

.padding-top {
  padding-top: $b-space !important;
}

.padding-right {
  padding-right: $b-space !important;
}

.padding-bottom {
  padding-bottom: $b-space !important;
}

.padding-left {
  padding-left: $b-space !important;
}

// ----- Medium ----- //

.padding-top--m {
  padding-top: $b-space-m !important;
}

.padding-right--m {
  padding-right: $b-space-m !important;
}

.padding-bottom--m {
  padding-bottom: $b-space-m !important;
}

.padding-left--m {
  padding-left: $b-space-m !important;
}

// ----- Large ----- //

.padding-top--l {
  padding-top: $b-space-l !important;
}

.padding-right--l {
  padding-right: $b-space-l !important;
}

.padding-bottom--l {
  padding-bottom: $b-space-l !important;
}

.padding-left--l {
  padding-left: $b-space-l !important;
}

// ----- Extra Large ----- //

.padding-top--xl {
  padding-top: $b-space-xl !important;
}

.padding-right--xl {
  padding-right: $b-space-xl !important;
}

.padding-bottom--xl {
  padding-bottom: $b-space-xl !important;
}

.padding-left--xl {
  padding-left: $b-space-xl !important;
}

// -------------------------------------
//   Margins
// -------------------------------------

.margin-top--reset {
  margin-top: 0 !important;
}

.margin-right--reset {
  margin-right: 0 !important;
}

.margin-bottom--reset {
  margin-bottom: 0 !important;
}

.margin-left--reset {
  margin-left: 0 !important;
}

// ----- Small ----- //

.margin-top--s {
  margin-top: $b-space-s !important;
}

.margin-right--s {
  margin-right: $b-space-s !important;
}

.margin-bottom--s {
  margin-bottom: $b-space-s !important;
}

.margin-left--s {
  margin-left: $b-space-s !important;
}

// ----- Normal ----- //

.margin-top {
  margin-top: $b-space !important;
}

.margin-right {
  margin-right: $b-space !important;
}

.margin-bottom {
  margin-bottom: $b-space !important;
}

.margin-left {
  margin-left: $b-space !important;
}

// ----- Medium ----- //

.margin-top--m {
  margin-top: $b-space-m !important;
}

.margin-right--m {
  margin-right: $b-space-m !important;
}

.margin-bottom--m {
  margin-bottom: $b-space-m !important;
}

.margin-left--m {
  margin-left: $b-space-m !important;
}

// ----- Large ----- //

.margin-top--l {
  margin-top: $b-space-l !important;
}

.margin-right--l {
  margin-right: $b-space-l !important;
}

.margin-bottom--l {
  margin-bottom: $b-space-l !important;
}

.margin-left--l {
  margin-left: $b-space-l !important;
}

// ----- Extra Large ----- //

.margin-top--xl {
  margin-top: $b-space-xl !important;
}

.margin-right--xl {
  margin-right: $b-space-xl !important;
}

.margin-bottom--xl {
  margin-bottom: $b-space-xl !important;
}

.margin-left--xl {
  margin-left: $b-space-xl !important;
}

// ----- Extra Extra Large ----- //

.margin-top--xxl {
  margin-top: $b-space-xl + $b-space-l !important;
}

.margin-right--xxl {
  margin-right: $b-space-xl + $b-space-l !important;
}

.margin-bottom--xxl {
  margin-bottom: $b-space-xl + $b-space-l !important;
}

.margin-left--xxl {
  margin-left: $b-space-xl + $b-space-l !important;
}

// ----- Incremental ----- //

.margin-bottom--1_2 {
  margin-bottom: $b-space * 1.2 !important;
}

// -------------------------------------
//   Responsive
// -------------------------------------

// ----- Grid ----- //

.col-lg-offset--halfone--lg-min {
  @media screen and (min-width: $screen-lg-min) {
    width: 62.3333% !important;
    margin-left: 4.3333% !important;
  }
}

// ----- Display ----- //

.max-width--md-min--300 {
  @media screen and (min-width: $screen-md-min) {
    max-width: 300px;
  }
}

.display-flex--md-min {
  @media screen and (min-width: $screen-md-min) {
    @include display-flex;
  }
}

.flex-1--md-min {
  @media screen and (min-width: $screen-md-min) {
    @include flex(1 1 auto);
  }
}

.flex-column--md-min {
  @media screen and (min-width: $screen-md-min) {
    @include flex-direction(column);
  }
}

.display-flex--lg-min {
  @media screen and (min-width: $screen-lg-min) {
    @include display-flex;
  }
}

.flex-1--lg-min {
  @media screen and (min-width: $screen-lg-min) {
    @include flex(1 1 auto);
  }
}

.flex-column--lg-min {
  @media screen and (min-width: $screen-lg-min) {
    @include flex-direction(column);
  }
}

// ----- Media ----- //

.img-responsive {
  width: 100% !important;

  @media screen and (min-width: $screen-xs-min) {
    width: auto !important;
    margin: 0 auto !important;
  }
}

.embed-responsive {
  border: 1px solid $c-absolute !important;
}

.embed-responsive-4by4 {
  padding-bottom: 100% !important;
  border: 0 !important;

  iframe {
    width: 100% !important;
    height: 100% !important;
  }
}

// ----- Alignment ----- //

.center--lg-min--block {
  @media screen and (min-width: $screen-lg-min) {
    margin: 0 auto;
  }
}

.pull-right--sm-min {
  @media screen and (min-width: $screen-sm-min) {
    float: right !important;
  }
}

.text-left--sm-min {
  @media screen and (min-width: $screen-sm-min) {
    text-align: left !important;
  }
}

.text-right--sm-min {
  @media screen and (min-width: $screen-sm-min) {
    text-align: right !important;
  }
}

.text-right--lg-min {
  @media screen and (min-width: $screen-lg-min) {
    text-align: right !important;
  }
}

// ----- Padding ----- //

.padding-horiz--sm-min--horiz-xl {
  padding: 0 12px !important;

  @media screen and (min-width: $screen-sm-min) {
    padding: 0 $b-space-xl !important;
  }
}

.padding-right--b--sm-min {
  padding-right: $b-space !important;

  @media screen and (min-width: $screen-sm-min) {
    padding-right: 0 !important;
  }
}

// ----- Border ----- //

.border-bottom--firm-primary {
  border-bottom: 1px solid $c-firm-primary;
}

.border-bottom--firm-secondary {
  border-bottom: 1px solid $c-firm-secondary;
}

.border-bottom--firm-accent {
  border-bottom: 1px solid $c-firm-accent;
}

.border-right--primary--sm-min {
  @media screen and (min-width: $screen-sm-min) {
    border-right: 1px solid $c-positive-secondary !important;
  }
}

.border-left--primary--sm-min {
  @media screen and (min-width: $screen-sm-min) {
    border-left: 1px solid $c-positive-secondary !important;
  }
}

// ----- Margin ----- //

.margin-bottom--s--sm-min {
  margin-bottom: $b-space-s !important;

  @media screen and (min-width: $screen-sm-min) {
    margin-bottom: 0 !important;
  }
}

.margin-bottom--m--sm-min {
  margin-bottom: $b-space-m !important;

  @media screen and (min-width: $screen-sm-min) {
    margin-bottom: 0 !important;
  }
}

.margin-bottom--xl--sm-min {
  margin-bottom: $b-space-xl !important;

  @media screen and (min-width: $screen-sm-min) {
    margin-bottom: 0 !important;
  }
}

.margin-bottom-s--lg-min {
  margin-bottom: $b-space-s !important;

  @media screen and (min-width: $screen-lg-min) {
    margin-bottom: 0 !important;
  }
}

.margin-left--sm-min--m {
  margin-left: 0 !important;

  @media screen and (min-width: $screen-sm-min) {
    margin-left: $b-space-m !important;
  }
}

.margin-left--sm-min--xl {
  margin-left: 0 !important;

  @media screen and (min-width: $screen-sm-min) {
    margin-left: $b-space-xl !important;
  }
}

.margin-top--sm-min {
  margin-top: 0 !important;

  @media screen and (min-width: $screen-sm-min) {
    margin-top: $b-space !important;
  }
}

.padding-0 {
  padding: 0 !important;
}
