// _typography.scss

/* ----------------------------------------------------------------------------
* Font families
*
* Styleguide 1.2
*/
@import url(http://fonts.googleapis.com/css?family=Karla:400,700|Lora);


/* ----------------------------------------------------------------------------
* Headlines
*
* Styleguide 1.2.1
*/

body {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Karla', sans-serif;
  letter-spacing: 2px;
}

h1 {
  font-size: 2.0em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: 1.0em;
}

h6 {
  margin-bottom: 5px;
  font-size: .85em;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.7em;
  letter-spacing: 0.2em;
}

h1, h2, h3, h4, h5, h6, p {
  color: inherit;
}

/* ----------------------------------------------------------------------------
* Body Copy
*
* Styleguide 1.2.2
*/

html, body {
  font-family: 'Lora', serif;
  font: 100%/1.5
}

p {
  margin: 0 0 15px;
  font-size: .75em;
  line-height: 1.76em;
}

/* ----------------------------------------------------------------------------
* Lead Copy
*Default Bootstrap Lead
*
* Styleguide 1.2.3
*/


/* ----------------------------------------------------------------------------
* Contextual Copy
* Uses Bootstraps $brand-{context} coloring. Will update if "$brand" color variables are updated
*
* Styleguide 1.2.4
*/

/* ----------------------------------------------------------------------------
* Blockquote
* Uses Bootstraps standard block quote styling
*
* Styleguide 1.2.5
*/
blockquote {
  footer {
    background: transparent;
  }
}


/* ----------------------------------------------------------------------------
* Blockquote w/ Attribution
* Uses Bootstraps standard block quote styling
*
* Styleguide 1.2.5.1
*/

/* ----------------------------------------------------------------------------
* Blockquote w/ Attribution Reversed
* Uses Bootstraps standard block quote styling
*
* Styleguide 1.2.5.2
*/

 // Links
a {
  color: inherit;
  font-weight: bold;
  text-transform: uppercase;

  @include transition(all, .3s);

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    font-size: .95em;
  }
}

hr {
  margin: 30px 0;
  color: inherit;
  border-top: 1px solid;
}

.serif {
  font-family: 'Lora', serif;
}

.sans-serif {
  font-family: 'Karla', sans-serif;
}

.bold {
  font-weight: bold;
}

.light-text {
  color: $cream;
}

.green-text {
  color: $brand-green;
}
