<div class="margin-bottom--xl margin-left--sm-min--xl">
  <h6 class="text-left">Great Minds</h6>
  <ul class="list-style-none">
    <li>55 M Street SE</li>
    <li>Suite 340</li>
    <li>Washington D.C. 20003</li>
    <li>Phone: 202-223-1854</li>
    <li>Fax: 202-449-9504</li>
  </ul>
</div>
<div class="margin-bottom--xl margin-left--sm-min--xl">
  <h6 class="text-left">Sales Inquiries</h6>
  <ul class="list-style-none">
    <li>Phone: 202-223-1854 ext. 4 for Sales</li>
    <li>E-mail: sales@greatminds.org</li>
  </ul>
</div>
<div class="margin-bottom--xl margin-left--sm-min--xl">
  <h6 class="text-left">PD Inquiries</h6>
  <ul class="list-style-none">
    <li>Phone: 1-202-823-4340</li>
    <li>E-mail: PD@greatminds.org</li>
  </ul>
</div>
