<div class="margin-bottom--xl margin-left--sm-min--xl">
  <h6>Great Minds</h6>
  <ul class="list-style-none">
    <li>55 M Street SE</li>
    <li>Suite 340</li>
    <li>Washington D.C. 20003</li>
    <li>Phone: 202-223-1854</li>
    <li>Fax: 202-449-9504</li>
  </ul>
</div>
<div class="margin-bottom--xl margin-left--sm-min--xl">
  <h6>Sales Inquiries</h6>
  <ul class="list-style-none">
    <li>Phone: 1-844-853-1010</li>
    <li>E-mail: sales@greatminds.org</li>
  </ul>
</div>