<section class="intro jumbo-text no-bg">
  <div class="container">
    <h1>This is our main call to action!</h1>
    <h3 class="sub-head">This would support our main call to action.</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        I am a… <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">I am an Admin</a></li>
        <li><a href="#">I am a Teacher</a></li>
        <li><a href="#">I am a Parent</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Looking for help in… <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Looking for help in Math</a></li>
        <li><a href="#">Looking for help in English</a></li>
        <li><a href="#">Looking for help in History</a></li>
      </ul>
    </div>
    <!-- <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              For grades… <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">For grades K-5</a></li>
              <li><a href="#">For grades 6-8</a></li>
              <li><a href="#">For grades 9-12</a></li>
            </ul>
          </div>  -->
  </div>
  <!-- <hr class="container-secondary"> -->
</section>
<!-- <div class="viewport container-fluid"> -->
<section class="dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h2>This is about Great Minds.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a class="btn btn-primary" href="footer_nav/about.html" role="button">Learn More</a>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-5">  
        <img src="assets/fpo-image.jpg" class="img-thumbnail" alt="Responsive image">
      </div>
    </div>
  </div>
</section>
<!-- </div> -->

<section class="hp-callout-section callout">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 callout">
        <h3>This is an important callout</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
        <a class="btn btn-primary" href="main_nav/contact.html" role="button">Learn More</a>
      </div>
      <div class="col-xs-4 callout">
        <h3>This is an important callout</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
        <a class="btn btn-primary" href="main_nav/contact.html" role="button">Learn More</a>
      </div>
      <div class="col-xs-4 callout">
        <h3>This is an important callout</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
        <a class="btn btn-primary" href="main_nav/contact.html" role="button">Learn More</a>
      </div>
    </div>
  </div>
</section>
