<ul class="nav nav-tabs margin-bottom-m">
  <% event_pages.each do |event_page| %>
    <li role="presentation">
      <%= active_link_to event_page.title, curriculum_events_path(page_slug: page.slug, slug: event_page.slug) %>
    </li>
  <% end %>
</ul>
