<%= render partial: 'events/event', collection: @events %>
<div class="hidden">
  <%= paginate @events %>
</div>
<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function(){
      $(".events-list").infinitescroll({
        navSelector: "ul.pagination",
        nextSelector: "ul.pagination a[rel=next]",
        itemSelector: ".events-list .event"
      })
    });
  <% end %>
<% end %>
