<div class="event">
  <div class="event-date">
    <%= date_range(event.start_date, event.end_date, format: :short) if event.start_date.present? && event.end_date.present? %>
  </div>
  <h4><%= link_to strip_tags(event.title), event_path(event, page_slug: params[:page_slug]) %></h4>
</div>
