<div class="load-more-wrapper">
  <% if @events.current_page < @events.total_pages %>
    <%= link_to 'Load More', events_path(page: @events.current_page + 1), class: 'btn btn-primary', remote: true %>
  <% end %>
  <a href="#" class="btn btn-primary">Schedule New Event</a>
</div>
