<div class="month-header">
  <% Date::ABBR_MONTHNAMES.compact.each do |month_abbr| %>
    <%= link_to month_abbr, params.merge(month: month_abbr) %>
  <% end %>
</div>
<div class="month-calendar">
  <table class="table">
    <thead>
      <tr>
        <% @date_range.to_a.slice(0, 7).each do |day| %>
          <th><%= Date::ABBR_DAYNAMES[day.wday] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @date_range.each_slice(7).each do |day_group| %>
        <tr>
          <% day_group.each do |day| %>
            <td class="<%= 'current-month' if day.month == @current_month  %>"><%= day.day %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
