<div class="row">
  <div class="col-sm-4 col-md-3 margin-top--xxl margin-bottom--xl">
    <%= render partial: 'filters' %>
  </div>
  <div class="col-sm-8 col-md-9 margin-top--xxl margin-bottom--xl">
    <%= render partial: 'curriculum_events_nav', locals: { page: @group_page, event_pages: @group_page.available_event_pages } %>
    <div class="events-page">
      <div class="row margin-bottom">
        <div class="col-sm-12">
          <p class="margin-bottom--reset"><%= @event_page.description.html_safe rescue '' %></p>
        </div>
      </div>
      <%= render 'events_list' %>
    </div>
  </div>
</div>
