<div class="container">
  <div class="events-page">
    <div class="events-masthead">
      <div class="container">
        <div class="inner">
          <h2>Professional Development</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        </div>
      </div>
    </div>
    <div>
      <h3>Two amazing opportunities for Professional Development</h3>
      <hr />
      <div class="row">
        <div class="col-md-5 col-offset-1">
          <div>
            <span class="glyphicon glyphicon-calendar"></span>
          </div>
          <a href="">Select existing event</a>
        </div>
        <div class="col-md-5">
          <div>
            <span class="glyphicon glyphicon-list-alt"></span>
          </div>
          <a href="">Schedule a new event</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-offset-2">
          <input type="text" class="form-control" placeholder="Zip Code, City or State"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
          <%= render 'month_calendar' %>
        </div>
      </div>
    </div>
  </div>
</div>
