<div class="container">
  <div class="events-page">
    <div class="events-masthead">
      <div class="container">
        <div class="inner">
          <h2>Professional Development</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        </div>
      </div>
    </div>
    <div class="events-header clearfix">
      <h3 class="pull-left">Upcoming training</h3>
      <div class='pull-right'>
        <div class="dropdown pull-right">
          Sort by:
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            All
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
          </ul>
        </div>
        <%= form_tag '', method: :get, class: 'pull-right' do %>
          <%= text_field_tag :zipcode, params[:zipcode], class: 'form-control', placeholder: 'Search by ZIP' %>
        <% end %>
      </div>
    </div>
    <%= render 'events_list' %>
  </div>
</div>
