<div class="row">
  <div class="col-sm-10 col-sm-offset-1 margin-top--xxl margin-bottom--xl">

    <div class="events-page">
      <div class="row margin-bottom">
        <div class="col-sm-12">
          <h4 class="margin-bottom--reset">Upcoming training</h4>
        </div>
      </div>
      <%= render 'events_list' %>
    </div>

  </div>
</div>
