<div class="container">
  <% @event_trainings.each do |event_training| %>
    <div class="event-training">
      <h3><%= event_training.title %></h3>
      <p>
        <%= raw event_training.content %>
      </p>
    </div>
  <% end %>
</div>
