<div class="panel panel-primary">
  <div class="panel-body panel-body--padding">
    <div class="row">
      <div class="col-sm-12 text-right">
        <a href="/cms/documents/new" class="btn btn-success btn-block-xs">Upload New File</a>
      </div>
    </div>
    <div class="row">
      <%= form_tag '', method: :get do %>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Name</label>
            <%= text_field_tag :name, params[:name], class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Category</label>
            <%= text_field_tag :category, params[:category], class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Tags</label>
            <%= text_field_tag :tags, params[:tags], class: 'form-control', placeholder: 'seperate by comma' %>
          </div>
        </div>
        <div class="col-sm-3">
          <label>&nbsp;</label>
          <button type="submit" class="btn btn-success btn-block">Search</button>
        </div>
      <% end %>      
    </div>
  </div>
</div>
