<div class="panel panel-primary">
  <div class="panel-body panel-body--padding">
    <div class="row">
      <div class='col-lg-6'>
        <ul class="nav nav-tabs margin-bottom-s--lg-min">
          <li>
            <%= link_to 'Staffs',
                        cms_staffs_path,
                        class: (selected_state == 'staffs' ? 'active' : '') %>
          </li>
          <li>
            <%= link_to 'Trustees',
                        trustees_cms_staffs_path,
                        class: (selected_state == 'trustees' ? 'active' : '') %>
          </li>
          <li>
            <%= link_to 'Emeritus Advisors',
                        emeritus_advisors_cms_staffs_path,
                        class: (selected_state == 'emeritus_advisors' ? 'active' : '') %>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 text-right">
        <div class="form-inline">
          <%= link_to "New #{staff_type(staff_type: selected_state)}",
                      new_cms_staff_path(state: selected_state),
                      class: 'btn btn-success btn-block-xs' %>
        </div>
      </div>
    </div>
  </div>
</div>
