<%= render 'cms_nav' %>

<div class="col-md-9">
  <%= render partial: 'search_bar', locals: { selected_state: 'pbc_board' }  %>
  <div class="panel panel-primary">
    <div class="panel-heading padding-top--s padding-bottom--s">
      <h3 class="panel-title panel-title-s">Great Minds PBC Board of Directors</h3>
    </div>
    <%= render partial: 'staff_list', locals: { selected_state: 'pbc_board' } %>
  </div>
</div>