<% content_for :page_title do %>
  Storefront Products
<% end %>

<% content_for :page_actions do %>
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <%= button_link_to 'Back to Products', admin_products_path, { :class => "btn-success btn-block", :icon => 'list' } %>
    </div>
  </div>
<% end if can?(:create, Spree::Product) %>

<% if @products.any? %>
  <div data-hook>
    <div class="table-responsive">
      <table class="table" id="list-storefront-products">
        <tbody>
          <% @products.each do |product| %>
            <tr data-id="<%= product.id %>">
              <td><%= product.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="alert alert-info no-objects-found">
    <p>No storefront products exists.</p>
  </div>
<% end %>
<script type="text/javascript">
//<![CDATA[
  (function($){
    function updatePositions() {
      var data = {}
      $.each($("#list-storefront-products tbody tr"), function(index, element) {
        data[$(element).attr('data-id')] = index;
      });
      $.ajax({
        url: '<%= admin_storefront_path %>',
        type: 'POST',
        data: { positions: data }
      })
    }

    $("#list-storefront-products tbody").sortable({
      update: function(event, ui) {
        updatePositions();
      }
    });
  })(jQuery);
//]]>
</script>
