<div class="col-sm-10 col-sm-offset-1 margin-top--xxl margin-bottom--xl">
  <div class="row">
    <div class="col-md-12">
      <div id="privacy-policy-text">
        <h2>GREAT MINDS PRIVACY POLICY</h2>

        <p>Last Updated: January 1st, 2020</p>

        <p>Great Minds and Great Minds PBC (“Great Minds”) seek to ensure that all students, regardless of their circumstance, receive a content-rich education in the full range of the liberal arts and sciences, including English, mathematics, history, the arts, science, and foreign languages. Great Minds does this by working with teachers, scholars, and schools to create curricula and instructional materials, conduct research, and promote policies that support a comprehensive and high-quality education in America’s public schools. </p>

        <p>We are so grateful that you have given Great Minds your trust and have chosen to join us in this crucial work; keeping your trust through the protection of your privacy is of utmost importance to us.</p>

        <p>This Privacy Policy explains the types of information that Great Minds collects from you, why we collect it, and how we will use, share, and protect your information. This Privacy Policy applies to Great Minds’ website, www.greatminds.org (the “Great Minds Website”), as well as any products or services offered by Great Minds (“Great Minds,” “we,” “us,” “our,” and our subsidiaries or affiliates), including but not limited to Great Minds’ digital portals and applications. This Privacy Policy also covers Great Minds’ treatment of any personal information about our users that our partners or other services might share with us. We will collect, use, and share your personal information only in accordance with the terms of this Privacy Policy.</p>

        <p>This Privacy Policy does not apply to websites, services, or practices of companies that Great Minds doesn’t own or control, such as third-party services you might access through links or other features on the Great Minds Website. These other sites and services have their own privacy policies, and we encourage you to review them before providing them with personal information.</p>

        <p>By visiting the Great Minds Website or using Great Minds’ products or services, you agree to the terms of this Privacy Policy. If you do not agree to the terms of this Privacy Policy, please do not use the Great Minds Website or Great Minds’ products or services.</p>

        <h4>I.  Information Collected by Great Minds</h4>

        <p class="underline">Information That You Provide</p>

        <p>When you download products from or use services or products on the Great Minds Website or any other Great Minds digital portal or platform, we ask you to create an account and provide certain information, including your first and last name, email address, state, affiliated school name, subjects that you’re interested in, and role (e.g., parent, teacher, school administrator, etc.). </p>

        <p>We sometimes collect aggregated, anonymized student data. At this time, we do not collect any student personal, identifying information. </p>

        <p class="underline">Website Usage Information</p>

        <p>When you use the Great Minds Website, our servers automatically collect certain site usage information associated with your computer. Website usage information is non-personal information that includes, but is not limited to, IP address, browser type, operating system, and the domain name from which you accessed the Great Minds Website. It may also include information such as the date and time you accessed the Great Minds Website, how much time you spent on the Great Minds Website, the pages you visit, and other “click-stream” data. </p>
        <p>We use cookies to collect the website usage information described above. A cookie is a small data file that may be sent by a website or application and stored on the hard drive of your computer. A cookie stores information about your browser that allows us to recognize your browser when you return and to remember your preferences. You may reject cookies, but by doing so, you may not be able to use all of the features on the Great Minds Website. To learn more about browser cookies, including how to manage or delete them, check the “Help,” “Tools,” or similar section of your browser. By using the Great Minds Website, you agree to the use of cookies. </p>
        <p>We do not track our users across third-party websites and do not respond to Do Not Track (DNT) signals. Third-party websites are not able to collect personally identifiable information about your activity on the Great Minds Website. </p>
        <p>We use third-party service providers to assist us in collecting and understanding website usage information.</p>

        <h4>II.  How Great Minds May Use Your Information</h4>

        <p class="underline">Information Provided by You</p>

        <p>We may use the information that you provide when you download or use Great Minds’ products or services to create your account. This allows you to log in and store your preferences for communications from us and future use of the Great Minds Website and our products and services. You remain in control of the personal information that you provide to us. This means that you can review, revise, or delete your personal information at any time, as described below.</p>

        <p>We may use your email address to send you information regarding your Great Minds account or products that you purchase or download. We also may use your email address to send you a newsletter and other communications; you may unsubscribe at any time.</p>


        <p>We use your non-personal information, such as your role, and other demographic information in aggregated, anonymized reporting to help us better understand how our curricula, products, and services are used and to improve our curricula, products, and services. We use aggregated, anonymized student data that we collect for the same purposes.</p>

        <p class="underline">Website Usage Information</p>

        <p>We use website usage information to administer the website, monitor and diagnose problems with it, remember you when you return so that you don’t have to resubmit your information, and to improve the website and our products and services.</p>

        <h4>III.  How Great Minds May Share Your Information</h4>

        <p>We never sell or rent your personal information to third parties for any purpose. </p>

        <p>We will share your information with third parties only in the following circumstances:</p>

        <ul>
          <li>
            When we believe in good faith that disclosure of your information is necessary to protect our rights and those of others, to protect your safety or the safety of others, to investigate fraud, to respond to a government, judicial, or other legal request, or otherwise to comply with the law;
          </li>

          <li>
            In connection with an organizational change, such as a dissolution, provided that your information will remain subject to the terms of this Privacy Policy; and
          </li>
          <li>
            When we hire third parties to perform certain business-related functions for us. For example, we sometimes hire third parties for mailing information, maintaining databases, hosting services, and processing payments. When we employ another company to provide services to support Great Minds, we provide them only with the information that they need to perform their specific function. Our third-party providers are legally obligated to keep your personal information confidential and to use it only for our specific purpose. Our third-party providers also are required to maintain reasonable security practices, to use the information only for the purpose that we prescribe, and to prevent disclosure of the information to unauthorized parties.
          </li>
        </ul>

        <p>We also may share certain aggregated, anonymized information with third-party providers to help us analyze the information to improve our curricula, products, and services.</p>

        <h4>IV.  How Great Minds Secures and Protects Your Information</h4>

        <p>We maintain multiple reasonable security measures to safeguard your information and protect it from loss, theft, misuse, or alteration. These measures include encryption, two-factor authentication, regular software security updates, periodic system and risk assessments, prompt remediation of identified security vulnerabilities, and other industry best practices for network and physical security. We don’t store any credit card information that you provide; that information is collected and processed by a third party that is PCI compliant.</p>

        <p>No data transmissions over the Internet, however, can be guaranteed to be 100% secure. Accordingly, we cannot ensure or warrant the security of any information that you transmit or otherwise provide to us through the Great Minds Website or digital products or services, and you transmit such information at your own risk.</p>

        <p>You will be asked to create a password when you create an account, and this password will be used to allow you to access your account information and certain portions of the Great Minds Website and our products and services. You are responsible for maintaining the strict confidentiality of your account password and for any activity that occurs under your account credentials, whether or not authorized by you. Please notify us of any unauthorized use of your account or any suspected breach of security. We will comply with all applicable laws in the event of an unauthorized disclosure of personal identifying information.</p>

        <h4>V.  How to Change Your Information or Opt Out of Communications</h4>

        <p>You may review or change the information that you have provided about yourself by logging into your account or by contacting us at our <a href="https://greatminds.org/contact">contact page</a>. If you contact us, we will ask you to verify your identity before we provide you with information or make changes to your account.</p>

        <p>You also may choose to opt out of our newsletters and other communications (though we hope you’ll stay connected!). To opt out, click on the “unsubscribe” link that appears on Great Minds emails, or contact us at our <a href="https://greatminds.org/contact">contact page</a>. </p>

        <h4>VI.  How to Deactivate Your Account; Data Retention Policy</h4>

        <p>You may deactivate your Great Minds account at any time by contacting us at our <a href="https://greatminds.org/contact">contact page</a>. Following deactivation of your account, we will retain your account information for a period of six months in case you decide to reactivate your account during that period. You may request deletion of your account information earlier, however, by contacting us at https://greatminds.org/contact. During the six months that your account is inactive following deactivation, we will not use or share your personal account information for any purpose. </p>

        <p>If you don’t reactivate your account during that six-month period, we will anonymize and aggregate your information, meaning that we will remove all personal identifiers such as your first and last name and email address. We retain aggregated, anonymized information for some of the purposes described above.</p>


        <h4>VII.  How Great Minds Will Notify You of Changes to This Privacy Policy</h4>

        <p>We may occasionally update this Privacy Policy; you can see when we last updated this policy by checking the “Last Updated” date at the top of this page. We won’t reduce your rights under this Privacy Policy without your express consent. If we make any significant changes, we’ll provide prominent notice by posting a notice on the Great Minds Website and/or notifying you by email (using the email address that you provided). </p>

        <p>We encourage you to review this Privacy Policy from time to time to stay informed about how we collect, use, and disclose personal information. If you don’t agree with any changes to this Privacy Policy, you may deactivate your account, as discussed in Section VI, above. By continuing to use the Great Minds Website, your account, or any Great Minds products or services after revisions to the Privacy Policy have become effective, you accept and agree to the then current version of the Privacy Policy.</p>

        <h4>VIII.  How to Contact Us</h4>

        <p>If you have any questions about this Privacy Policy, please contact us:</p>

        <p>Great Minds</p>
        <p>55 M Street SE, Suite 340</p>
        <p>Washington, DC  20003</p>
        <a href="https://greatminds.org/contact">Contact us</a>
        <br>
        <h4>CCPA Privacy Policy</h4>

        <h3><u>Information for California Residents</u></h3>

        <h3>California Consumers’ Rights and Choices</h3>

        <p>If you are a California resident, California law permits you to request Information regarding the: </p>

        <ul>
          <li>Categories of Personal Information (as defined by applicable California law) collected, sold or disclosed by us;</li>
          <li>Purposes for which categories of Personal Information collected by us are used;</li>
          <li>Sources of information from which we collect Personal Information; and</li>
          <li>Specific pieces of Personal Information we have collected about you.</li>
        </ul>  

        <p>In addition, if you are a California resident you may:</p>

        <ul>
            <li>Opt-out of the sale or disclosure of your Personal Information, in some circumstances;</li>
            <li>Opt-out of receiving marketing communications from us; however, you may still receive administrative communications regarding the Services;</li>
            <li>Opt-in to certain financial incentive programs we may offer related to the collection, sale, or deletion of your Personal Information; and</li>
            <li>Request deletion of your Personal Information by us and our service providers, in some circumstances.</li>
        </ul>

        <p>You will not be discriminated against for exercising your rights under the California Consumer Privacy Act. Our privacy policy can be found <a href="https://greatminds.org/privacy-policy">here</a>.</p>

        <h3><u>Collection of Personal Information from California Residents</u></h3>
        <p>We have listed below the personal information we may have collected from California residents in the past 12 months.</p>

        <table class="table" style="border-color: solid black;" border="1" align="center">
          <thead>
            <tr>
              <th style="color: white;" colspan="2" bgcolor="black" width="623">
                <p>Category of personal information we may collect:<strong> Identifiers</strong></p>
                <p><strong>&nbsp;</strong></p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="198" bgcolor="grey">
                <p><strong>Categories of sources from which we may obtain your &ldquo;Identifiers&rdquo; include:</strong></p>
                <p><strong>&nbsp;</strong></p>
              </td>
              <td width="426">
                <p>Directly from consumers,&nbsp; consumer data resellers</p>
              </td>
            </tr>
            <tr>
              <td width="198" bgcolor="grey">
                <p><strong>The purposes for collecting your &ldquo;Identifiers&rdquo; include:</strong></p>
                <p><strong>&nbsp;</strong></p>
              </td>
              <td width="426">
                <p>Marketing</p>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <table class="table" style="border-color: solid black;" border="1" align="center">
          <thead>
            <tr>
              <th style="color: white;" colspan="2" bgcolor="black" width="623">
                <p>Category of personal information we may collect:<strong> Personal Characteristics</strong></p>
                <p><strong>&nbsp;</strong></p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="198" bgcolor="grey">
                <p><strong>Categories of sources from which we may obtain your &ldquo;Personal Characteristics&rdquo; include:</strong></p>
                <p><strong>&nbsp;</strong></p>
              </td>
              <td width="426">
                <p>Directly from consumers,&nbsp; consumer data resellers</p>
              </td>
            </tr>
            <tr>
              <td width="198" bgcolor="grey">
                <p><strong>The purposes for collecting your &ldquo;Personal Characteristics&rdquo; include:</strong></p>
                <p><strong>&nbsp;</strong></p>
              </td>
              <td width="426">
                <p>Marketing</p>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <table class="table" style="border-color: solid black;" border="1" align="center">
          <thead>
            <tr>
              <th style="color: white;" colspan="2" bgcolor="black" width="623">
                <p>Category of personal information we may collect:<strong> Commercial Information</strong></p>
                <p><strong>&nbsp;</strong></p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="198" bgcolor="grey">
                <p><strong>Categories of sources from which we may obtain your &ldquo;Commercial Information&rdquo; include:</strong></p>
                <p><strong>&nbsp;</strong></p>
              </td>
              <td width="426">
                <p>Directly from consumers,&nbsp; consumer data resellers</p>
              </td>
            </tr>
            <tr>
              <td width="198" bgcolor="grey">
                <p><strong>The purposes for collecting your &ldquo;Commercial Information&rdquo; include:</strong></p>
                <p><strong>&nbsp;</strong></p>
              </td>
              <td width="426">
                <p>Marketing</p>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <table class="table" style="border-color: solid black;" border="1" align="center">
          <thead>
            <tr>
              <th style="color: white;" colspan="2" bgcolor="black" width="623">
                <p>Category of personal information we may collect:<strong> Internet/Electronic Activity</strong></p>
                <p><strong>&nbsp;</strong></p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="198" bgcolor="grey">
                <p><strong>Categories of sources from which we may obtain your &ldquo;Internet/Electronic Activity&rdquo; include:</strong></p>
                <p><strong>&nbsp;</strong></p>
              </td>
              <td width="426">
                <p>Directly from consumers</p>
              </td>
            </tr>
            <tr>
              <td width="198" bgcolor="grey">
                <p><strong>The purposes for collecting your &ldquo;Internet/Electronic Activity&rdquo; include:</strong></p>
                <p><strong>&nbsp;</strong></p>
              </td>
              <td width="426">
                <p>Marketing,&nbsp;  To improve our customer experience</p>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <table class="table" style="border-color: solid black;" border="1" align="center">
          <thead>
            <tr>
              <th style="color: white;" colspan="2" bgcolor="black" width="623">
                <p>Category of personal information we may collect:<strong> Geolocational Data</strong></p>
                <p><strong>&nbsp;</strong></p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="198" bgcolor="grey">
                <p><strong>Categories of sources from which we may obtain your &ldquo;Geolocational Data&rdquo; include:</strong></p>
                <p><strong>&nbsp;</strong></p>
              </td>
              <td width="426">
                <p>Directly from consumers</p>
              </td>
            </tr>
            <tr>
              <td width="198" bgcolor="grey">
                <p><strong>The purposes for collecting your &ldquo;Geolocational Data&rdquo; include:</strong></p>
                <p><strong>&nbsp;</strong></p>
              </td>
              <td width="426">
                <p>Marketing,&nbsp;  To improve our customer experience</p>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <table class="table" style="border-color: solid black;" border="1" align="center">
          <thead>
            <tr>
              <th style="color: white;" colspan="2" bgcolor="black" width="623">
                <p>Category of personal information we may collect:<strong> Professional Information</strong></p>
                <p><strong>&nbsp;</strong></p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="198" bgcolor="grey">
                <p><strong>Categories of sources from which we may obtain your &ldquo;Professional Information&rdquo; include:</strong></p>
                <p><strong>&nbsp;</strong></p>
              </td>
              <td width="426">
                <p>Directly from consumers,&nbsp; consumer data resellers</p>
              </td>
            </tr>
            <tr>
              <td width="198" bgcolor="grey">
                <p><strong>The purposes for collecting your &ldquo;Professional Information&rdquo; include:</strong></p>
                <p><strong>&nbsp;</strong></p>
              </td>
              <td width="426">
                <p>Marketing</p>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <table class="table" style="border-color: solid black;" border="1" align="center">
          <thead>
            <tr>
              <th style="color: white;" colspan="2" bgcolor="black" width="623">
                <p>Category of personal information we may collect:<strong> Educational Information</strong></p>
                <p><strong>&nbsp;</strong></p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="198" bgcolor="grey">
                <p><strong>Categories of sources from which we may obtain your &ldquo;Educational Information&rdquo; include:</strong></p>
                <p><strong>&nbsp;</strong></p>
              </td>
              <td width="426">
                <p>Directly from consumers,&nbsp; consumer data resellers</p>
              </td>
            </tr>
            <tr>
              <td width="198" bgcolor="grey">
                <p><strong>The purposes for collecting your &ldquo;Educational Information&rdquo; include:</strong></p>
                <p><strong>&nbsp;</strong></p>
              </td>
              <td width="426">
                <p>Marketing</p>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <table class="table" style="border-color: solid black;" border="1" align="center">
          <thead>
            <tr>
              <th style="color: white;" colspan="2" bgcolor="black" width="623">
                <p>Category of personal information we may collect:<strong> Inferences</strong></p>
                <p><strong>&nbsp;</strong></p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="198" bgcolor="grey">
                <p><strong>Categories of sources from which we may obtain your &ldquo;Inferences&rdquo; include:</strong></p>
                <p><strong>&nbsp;</strong></p>
              </td>
              <td width="426">
                <p>Directly from consumers,&nbsp; consumer data resellers</p>
              </td>
            </tr>
            <tr>
              <td width="198" bgcolor="grey">
                <p><strong>The purposes for collecting your &ldquo;Inferences&rdquo; include:</strong></p>
                <p><strong>&nbsp;</strong></p>
              </td>
              <td width="426">
                <p>Marketing,&nbsp;  To improve our customer experience</p>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <table class="table" style="border-color: solid black;" border="1" align="center">
          <thead>
            <tr>
              <th style="color: white;" colspan="2" bgcolor="black" width="623">
                <p><strong> Selling/sharing your personal information</strong></p>
                <p><strong>&nbsp;</strong></p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="198" bgcolor="grey">
                <p><strong>Categories of third parties we may sell your personal information to</strong></p>
                <p><strong>&nbsp;</strong></p>
              </td>
              <td width="426">
                <p>We do not sell personal information to third parties.</p>
              </td>
            </tr>
            <tr>
              <td width="198" bgcolor="grey">
                <p><strong>Categories of third parties we may otherwise share your personal information with</strong></p>
                <p><strong>&nbsp;</strong></p>
              </td>
              <td width="426">
                <p>Advertising networks,&nbsp;  Government entities,&nbsp; Operating systems&nbsp; and&nbsp; platforms,&nbsp;  Social networks</p>
              </td>
            </tr>
          </tbody>
        </table>
        <h3>Requests</h3>
          <p>You can make requests related to your California privacy rights at the attached links: </p>
          <ul>
            <li><a href= "http://www.requesteasy.com/5dfa66654e2a1d00045c7cdd">Access My Personal Information</a></li>
            <li><a href= "http://www.requesteasy.com/5dfa66654e2a1d00045c7cdd">Delete My Personal Information</a></li>
            <li><a href= "http://www.requesteasy.com/5dfa66654e2a1d00045c7cdd">Do Not Sell My Personal Information</a></li>
          </ul>

        <p>You may also make those requests by calling 202-223-1854. </p>

        <p>Please be aware that we do not accept or process requests through other means (e.g., via fax, social media, email addresses, etc.). </p>

        <p>When you make a request, we may ask you to provide verifying information, such as your name, email, or phone number. We will review the information provided and may request additional information via email or other means to ensure we are interacting with the correct individual. Please also be aware that making any such request does not ensure complete or comprehensive removal or deletion of Personal Information or content you may have posted, and there may be circumstances in which the law does not require or allow us to fulfill your request. </p>

        <h3>Children</h3>
        <p>Our Services are not directed to children, and we do not knowingly collect Personal Information from children under the age of 16. If you learn that a child has provided us with Personal Information, then you may contact us as indicated above.</p>

        <h3>Do Not Track</h3>
        <p>Great Minds PBC does not currently take steps to respond to browsers’ “Do Not Track” signals as no uniform standard to respond to such signals has been developed at this time.</p>

        <p>Date created: February 13, 2020</p>

      </div>
    </div>
  </div>
</div>
