<div class="page">
  <%= @page.body.html_safe %>
</div>

<% cache @page, expires_in: 2.hours do %>
  <% if @page.custom_css %>
    <style type="text/css">
      <%= @page.custom_css.content.html_safe %>
    </style>
  <% end %>
  <% CustomCss.global_css.each do |custom_css| %>
    <style type="text/css">
      <%= custom_css.content %>
    </style>
  <% end %>
<% end %>

<% if @page.hubspot? %>
  <% content_for :body_top do %>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3454910.js"></script>
    <!-- End of HubSpot Embed Code -->
  <% end %>
<% end %>

