<section id="background-grey" class="intro jumbo-text">
    <div class="page-header container">
      <h1><%= @page.title %></h1>
      <h3 class="sub-head">Welcome to this page</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui.</p>
      <a class="btn btn-primary" href="../marketing/product.html" role="button">Learn More</a>
    </div>
  </section>
<section>
  <div class="container callout">
    <div id="viewport" class="row">
      <%= @page.body %>
    </div>
  </div>
</section>