<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Billing Address</h3>
  </div>

  <%= render 'spree/shared/address', address: @order.billing_address %>
</div>
