aws_access_key_id: "AKIAIG4RPQKGLBDHWPLA"
aws_secret_access_key: "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"
s3_bucket_name: "greatminds-development"
cloudfront_distribution_id: "E3BPO8YW8DSC3H"

mandrill_username: "web.admin@greatminds.net"
mandrill_password: "1W0RAoHxNG_o-IeS9VeFBA"

from_email: "web.admin@greatminds.net"

DOMAIN: "gm-development.intridea.com"

VIMEO_ACCESS_TOKEN: "2e5b8398384dfc31f88974c97dd12eb4"

salesforce_client_id: ''
salesforce_client_secret: ''

salesforce_username: ''
salesforce_password: ''
salesforce_security_token: ''

WISTIA_API_PASSWORD: '05cb082245e9e1400aee3af99f1fa3e6ff03475532e2b40b042825e3ac66f4ae'

auth_username: ''
auth_password: ''

regonline_api_token: ''

hightail_api_url: ''
hightail_api_key: ''
hightail_username: ''
hightail_password: ''

mailchimp_api_key: '4e6818c68fc256c11636a406bbcb3527-us11'

MEMCACACHED_URL: 'localhost'

google_recaptcha_public: "6LepaSAUAAAAABvxvd3fsQVNxlIcuuHSVprFekgV"
google_recaptcha_secret: "6LepaSAUAAAAAHXFbafpbP77e9-97MewN_zQ9NSK"

hubspot_api_key:
hubspot_portal_id:
hubspot_signup_guid:

INKLING_SFTP_SERVER: ''
INKLING_SFTP_USERNAME: ''
INKLING_SFTP_PASSWORD: ''
INKLING_SFTP_PATH: ''