aws_access_key_id: "AKIAIG4RPQKGLBDHWPLA"
aws_secret_access_key: "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"
s3_bucket_name: "greatminds-development"

mandrill_username: "web.admin@greatminds.net"
mandrill_password: "1W0RAoHxNG_o-IeS9VeFBA"

from_email: "web.admin@greatminds.net"

DOMAIN: "gm-development.intridea.com"
