<div class="panel panel-primary">
  <div class="panel-body panel-body--padding">
    <div class="row">
      <div class="col-sm-12 text-right">
        <div class="form-inline">
          <%= link_to 'New Popup', new_cms_popup_path, class: 'btn btn-success btn-block-xs' %>
        </div>
      </div>
    </div>
  </div>
</div>
