// _blue-background.scss
// Styles applied to class="blue-bg"

.blue-bg {
  background: $dark-blue;
  color: $cream;

  .btn {
    &.btn-default {
      color: $cream;

      &:hover {
        background: $cream;
        color: $dark-blue;
      }
    }

    &.btn-primary {
      color: $dark-blue;
      @include button-bg($cream);
    }
  }
}