// _cream-background.scss
// Styles for tiles with calss="cream-bg"

.cream-bg {
  background: $cream;
  color: $dark-blue;

  .btn {
    &.btn-default {
      color: $dark-blue;

      &:hover {
        background: $dark-blue;
        color: $cream;
      }
    }

    &.btn-primary {
      @include button-bg($dark-blue);
    }
  }
}