<section style="margin-top: 50px;">
  <div class="container container-secondary">
    <div id="welcome" class="row">
      <div class="col-xs-12">
        <h1>Licenses Distributions</h1>
      </div>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>User/Email</th>
            <th>Product</th>
            <th>Quantity</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @distributions.each do |distribution| %>
            <tr>
              <td><%= distribution.to_user.try(:email) || distribution.email %></td>
              <td><%= distribution.product.name %></td>
              <td><%= distribution.quantity %></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
