<section style="margin-top: 50px;">
  <div class="container container-secondary">
    <div id="welcome" class="row">
      <div class="col-xs-12">
        <h1>Admin Dasboard</h1>
      </div>
    </div>
  </div>
</section>
<section class="callout">
  <div class="container">
    <div class="row">
      <div id="dashboard" class="col-xs-5">
        <h2>Add users/manage licenses</h2>
      </div>
      <div id="dashboard" class="col-xs-5 col-xs-offset-1">
        <h2>Add other admins</h2>
      </div>
    </div>
  </div>
</section>
<section class="callout bottom-space">
  <div class="container">
    <div class="row">
      <div id="dashboard" class="col-xs-5 bottom-space">
        <h2>Check last login date</h2>
      </div>
      <div id="dashboard" class="col-xs-5 col-xs-offset-1">
        <h2>Revoke license</h2>
      </div>
    </div>
  </div>
</section>
