<%= render 'cms_nav' %>

<div class="col-md-9">
  <%= render partial: 'search_bar' %>
  <div class="alert alert-info" role="alert">
    <i class="mi">warning</i> To make a new curriculum show up in the nav, you also need to create a new page under <a href="/cms/pages">Sections > Pages</a> that belongs to the new curriculum, and this page needs to have 'Show in nav' and 'Group root' checked. (check Overview page for example.)
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading padding-top--s padding-bottom--s">
      <h3 class="panel-title panel-title-s">Curriculums</h3>
    </div>
    <%= render partial: 'curriculum_list' %>
  </div>
</div>
