.page-title {
  $pt: &;
  background: $white;
  padding: 20px 50px 20px;

  &__text {
    color: $primary-text-color;
    font-family: "franklin-gothic-atf-bold",sans-serif;
    font-size: 60px;
    letter-spacing: normal;
    line-height: 1.1;
    text-transform: none;

    #{$pt}--blue {
      color: $powder;
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    padding: 30px;
  }
}
