.product-list {
  padding-top: 30px;
  text-align: center;

  &__heading {
    color: $primary-text-color;
    font-family: CircularStd-book;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.11;
    margin-bottom: 0px;
    padding-bottom: 35px;
    padding-left: 130px;
    text-align: left;
  }

  &__product {
    background-color: $background-grey;
    display: inline-block;
    float: none;
    height: 303px;
    margin: 15px;
    overflow: hidden;
    padding: 12px 6px;
    position: relative;
    width: 209px;

    .btn {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -36px;
      padding: 5px 0;
      margin: 0;

      &.btn--purple {
        background: $c-science-primary;
        color: $white;
      }

      &.btn--dark-orange {
        background: $dark-orange;
        color: $white;
      }

      &.btn--light-blue {
        background: $powder;
        color: $white;
      }

      &.btn--green {
        background: $lime;
        color: $white;
      }

      &.btn--orange {
        background: $alexandria-orange;
        color: $white;
      }

      &.btn--navy-blue {
        background: $text-black;
        color: $white;
      }
    }

    &:hover {
      // height: 340px;
      box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.17);
      background-color: #ffffff;
      .btn {
        bottom: 0;
      }
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    &--subject {
      font-family: "CircularStd-bold";
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      font-weight: bold;
      letter-spacing: 0.3px;
      line-height: 1.54;
      min-height: 21px;
      text-align: center;

      &__background {
        background: linear-gradient(transparent 60%, rgba(195, 195, 195, 0.4) 50%) no-repeat;
      }

      &--color--dark-orange {
        color: $dark-orange;
      }

      &--color--light-blue {
        color: $powder;
      }

      &--color--green {
        color: $lime;
      }

      &--color--purple {
        color: $c-science-primary;
      }

      &--color--orange {
        color: $alexandria-orange;
      }

      &--color--navy-blue {
        color: $text-black;
      }
    }

    &--title {
      color: $text-black;
      font-family: "CircularStd-medium";
      font-size: 20px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      height: 52px;
      letter-spacing: normal;
      line-height: 1.35;
      min-height: 27px;
      text-align: center;
      text-transform: capitalize;
      width: 200px;
    }

    &--img {
      height: 201px;
      margin: auto;
      width: 148px;

      img {
        height: 201px;
        width: 148px;
      }
    }
  }
}
