.video-left-text-right {
  background-color: $primary;
  color: $white;
  font-family: "CircularStd";
  padding: 67px 113px 63px 78px;

  .col-sm-6 {
    padding: 0 !important;
  }

  .col-sm-6:nth-child(2n) {
    padding-left: 165px !important;
  }

  &__title {
    font-size: 24px !important;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal !important;
    line-height: 1.25;
    text-transform: capitalize;
  }

  &__body {
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.38;
  }
}
