.tile-container {
  min-height: 534px;
  padding: 0;
  $tc: &;

  &__content {
    #{$tc}__icon {
      height: 66px;
      width: 166px;

      &--left {
        height: 126px;
        width: 196px;
      }
    }

    #{$tc}__title {
      margin: 30px 0 10px;
    }

    @media screen and (max-width: $screen-xs-max) {
      padding: 20px 30px !important;
    }
  }

  &__image {
    height: 100%;

    img {
      display: block;
      height: auto;
      max-width: 100%;
    }

    &.img-full-new:last-child {
      margin: 0;
    }

    &.img-full-new:first-child {
      margin: 0;
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    margin: 30px -12px;
  }
}
