.product-presentation {
  height: 534px;
  padding: 0;
  $tc: &;

  &__content {
    #{$tc}__icon {
      height: 125px;
      width: 176px;
    }

    #{$tc}__title {
      color: $text-black;
      font-size: 24px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      height: 100%;
      letter-spacing: normal;
      line-height: 1.25;
      margin: 30px 0 10px;
    }

    #{$tc}__para {
      color: $text-black;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      letter-spacing: normal;
      line-height: 1.38;
    }
  }

  &__image {
    height: 100%;

    #{$tc}__embed {
      height: 344px;
      width: 606px;
    }

    img {
      display: block;
      height: auto;
      max-width: 100%;
    }
  }
}
