<div class="modal fade" id="tour-intro-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Intro</h4>
      </div>
      <div class="modal-body">
        <p>Welcome to your Great Minds license management dashboard! The dashboard makes it easy to distribute and manage licenses. As a school or district administrator, this section allows you to distribute the licenses you have purchased.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" id="start-tour-btn">Start Tour</button>
      </div>
    </div>
  </div>
</div>
