<div class="row">
  <div class="col-sm-10 col-sm-offset-1 margin-bottom-xxl">

    <div class="page-header">
      <h2>Frequently Asked Questions</h2>
    </div>

    <% @faq_categories.each do |faq_category| %>
      <div class="panel panel-default" id="faq<%= faq_category.name %>">
        <div class="panel-heading">
          <h4 class="panel-title"><%= faq_category.name %></h4>
        </div>
        <div class="list-group">
          <% faq_category.questions.each do |question| %>
            <%= link_to question.title, about_qa_path(question.id), class: 'list-group-item' %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>
