<%= form_for [:cms, @faq_category], class: 'form' do |f| %>
  <div class="form-group">
    <label for="name">Name</label>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="name">Display</label>
    <%= f.check_box :display, class: 'form-control' %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
