<div class="modal fade" tabindex="-1" role="dialog" id="success-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Coupon Code Redemption</h4>
      </div>
      <div class="modal-body">
        <h4>Thank you!, Your code has been accepted, and your new product can be found in your dashboard.</h4>
        <p>This window will close automatically in 30 seconds...</p>
      </div>
      <div class="modal-footer text-left">
        <%= link_to 'Go to my dashboard', account_products_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
