<% if products.length == 0 %>
  <div class="col-sm-8 col-md-offset-1 margin-bottom--xl">
    <div class="jumbotron text-left">
      <h2 class="bh2">No products found!</h2>
      <p>Please refine your search.</p>
    </div>
  </div>
<% else %>
  <% if products.any? %>
    <div id="products" data-hook class="col-sm-8 col-md-offset-1 margin-bottom--xl">
      <% products.in_groups_of(2, false).each do |group| %>
        <div class="row display-flex--lg-min">
          <% group.each do |product| %>
            <% cache([product, :store_list], expires_in: 2.hours) do %>
              <div class="col-lg-6 display-flex--lg-min flex-column--lg-min">
                <%= render partial: 'account/resources/product', locals: { product: product } %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% reset_cycle("classes") %>
      <% if products.respond_to?(:num_pages) %>
        <%= paginate products, theme: 'twitter-bootstrap-3', pagination_class: 'pagination-sm' %>
      <% end %>
    </div>
  <% end %>
<% end %>
