<div class="row">
  <div class="col-md-6">
    <h2>My Resources (<%= total %>)</h2>
  </div>
  <div class="col-sm-4 col-md-2"></div>
  <div class="col-sm-4 col-md-2">
    <% if $flipper[:coupon_code].enabled? %>
        <%= link_to new_account_coupon_code_path, class: 'btn btn-sm btn-default margin-top--sm-min margin-bottom--m btn-block hide', id: 'new-coupon-code-btn', remote: true do %>
            Reedem Resources
        <% end %>
    <% end %>
  </div>
  <div class="col-sm-4 col-md-2">
    <a href="/contact" class="btn btn-sm btn-default margin-top--sm-min margin-bottom--m margin-right--reset btn-block">
      Contact Us
    </a>
  </div>
</div>