<div class="row no-gutter">
  <div class="col-sm-10 col-sm-offset-1">
    <img src="http://gm-s3-qa.intridea.com/documents/attachments/000/000/005/original/staff-hero.png?1443624976" class="img-responsive">
  </div>
</div>
<%= render 'tabs' %>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h5 class="margin-top margin-bottom-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row">
      <% @staffs.each do |staff| %>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <%= image_tag staff.picture.url, class: 'img-circle' %>
            <div class="caption">
              <h3><%= link_to staff.name, staff_path(staff) %></h3>
              <p><em><%= staff.title %></em></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
