<div class="modal fade" id="tour-intro-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Welcome to your Dashboard</h4>
      </div>
      <div class="modal-body">
        <% if $flipper[:dashboard_redesign].enabled? %>
          <p>Your dashboard allows you to access resources and discover new tools.</p>
        <% else %>
          <p>This is where you will access your resources and discover new tools.</p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="start-tour-btn">Start Tour</button>
      </div>
    </div>
  </div>
</div>
