<%= render 'cms_nav' %>
<div class="col-md-9">
  <h2>Edit sub header <%= @faq_category_header.name %></h2>

  <%= render 'form' %>
  <%= link_to 'Back', cms_faq_category_headers_path, class: 'btn btn-default' %>
</div>
