// *************************************
//
//   Alerts
//   Bootstrap alert overrides
//
// *************************************

// -------------------------------------
//   Basic Alerts
//
//   Styleguide 8.0
// -------------------------------------

.flash {
  margin-bottom: 0;
}

.alert {
  @include alert-variant(darken($c-positive-highlight, 15%), $c-positive-secondary, $c-positive-secondary);

  position: relative;
  margin-bottom: $b-space;

  a {
    @extend .serif;

    text-transform: none;
    text-decoration: underline;
  }

  .home & {
    position: absolute;
    top: 10px;
    width: 100%;
  }

  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 1000;
  }
}

.alert-success {
  @include alert-variant($c-balanced-primary, $c-balanced-secondary, $c-positive-secondary);
}

.alert-info {
  @include alert-variant(darken($c-positive-highlight, 15%), $c-positive-secondary, $c-positive-secondary);
}

.alert-warning {
  @include alert-variant($c-energized-highlight, darken($c-energized-highlight, 25%), $c-absolute);
}

.alert-danger {
  @include alert-variant($c-energized-highlight, darken($c-energized-highlight, 25%), $c-absolute);
}

.alert-fullwidth {
  border: 0;
}
