// *************************************
//
//   Alerts
//   Bootstrap alert overrides
//
// *************************************

// -------------------------------------
//   Basic Alerts
//
//   Styleguide 10.0
// -------------------------------------

.flash {
  margin-bottom: 0;
}

.alert {
  @include alert-variant(darken($c-positive-highlight, 15%), $c-positive-secondary, $c-positive-secondary);

  position: relative;
  margin-bottom: $b-space;

  a {
    @extend .serif;

    text-transform: none;
    text-decoration: underline;
  }

  .home & {
    position: absolute;
    top: 10px;
    width: 100%;
  }

  .close {
    position: absolute;
    top: 14px;
    right: 10px;
    z-index: 1000;
  }

  .btn {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -14px;
  }
}

.alert-success {
  @include alert-variant($c-balanced-primary, $c-balanced-secondary, $c-positive-secondary);
}

.alert-info {
  @include alert-variant(darken($c-positive-highlight, 15%), $c-positive-secondary, $c-positive-secondary);
}

.alert-warning {
  @include alert-variant($c-energized-highlight, darken($c-energized-highlight, 25%), $c-absolute);
}

.alert-danger {
  @include alert-variant($c-energized-highlight, darken($c-energized-highlight, 25%), $c-absolute);
}

.alert-dismissible {
  @include alert-variant($c-absolute, $c-positive-secondary, $c-positive-secondary);
  padding-right: 135px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 10px solid $c-positive-secondary;
  border-radius: 0;
  box-shadow: $b-box-shadow-m;

  .close {
    color: $c-energized-primary;
    opacity: 1;
  }
}

.alert-math {
  border-color: $c-balanced-primary;
}

.alert-english {
  border-color: $c-positive-primary;
}

.alert-history {
  border-color: $c-energized-primary;
}

.alert-fullwidth {
  border: 0;
}
