/* ----------------------------------------------------------------------------
* Base Button Styling
*
* Styleguide 1.4
*/

.btn {
  font-family: "Source Sans Pro";
  border-radius: 0;

  @include transition(all, .3s);

  &.btn-default {
    background: #fff;
    border: 2px solid #eee;

    &:hover {
      background: #eee;
    }
  }
}

/* ----------------------------------------------------------------------------
* Button Sizes
* Default Bootstrap
*
* Styleguide 1.4.1
*/

/* ----------------------------------------------------------------------------
* Button Groups
* Default Bootstrap
*
* Styleguide 1.4.2
*/

/* ----------------------------------------------------------------------------
* Dropdowns
* Default Bootstrap
*
* Styleguide 1.4.3
*/

.upload-user-btn {
  border: 1px dashed;
}