// *************************************
//
//   Buttons
//   Boostrap button overrides
//
// *************************************

// -------------------------------------
//   Base Button Styling
//
//   Styleguide 5.0
// -------------------------------------

.btn {
  @include transition(all, .3s);

  padding: $b-space ($b-space-m * 2);
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15em;

  @media screen and (min-width: $screen-sm-min) {
    margin-right: $b-space-s;
  }

  &.btn-default {
    border: 1px solid $c-positive-secondary;
    color: $c-positive-secondary;
    background-color: transparent;

    &:hover {
      color: $c-absolute;
      background-color: $c-positive-secondary;
    }

    .blue-bg &,
    .image-bg & {
      border-color: $c-absolute;
      color: $c-absolute;

      &:hover {
        color: $c-positive-secondary;
        background-color: $c-absolute;
      }
    }

    &.dashed-border {
      border: 1px dashed;
    }

    &.dropdown-toggle {
      padding: $b-space ($b-space-m * 2) $b-space $b-space-m;
      border: 1px solid $c-positive-secondary;
      text-align: left;
      color: $c-positive-secondary;
      background: transparent;

      .image-background & {
        border: 1px solid $c-absolute;
        color: $c-absolute;

        &:hover {
          color: $c-positive-secondary;
          background-color: $c-absolute;
        }
      }

    }

    &[disabled] {
      background-color: $c-stable-primary;
    }
  }

  &.btn-primary {
    @include button-variant($c-absolute, $c-positive-secondary, darken($c-positive-secondary, 5%));
  }

  &.btn-info {
    @include button-variant($c-positive-secondary, $c-positive-primary, $c-positive-secondary);
  }

  &.btn-success {
    @include button-variant($c-positive-secondary, $c-balanced-primary, $c-positive-secondary);
  }

  &.btn-danger {
    @include button-variant($c-absolute, darken($c-energized-secondary, 10%), darken($c-energized-secondary, 15%));
  }

  &.btn-danger--alt {
    @include button-variant($c-absolute, $c-energized-secondary, $c-energized-secondary);
  }

  &.btn-link {
    text-decoration: underline;
  }

  &.btn-link-alt {
    text-decoration: none;
    white-space: normal;
  }

  &.btn-link--stable {
    @include button-variant($c-stable-primary, transparent, transparent);

    &:focus {
      outline: none;
    }
  }

  // -------------------------------------
  //   Transparent Button
  //
  //   Styleguide 5.1
  // -------------------------------------

  &.btn-transparent {
    border-color: $c-absolute;
    color: $c-absolute;
    background: transparent;

    &:hover {
      color: $c-positive-secondary;
      background-color: $c-absolute;
    }
  }

  &.header-form-control {
    height: 34px;
    padding: 6px 12px;
  }
}

.btn--md {
  border-radius: 2px;
}

.btn-icon {
  width: 22px;
  height: 22px;
  padding: 0;
}

.btn-block {
  margin-bottom: ($b-space-m * 2);
}

.btn-block-xs {
  display: block;
  width: 100%;
  margin-bottom: 60px;

  @media screen and (min-width: $screen-sm-min) {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
  }
}

// -------------------------------------
//   Button Sizes
//
//   Styleguide 5.2
// -------------------------------------

.btn-sm {
  padding: $b-space-s $b-space;
}

.btn-xs {
  padding: ($b-space-s * .75) ($b-space * .75);
}

// -------------------------------------
//   Button Groups
//
//   Styleguide 5.3
// -------------------------------------

.btn-group {
  display: block;

  @media screen and (min-width: $screen-sm-min) {
    display: inline-block;
  }

  .btn {
    float: none;
    width: 100%;

    @media screen and (min-width: $screen-sm-min) {
      float: left;
      width: auto;
      margin-right: 0;
    }
  }

  .caret {
    position: absolute;
    top: 18px;
    right: $b-space;
  }

  &.fixed-width {
    .btn {
      min-width: 200px;
    }

    .dropdown-menu {
      min-width: 200px;
    }
  }

  &.dropdown-contact-topic {
    .btn {
      min-width: 290px;
    }

    .dropdown-menu {
      min-width: 290px;
    }
  }
}

// -------------------------------------
//   Dropdowns
//
//   Styleguide 5.4
// -------------------------------------

.dropdown-menu {
  width: 100%;
  padding: 0;
  border: 1px solid $c-depleted;
  background-color: $c-firm-highlight;

  @media screen and (min-width: $screen-sm-min) {
    width: auto;
  }

  .image-background & {
    border: 0;
    background: $c-transparent-highlight-9;
    box-shadow: inset 0 0 0 1px;

    @media screen and (min-width: $screen-sm-min) {
      background: transparent;
    }
  }

  > li {

    &:first-child {
      > a {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }

    &:last-child {
      > a {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }

    > a {
      padding: $b-space $b-space-l;
      white-space: normal;

      @media screen and (min-width: $screen-sm-min) {
        white-space: nowrap;
      }

      &:hover {
        background-color: darken($c-firm-highlight, 5%);
      }

      .image-background & {
        @media screen and (min-width: $screen-sm-min) {
          color: $c-absolute;

          &:hover {
            color: $c-depleted;
          }
        }
      }
    }
  }
}

.dropdown-toggle {
  position: relative;

  .caret {
    position: absolute;
    top: 18px;
    right: $b-space;
  }
}
