// *************************************
//
//   Dropdowns
//   Bootstrap Dropdown Overrides
//
// *************************************

// -------------------------------------
//   Basic Dropdowns
//
//   Styleguide 7.0
// -------------------------------------

.dropdown-menu {
  width: 100%;
  padding: 0;
  border: 1px solid $c-depleted;
  background-color: $c-firm-highlight;
  border-radius: $b-border-radius;

  @media screen and (min-width: $screen-sm-min) {
    width: auto;
  }

  // -------------------------------------
  //   Transparent Dropdown
  //
  //   Styleguide 7.1
  // -------------------------------------

  .image-background & {
    border: 1px solid $c-absolute;
    background: $c-transparent-highlight-9;

    @media screen and (min-width: $screen-sm-min) {
      background: transparent;
    }
  }

  > li {

    &:first-child {
      > a {
        border-top-left-radius: $b-border-radius;
        border-top-right-radius: $b-border-radius;
      }
    }

    &:last-child {
      > a {
        border-bottom-left-radius: $b-border-radius;
        border-bottom-right-radius: $b-border-radius;
      }
    }

    > a {
      padding: $b-space $b-space-l;
      white-space: normal;

      @media screen and (min-width: $screen-sm-min) {
        white-space: nowrap;
      }

      &:hover {
        background-color: darken($c-firm-highlight, 5%);
      }

      .image-background & {
        @media screen and (min-width: $screen-sm-min) {
          color: $c-absolute;

          &:hover {
            color: $c-depleted;
          }
        }
      }
    }
  }
}

.dropdown-toggle {
  position: relative;

  .caret {
    position: absolute;
    top: 18px;
    right: $b-space;
  }
}

// -------------------------------------
//   Overlay Dropdowns
//
//   Styleguide 7.2
// -------------------------------------

.dropdown-md {
  &.open {
    z-index: 1001;
  }

  .custom-activated {
    display: block;
    position: relative;
    top: -57px !important;
    margin-bottom: -42px !important;
  }
}

.dropdown-md-btn.dropdown-md-btn.dropdown-md-btn,
.dropdown-md-btn.dropdown-md-btn.dropdown-md-btn:hover {
  border: 1px solid $c-firm-primary;
  font-weight: 700;
  letter-spacing: .05em;
  white-space: initial;
  color: $c-positive-secondary;
  background-color: $c-absolute;
  border-radius: 2px;
  transition: none;

  &.btn-sm {
    padding: $b-space-s 30px $b-space-s $b-space;
  }
}

.dropdown-md-mi.dropdown-md-mi.dropdown-md-mi {
  position: absolute;
  top: $b-space;
  right: $b-space;
  color: $c-firm-primary;

  .btn-sm & {
    top: 3px;
    right: 3px;
  }
}

.dropdown-md-menu.dropdown-md-menu {
  top: 0;
  width: 100%;
  min-width: initial;
  margin-top: 0;
  border: 1px solid $c-firm-primary;
  border-radius: 2px;
  box-shadow: $b-box-shadow-m;
}

.dropdown-md-item {
  &:first-child {
    .dropdown-md-link {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
  }
  &:last-child {
    .dropdown-md-link {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}

.dropdown-md-link.dropdown-md-link {
  position: relative;
  padding: $b-space $b-space-m;
  font-weight: 700;
  letter-spacing: .05em;
  white-space: initial;
  color: $c-firm-primary;
  background-color: $c-absolute;

  &.active {
    margin: 0 -1px;
    color: $c-absolute;
    background-color: $c-positive-secondary;

    .dropdown-md-mi {
      color: $c-absolute;
    }
  }
}
