// *************************************
//
//   Filters
//   -> Component for filtering content
//
// *************************************

.filters-title {
  line-height: 1em;
}

.filter-title {
  position: relative;
}

.filter-remove {
  position: absolute;
  right: 8px;
}
