// *************************************
//
//   Footer
//   -> Footer component styles
//
// *************************************

.footer {
  padding: $b-space-xl $b-space-l;
  font-size: 1em;
  background: $c-balanced;
}

.footer-section {
  margin: 0 0 30px;
  font-size: .90em;
}

.footer-rule {
  margin-top: $b-space-m;
  color: $c-firm-primary;
  opacity: .4;
}

.footer-title {
  margin-bottom: 0;
  font-size: 1em;
}

.footer-title-link {
  // font-weight: bold;
}

.footer-link {
  font-weight: normal;
  letter-spacing: 2px;
}

.footer-attribution {
  @media screen and (min-width: $screen-sm-min) {
    font-size: .85em;
    text-align: center;
  }
}

.footer-terms {
  @extend .sans-serif;

  margin: 0 $b-space;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-copyright {
  @extend .sans-serif;

  margin: 0 $b-space;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-social-icon {
  position: relative;
  bottom: -2px;
  min-width: $b-space-m;
  font-size: 13.68px;
}
