// _footer.scss
// todo: refactor

.footer {
  padding: 40px 20px;
  background: $brand-green;
  font-size: 1em;

  a {
    font-weight: normal;
    letter-spacing: 2px;
  }

  h6 {
    margin-bottom: 0;
    font-size: 1em;
    a {
      font-weight: bold;
    }
  }

  hr {
    margin-top: 15px;
    color: $gray-light;
    opacity: 0.4;
  }

}

.footer-section {
  margin: 0 0 30px;
  font-size: .90em;
}

.attribution {
  @media screen and (min-width: $screen-sm-min) {
    text-align: center;
    font-size: .85em;
  }


  a {
    margin: 0 10px;
    text-transform: uppercase;
    @extend .sans-serif;
  }
}

.copyright {
  margin: 0 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  @extend .sans-serif;
}

.social-icon {
  position: relative;
  bottom: -2px;
  min-width: 15px;
  font-size: 13.68px;
}
