// *************************************
//
//   Footer
//   -> Footer component styles
//
// *************************************

.footer {
  padding: $b-space-xl $b-space-l;
  font-size: 1em;
  background: $c-balanced-primary;
}

.footer-section {
  margin: 0 0 $b-space;
  font-size: .90em;

  @media screen and (min-width: $screen-sm-min) {
    margin: 0 0 ($b-space * 3);
  }
}

.footer-rule {
  margin-top: $b-space;
  color: $c-firm-primary;
  opacity: .4;

  @media screen and (min-width: $screen-sm-min) {
    margin-top: $b-space-m;
  }
}

.footer-title {
  min-height: $b-space-xl;
  margin-bottom: 0;
  font-size: 1em;

  @media screen and (min-width: $screen-sm-min) {
    min-height: initial;
  }
}

.footer-title-link,
.footer-title-no-link {
  display: block;
  padding: $b-space ($b-space * 3);

  @media screen and (min-width: $screen-sm-min) {
    display: inline;
    padding: initial;
  }
}

.footer-link {
  display: block;
  padding: $b-space ($b-space * 3);
  font-weight: normal;
  letter-spacing: 2px;

  @media screen and (min-width: $screen-sm-min) {
    display: inline;
    padding: initial;
  }
}

.footer-attribution {
  margin-bottom: 20px;

  @media screen and (min-width: $screen-sm-min) {
    font-size: .85em;
    text-align: center;
  }
}

.footer-attribution-break {
  display: none;

  @media screen and (min-width: $screen-sm-min) {
    display: inline;
  }
}

.footer-terms {
  @extend .sans-serif;

  display: block;
  margin: 0 $b-space;
  padding: $b-space ($b-space * 3);
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;

  @media screen and (min-width: $screen-sm-min) {
    display: inline;
    padding: initial;
    text-decoration: underline;
  }
}

.footer-copyright {
  @extend .sans-serif;

  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 10px;
  text-transform: uppercase;

  @media screen and (max-width: $screen-sm-min) {
    display: block;

    .copyright-break {
      display: none;
    }
  }
}

.footer-social-icon {
  position: relative;
  bottom: -2px;
  min-width: $b-space-m;
  font-size: 13.68px;
}
