// *************************************
//
//   Forms
//   Bootstrap form overrides
//
//   Styleguide 6.0
//
// *************************************

input,
label,
.form-control,
.form-group {
  @include transition(all, .3s);
  @include placeholder(inherit);

  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: inherit;
}

label {
  font-size: .85em;
  font-weight: bold;
  text-transform: uppercase;

  @media screen and (min-width: $screen-sm-min) {
    font-size: 1em;
  }
}

select {
  option {
    color: $c-positive-secondary;
  }
}

.form-inline {
  .form-control {
    padding: $b-space $b-space-m;
  }

  label {
    @media screen and (min-width: $screen-sm-min) {
      margin-right: $b-space;
    }
  }

}

.form-group,
.input-group {
  margin-bottom: $b-space-m * 2;
  text-align: left;
}

.form-control {
  height: auto;
  padding: $b-space $b-space-m;
  border: 1px solid $c-positive-secondary;
  font-size: .9em;
  line-height: 1.4em;
  background-color: $c-firm-highlight;
  box-shadow: none;
  border-radius: $b-border-radius;

  @include input-placeholder {
    color: $c-firm-primary;
  }

  &:focus {
    border: 1px solid $c-positive-primary;
    box-shadow: none;
  }

  &.header-form-control {
    height: 34px;
    padding: 6px 12px;
  }

  &.success {
    border: 1px solid $c-balanced-secondary;
    color: $c-positive-secondary;
    background-color: $c-balanced-primary !important;
  }
}

.form-control-sm {
  padding: 5px 15px 4px;
}

.form-control[readonly] {
  background: $c-firm-primary;
}

.input-group {

  input {
    padding: 10px;
  }

  &.collapse {
    display: none;

    &.in {
      display: table;
    }
  }

  .form-control {
    &:focus {
      border-color: $c-positive-secondary;
    }
  }
}

.input-group-addon {
  border-color: $c-positive-secondary;
  color: $c-positive-secondary;
  border-radius: $b-border-radius;
}

.input-group-btn {
  .btn {
    border: 1px solid $c-positive-secondary;
  }
}

// -------------------------------------
//   Transparent Form Groups
// -------------------------------------

.form-group-transparent-label {
  color: $c-absolute;
}

.form-group-transparent-input {
  border-color: $c-absolute;
  color: $c-absolute;
  background-color: transparent;

  &:focus {
    border-color: $c-firm-secondary;
  }
}

// -------------------------------------
//   Transparent Input Groups
// -------------------------------------

.input-group-transparent {
  .input-group-transparent-input {
    border-color: $c-absolute;
    color: $c-absolute;
    background-color: transparent;

    &:focus {
      border-color: $c-firm-secondary;
    }
  }

  .input-group-transparent-btn {
    border-color: $c-absolute;
    color: $c-absolute;
    background-color: transparent;
  }
}

.error {
  color: $c-energized-highlight;
}

.radio {
  margin: 0 0 10px;

  label + label {
    margin-left: 5px;
  }

  .form-inline & {
    margin: 0 10px 10px 0;
  }
}

.select-container {
  @include transition(background, .3s);

  display: block;
  position: relative;
  margin-bottom: 15px;
  padding: 10px 36px 10px 15px;
  border: 1px solid $c-positive-secondary;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .15em;
  background: transparent;
  border-radius: 4px;
  box-shadow: none;

  .form-control {
    border: 0;
  }

  @media screen and (min-width: $screen-xs-min) {
    display: inline-block;
    margin-bottom: 30px;
  }

  &::after {
    display: inline-block;
    position: absolute;
    top: 19px;
    right: 10px;
    width: 0;
    height: 0;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    vertical-align: middle;
    content: ' ';
  }

  label {
    margin: 0;
  }

  select {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &.dark-select {

    &:hover {
      color: $c-absolute;
      background: $c-positive-secondary;
    }
  }

  &.block {
    display: block;
    padding: 10px 30px 10px 15px;
  }

  + .select-container {
    @media screen and (min-width: $screen-xs-min) {
      margin-left: 10px;
    }
  }

}

.inline-input {
  display: inline-block;
  width: auto;
  margin: 0 5px;
}

.has-icon-addon {
  position: relative;

  input {
    padding-left: 50px;

    &:focus {

      + .material-icons {
        opacity: 1;
      }
    }
  }

  .material-icons {
    @include translate(0, -50%);
    @include transition(all, .3s);

    position: absolute;
    top: 50%;
    left: 5px;
    width: 1.5em;
    padding: 0 0 0 $b-space-s;
    border-right: 2px solid;
    opacity: .5;
  }
}

.select2-container {
  &.form-control {

    .select2-choices,
    .select2-choice {
      height: 42px;
      padding: 9px 15px 8px;
      background: transparent;
      background-image: none;

      .select2-search-field {
        input {
          @extend .sans-serif;

          padding: 0;
          color: $c-positive-secondary;
        }
      }

      .select2-search-choice {
        margin: 0 0 0 5px;
      }
    }

    &.select2-container-active {
      border: 1px solid $c-positive-primary;

      .select2-choices {
        border: 0;
      }
    }

    &.select2-dropdown-open {
      border-radius: 3px;

      .select2-choice {
        border: 0;
      }
    }

    .select2-choice {
      .select2-chosen {
        font-weight: normal;
        text-align: left;
        text-transform: capitalize;
      }

      .select2-arrow {
        display: none;
      }
    }
  }
}



.select2-drop {
  margin-top: 2px;
  background-color: $c-firm-highlight;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.select2-drop-active {
  border: 1px solid $c-depleted;
}

.select2-search {
  input {
    padding: 10px 20px;
    border: 0;
    background-image: none !important;
  }
}

.select2-results {
  @extend .sans-serif;

  margin: 0;
  padding: 0;

  &:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .select2-result {
    padding: 10px 20px;
    font-size: 13px;
    text-transform: uppercase;

    &:hover {
      color: $c-depleted;
      background-color: darken($c-firm-highlight, 5%);
    }
  }

  .select2-highlighted {
    color: $c-depleted;
    background-color: darken($c-firm-highlight, 5%);
  }

  .select2-result-label {
    padding: 0;
  }
}

// -------------------------------------
//   Material Design Inputs
// -------------------------------------

.input-md {
  border: 1px solid $c-firm-primary;
  background-color: $c-absolute;
  border-radius: 2px;

  @include input-placeholder {
    font-weight: 700;
    text-transform: uppercase;
  }

}

.input-md-search {
  background: $c-absolute asset-url('icon-search-gray.png') no-repeat right $b-space-m top 50%;
  background-size: $b-space-m $b-space-m;
}
