// *************************************
//
//   Forms
//   Bootstrap form overrides
//
//   Styleguide 6.0
//
// *************************************

input, label, .form-control, .form-group {
  @include transition(all, .3s);
  @include placeholder(inherit);

  font-family: 'Karla', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: inherit;
}

label {
  font-weight: bold;
  font-size: .85em;
  text-transform: uppercase;

  @media screen and (min-width: $screen-sm-min) {
    font-size: 1em;
  }
}

.form-inline {
  .form-control {
    padding: $b-space $b-space-m;
  }

  label {
    @media screen and (min-width: $screen-sm-min) {
      margin-right: $b-space;
    }
  }

}

.form-group,
.input-group {
  margin-bottom: $b-space-m * 2;
}

.form-control {
  height: auto;
  padding: 10px 15px;
  border: 1px solid $dark-blue;
  box-shadow: none;
  background-color: $light-plum;
  line-height: 1.4em;
  font-size: 0.9em;

  @include placeholder-text-color {
    color: $gray-light;
  }

  &:focus {
    border: 1px solid $english;
    box-shadow: none;
  }

  &.header-form-control {
    padding: 6px 12px;
    height: 34px;
  }

  &.success {
    border: 1px solid darken($brand-green, 25%);
    color: $dark-blue;
    background-color: $brand-green !important;
  }
}

.form-control[readonly] {
  background: $gray-light;
}

.input-group {

  input {
    padding: 10px;
  }

  &.collapse {
    display: none;
    &.in {
      display: table;
    }
  }

  .form-control {
    &:focus {
      border-color: $dark-blue;
    }
  }
}

.input-group-btn {
  .btn {
    border: 1px solid $dark-blue;
  }
}

.error {
  color: $brand-danger;
}

.radio {
  margin: 0 0 10px;

  label + label {
    margin-left: 5px;
  }

  .form-inline & {
    margin: 0 10px 10px 0;
  }
}

.select-container {
  @include transition(background, .3s);

  display: block;
  position: relative;
  margin-bottom: 15px;
  padding: 10px 36px 10px 15px;
  border: 1px solid $dark-blue;
  background: transparent;
  font-size: 14px;
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border-radius: 4px;
  box-shadow: none;

  .form-control {
    border: 0;
  }

  @media screen and (min-width: $screen-xs-min) {
    display: inline-block;
    margin-bottom: 30px;
  }

  &:after {
    content: " ";
    position: absolute;
    top: 19px;
    right: 10px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  label {
    margin: 0;
  }

  select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }

  &.dark-select {

    &:hover {
      background: $dark-blue;
      color: $cream;
    }
  }

  &.block {
    display: block;
    padding: 10px 30px 10px 15px;
  }

  + .select-container {
    @media screen and (min-width: $screen-xs-min) {
      margin-left: 10px;
    }
  }

}

.inline-input {
  display: inline-block;
  width: auto;
  margin: 0 5px;
}

.has-icon-addon {
  position: relative;

  input {
    padding-left: 50px;

    &:focus {

      + .glyphicon {
          opacity: 1;
      }
    }
  }

  .glyphicon {
    @include translate(0, -50%);
    @include transition(all, .3s);

    position: absolute;
    top: 50%;
    left: 5px;
    padding: 5px 10px;
    border-right: 2px solid;
    opacity: .5;
  }
}

.select2-container {
  &.form-control {

    .select2-choices,
    .select2-choice {
      height: 42px;
      padding: 9px 15px 8px;
      background: transparent;
      background-image: none;

      .select2-search-field {
        input {
          @extend .sans-serif;

          padding: 0;
          color: $dark-blue;
        }
      }

      .select2-search-choice {
        margin: 0 0 0 5px;
      }
    }

    &.select2-container-active {
      border: 1px solid $english;

      .select2-choices {
        border: 0;
      }
    }

    &.select2-dropdown-open {
      border-radius: 3px;

      .select2-choice {
        border: 0;
      }
    }

    .select2-choice {
      .select2-chosen {
        font-weight: normal;
        text-align: left;
        text-transform: initial;
      }

      .select2-arrow {
        display: none;
      }
    }
  }
}



.select2-drop {
  margin-top: 2px;
  background-color: $light-plum;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.select2-drop-active {
  border: 1px solid $c-absolute;
}

.select2-search {
  input {
    padding: 10px 20px;
    border: 0;
    background-image: none !important;
  }
}

.select2-results {
  @extend .sans-serif;

  margin: 0;
  padding: 0;

  &:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .select2-result {
    padding: 10px 20px;
    font-size: 13px;
    text-transform: uppercase;

    &:hover {
      color: $c-absolute;
      background-color: darken($light-plum, 5%);
    }
  }

  .select2-highlighted {
    color: $c-absolute;
    background-color: darken($light-plum, 5%);
  }

  .select2-result-label {
    padding: 0;
  }
}
