/* ----------------------------------------------------------------------------
* Forms
*
* Styleguide 1.5
*/

input, label, .form-control, .form-group {
  font-family: "Source Sans Pro";
  font-weight: normal;
  font-size: 16px;
  @include transition(all, .3s);
}

.form-control {
  height: auto;
  padding: 15px;
  border: 0;
  border-radius: 0;
  box-shadow: inset 0 0 0 2px $gray-lighter;

  &:focus {
    border: 0;
    box-shadow: inset 0 0 0 2px $brand-info;
  }

  &.header-form-control {
    padding: 6px 12px;
    height: 34px;
  }
}

.inline-input {
  display: inline-block;
  width: auto;
  margin: 0 5px;
}

.has-icon-addon {
  position: relative;

  input {
    padding-left: 50px;

    &:focus {

      + .glyphicon {
          color: $brand-info;
          border-right: 2px solid $brand-info;
      }
    }
  }

  .glyphicon {
    position: absolute;
    top: 50%;
    left: 5px;
    padding: 5px 10px;
    border-right: 2px solid $gray-light;
    @include translate(0, -50%);
    @include transition(all, .3s);
  }
}

// New User Form
.school-district-details, .add-district-field {
  max-height: 0;
  overflow: hidden;
  @include transition(all, .5s);

  &.show-details {
    max-height: 1000px;
    overflow: auto;
  }
}

.add-district-field {
  margin-bottom: 0;

  &.show-details {
   margin-bottom: 15px;
  }
}

.add-district {
  position: relative;
  height: 35px;
  margin-bottom: 15px;
}

.add-district-button {
  float: right;

  .text, .close {
    max-width: 0;
    float: left;
    overflow: hidden;
    @include transition(all, .5s);

    &.show-prompt {
      max-width: 200px;
    }
  }
}