/* ----------------------------------------------------------------------------
* Navbar
* Default Bootstrap Navbar Style
*
* Styleguide 1.8
*/
.navbar {
  height: auto;
  min-height: 0;
}

.navbar-default {
  height: auto;
  border: none;
  background: $dark-blue;
  @include clearfix;

  .navbar-brand {
    height: auto;
    padding: 45px;
    background: $brand-green;
    color: $dark-blue;
    font-size: 16px;
    line-height: 1;

    &:hover, &:focus {
      background: $brand-green;
    }
  }

  .navbar-nav {
    > li {

      &:first-child {
        a {
          padding-left: 110px;
        }
      }

      > a {
        padding: 45px 15px;
        color: $cream;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1;

        &:hover, &:focus {
          color: $coral;
        }
      }
    }

    .active {

      a, a:hover {
        background: transparent;
        color: $coral;
      }
    }

    .subnav {
      li {
        &.active {
          a {
            color: $dark-blue;
          }
        }
      }
    }
  }

  .navbar-toggle {
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px 10px;
    color: $cream;
    border: 1px solid $cream;

    &:hover, &:focus {
      background: $cream;
      color: $dark-blue;

      .glyphicon {
        color: $dark-blue;
      }
    }
  }
}

.navbar-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}


#main-nav {
  float: right;
  position: relative;
  width: calc(100% - 217px);
  max-height: 600px;
  height: 106px !important;

  // @media screen and (max-width: 1092px) {
  //   width: 100%;
  //   border-top: 1px solid transparent;
  //   background: $coral;
  //   box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

  //   &.collapse {
  //     display: none !important;

  //     &.in {
  //       display: block !important;
  //     }
  //   }

  //   .navbar-nav {
  //     float: none;

  //     >li {
  //       float: none;

  //       > a {
  //         padding: 15px;
  //         color: #fff;
  //         border-top: 2px solid #fff;
  //         text-align: center;
  //       }

  //       &.active {
  //         a {
  //           background: transparent;
  //           color: $brand-green;
  //         }
  //       }
  //     }
  //   }

  //   .nav-search {
  //     float: none;
  //     margin: 0;
  //     padding: 15px;

  //     input:not(.btn) {
  //       color: $coral;
  //       box-shadow: inset 0 0 0 1px #fff;
  //     }

  //     .btn {
  //       background: transparent;
  //       box-shadow: inset 0 0 0 1px #fff;

  //       &:hover {
  //         background: #fff;
  //         color: $coral;
  //       }
  //     }
  //   }
  // }

  @media screen and (max-width: 767px) {
    .nav-search {
      padding: 15px 0;

      .btn {
        width: 100%;
        margin: 10px 0 0;
      }
    }
  }
}

.subnav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: $coral;

  li {
    float: left;
    padding: 10px;
    font-size: 12px;

    &:first-child {
      padding-left: 110px;
    }
  }

  a {
    @extend .serif;
    text-transform: capitalize;
  }

  @media (max-width: 1025px) {
    .navbar-header {
      posiiton: relative;
      float: none;
      padding: 10px 0;
    }
  }

  @media screen and (max-width: 500px) {
    top: 110px;
  }
}

.subnav-name {
  padding: 15px;
  font-size: 16px;
}

.sidenav-toggle {
  display: none;
  margin-left: 15px;

  @media screen and (max-width: 1025px) {
    display: block;
  }

  .glyphicon {
    top: 2px;
  }
}

.navbar-nav {

  @media screen and (max-width: 900px) {
    position: relative;
    top: auto;
    left: auto;
    @include translate(0, 0);
  }
}

.navbar-toggle {

  &.main-nav {
    float: left;
    top: 10px;
    padding-right: 24px;

    @media screen and (max-width: 1092px) {
      display: block;
    }

    .glyphicon {
      position: absolute;
      right: 6px;
      top: 12px;
      color: $brand-green;
      @include transition(all, $transitionTiming);
    }

    .glyphicon-menu-hamburger {
      opacity: 0;
    }

    .glyphicon-remove {
      opacity: 1;
    }

    &.collapsed {
      .glyphicon {
        @include rotate(180deg);
      }

      .glyphicon-remove {
        opacity: 0;
      }
      .glyphicon-menu-hamburger {
        opacity: 1;
      }
    }
  }


  // @media screen and (max-width: 1025px) {
  //   &.subnav-toggle {
  //     display: block;

  //     .glyphicon {
  //       @include transition(all, $transitionTiming);
  //     }

  //     &[aria-expanded="true"] {

  //       .glyphicon {
  //         @include rotate(90deg);
  //       }

  //       + .sidenav-toggle {
  //         display: none;
  //       }
  //     }

  //     &.sidenav-shown {
  //       display: none;
  //     }
  //   }
  // }
}

.nav-right-options {
  position: absolute;
  top: 0;
  right: 0;

  @media screen and (max-width: 500px) {
    width: 100%;
  }

  li {
    float: left;
    padding: 15px 10px;
    color: $cream;
    font-size: 12px;
  }

  a {
    @extend .serif;
    font-style: italic;
    text-transform: lowercase;
  }
}

.search-icon {
  color: $cream;
}

#link-to-cart {
  .cart-info {
    position: relative;
    font-size: 14px;
    color: $cream;
  }

  &:hover {
    > .gm-order-info-popup {
      display: block;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}

.gm-order-info-popup {
  display: none;
  position: absolute;
  top: 46px;
  right: 0;
  width: 300px;
  border: 3px solid $coral;
  border-radius: $border-radius-value;
  z-index: 3;

  table tr {
    td {
      padding: 5px 10px;
    }
  }

  .total-row {
    background: #eee;
  }

  .proceed-button {
    display: block;
    margin: 10px auto 10px;
    width: 80%;
  }
}

// #subnav {
//   @media screen and (max-width: 900px) {
//     &.collapse {
//       display: none !important;

//       &.in {
//         display: block !important;
//       }
//     }
//   }
// }