// _header.scss

.navbar-default {
  height: 55px;
  padding-top: 3px;
}

.nav-search {
  float: right;
}

.navbar-header {
  float: left;
}

#main-nav {
  max-height: 600px;
  background: #f8f8f8;
  width: calc(100% - 290px);

  @media screen and (max-width: $largeBP) {
    width: 100%;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

    &.collapse {
      display: none !important;

      &.in {
        display: block !important;
      }
    }

    .navbar-nav>li {
      float: none;
    }

    .navbar-nav>li>a {
      padding: 15px;
    }

    .nav-search {
      float: none;
      margin: 0;
      padding: 15px 0;
      border-bottom: 2px solid #eee;

      .btn {
        width: 100%;
      }
    }
  }
}

.navbar-default {
  &.subnav {
    .navbar-nav {
      .active {
        a {
          background: transparent;
          color: white;
        }
      }
    }
  }
}

.navbar-toggle {
  margin-top: 5px;
  padding: 8px 10px;

  &.main-nav {
    float: left;
    padding-right: 24px;

    @media screen and (max-width: $largeBP) {
      display: block;
    }

    .glyphicon {
      position: absolute;
      right: 6px;
      top: 12px;
      @include transition(all, $transitionTiming);
    }

    .glyphicon-menu-hamburger {
      opacity: 0;
    }

    .glyphicon-remove {
      opacity: 1;
    }

    &.collapsed {
      .glyphicon {
        @include rotate(180deg);
      }

      .glyphicon-remove {
        opacity: 0;
      }
      .glyphicon-menu-hamburger {
        opacity: 1;
      }
    }
  }


  @media screen and (max-width: 767px) {
    &.subnav-toggle {
      margin-right: 15px;
      display: block;

      .glyphicon {
        @include transition(all, $transitionTiming);
      }

      &[aria-expanded="true"] {

        .glyphicon {
          @include rotate(90deg);
        }

        + .sidenav-toggle {
          display: none;
        }
      }

      &.sidenav-shown {
        display: none;
      }
    }
  }
}

.cart {
  float: left;
  margin: 0;
}

#link-to-cart {
  .cart-info {
    padding: 15px;
  }

  &:hover {
    > .gm-order-info-popup {
      display: block;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}

.gm-order-info-popup {
  position: absolute;
  top: 50px;
  right: 0;
  width: 300px;
  display: none;
  background: #ccc;

  table tr {
    td {
      padding: 5px 10px;
    }
  }

  .total-row {
    background: #eee;
  }

  .proceed-button {
    margin: 5px 10%;
    width: 80%;
  }
}

.subnav {
  top: 55px;
  z-index: 1020;
  background-color: #C0C0C0;
  border-bottom: none;

  .navbar-collapse {
    background-color: #C0C0C0;
  }

  @media (max-width: $largeBP) {
    .navbar-header {
      posiiton: relative;
      float: none;
    }
  }
}

.subnav-name {
  padding: 15px;
  font-size: 16px;
}

.video-subnav {
  .sidenav-toggle {
    display: none;
    margin-left: 15px;

    @media screen and (max-width: 767px) {
      display: block;
    }

    .glyphicon {
      top: 2px;
    }
  }
}