/* ----------------------------------------------------------------------------
* Navbar
* Default Bootstrap Navbar Style
*
* Styleguide 1.8
*/

.navbar-primary {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 50px;
  margin-bottom: 0;
  border: 0;
  background: $dark-blue;

  @media screen and (min-width: $screen-sm-min) {
    position: relative;
    height: auto;
    padding: 0;
    border-radius: 0;
  }

  &.nav-border-bottom {
    @media screen and (min-width: $screen-sm-min) {
      border-bottom: 5px solid $coral;
    }
  }

  // ----- Brand ----- //

  .navbar-brand {
    padding: 20px 40px;
    color: $dark-blue;
    background: $brand-green;
    font-size: 1em;
    line-height: 1em;

    &:hover,
    &:focus {
      background: $brand-green;
    }

    @media screen and (min-width: $screen-sm-min) {
      height: auto;
      padding: 45px;
      font-size: 1.2em;
    }
  }

  // ----- Main Navigation Items ----- //

  .navbar-collapse {
    border: 0;
    max-height: none;
  }

  .navbar-nav {
    margin: 0 -15px;
    background-color: $coral;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

    @media screen and (min-width: $screen-sm-min) {
      background-color: transparent;
    }

    > li {
      &:first-child {
        a {
          @media screen and (min-width: $screen-sm-min) {
            padding-left: 60px;
          }
        }
      }

      &.active {
        a,
        a:hover,
        a:focus {
          color: #fff;
          background-color: darken($coral, 5%);
          @media screen and (min-width: $screen-sm-min) {
            color: $brand-green;
            background: transparent;
          }
        }
      }

      > a {
        color: #fff;
        &:hover,
        &:focus {
          color: darken(#fff, 15%);
        }

        @media screen and (min-width: $screen-sm-min) {
          padding: 45px 15px 44px;
          &:hover {
            color: $brand-green;
          }
        }
      }
    }

  }

  // ----- Sub Navigation Items ----- //

  .subnav {
    margin: 0 -15px;
    color: #fff;

    .navbar-collapse-toggle {
      padding: 0 15px;
      background-color: $coral;

      @media screen and (min-width: $screen-sm-min) {
        display: none;
      }

      .glyphicon {
        top: -2px;
        right: -16px;
      }
    }

    .navbar-collapse {
      clear: both;
      padding: 10px 0 10px 25px;
      background-color: $coral;

      @media screen and (min-width: $screen-sm-min) {
        height: 41px !important;  //Override !important specified by Bootstrap
        padding: 0 15px;
        text-align: center;
      }

      ul {
        @media screen and  (min-width: $screen-sm-min) {
          display: inline-block;
        }
      }

      li {
        @media screen and (min-width: $screen-sm-min) {
          float: left;
          padding: 10px 15px;
        }
      }

      a {
        &:focus {
          color: #fff;
          text-decoration: none;
        }

        @media screen and (min-width: $screen-sm-min) {
          padding: 0;
          font-family: 'Lora' serif;
          font-weight: normal;
          font-size: 0.8em;
          text-transform: capitalize;
          &.active {
            border-bottom: 2px solid $brand-green;
          }
        }
      }
    }
  }

  .subnav-name {
    padding: 5px 0;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  // ----- Cart Navigation Items ----- //

  .navbar-right {
    font-family: Karla, sans-serif;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;

    @media screen and (min-width: $screen-sm-min) {
      position: absolute;
      top: 0;
      right: 30px;
      width: auto;
      text-transform: uppercase;

      li {
        @media screen and (min-width: $screen-sm-min) {
          float: left;
          display: inline-block;
          padding: 15px 10px;
          color: #fff;
          font-size: 12px;
        }
      }

      > li > a {
        @media screen and (min-width: $screen-sm-min) {
          padding: 0;
        }
      }
    }

    .form-inline {
      padding: 0;
    }
  }

  .cart {
    > li {
      a {
        display: block;
        padding: 10px 15px;
        color: #fff;
        &:hover {
          color: darken(#fff, 15%);
        }

        @media screen and (min-width: $screen-sm-min) {
          padding: 0;
        }
      }
    }
  }

  #link-to-cart {
    .cart-info {
      position: relative;
      font-size: 14px;
      color: #fff;

      &:hover {
        color: $brand-green;
      }
    }
  }

  // ----- Search ----- //

  .search {
    margin-bottom: 0;
    padding: 10px;
    color: #fff;

    .btn {
      padding: 6px 12px;
      border: 0;
      box-shadow: inset 0 0 0 1px;
      line-height: 20px;

      @media screen and (min-width: $screen-sm-min) {
        border-radius: 0;
        color: lighten($gray-light, 10%);
        background-color: lighten($dark-blue, 5%);
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }

      &:focus {
        outline: none;
      }
    }

    .form-control {
      padding: 6px 12px;
      line-height: 20px;

      @media screen and (min-width: $screen-sm-min) {
        border-radius: 0;
        color: lighten($gray-light, 10%);
        background-color: lighten($dark-blue, 5%);
      }

      &:focus {
        box-shadow: inset 0 0 0 1px;
      }
    }
  }

  // ----- Main Toggle Button ----- //

  .navbar-toggle {
    border: 0;
    color: #fff;

    &:hover,
    &:focus {
      background-color: transparent;
    }

    @media screen and (min-width: $screen-sm-min) {
      display: none;
    }

    .glyphicon {
      position: absolute;
      top: 10px;
      right: 0;
      @include transition(all, $transitionTiming);
    }

    .glyphicon-menu-hamburger {
      opacity: 0;
    }

    .glyphicon-remove {
      opacity: 1;
    }

    &.collapsed {
      .glyphicon {
        @include rotate(180deg);
      }

      .glyphicon-remove {
        opacity: 0;
      }
      .glyphicon-menu-hamburger {
        opacity: 1;
      }
    }
  }

}
