// *************************************
//
//   Jumbotron
//   Bootstrap jumbotron overrides
//
// *************************************

// -------------------------------------
//   Default Jumbotron
//
//   Styleguide 12.0
// -------------------------------------

.jumbotron {
  border: 1px solid $dark-blue;
  text-align: center;

  p {
    font-size: 1em;
  }
}

// -------------------------------------
//   Success Jumbotron
//
//   Styleguide 12.1
// -------------------------------------

.jumbotron-success {
  border: 0;
  color: $dark-blue;
  background-color: $brand-green;
}

// -------------------------------------
//   Info Jumbotron
//
//   Styleguide 12.2
// -------------------------------------

.jumbotron-info {
  border: 0;
  background-color: $english;
}
