// *************************************
//
//   Jumbotron
//   -> Bootstrap Jumbotron Overrides
//
// *************************************

.jumbotron {
  text-align: center;

  p {
    margin-bottom: 0;
    font-size: 1em;
  }
}

.jumbotron-info {
  background-color: $english;
}

.jumbotron-success {
  color: $dark-blue;
  background-color: $brand-green;
}
