// *************************************
//
//   Jumbotron
//   Bootstrap jumbotron overrides
//
// *************************************

// -------------------------------------
//   Default Jumbotron
//
//   Styleguide 12.0
// -------------------------------------

.jumbotron.jumbotron {
  position: relative;
  border: 1px solid $c-positive-secondary;
  text-align: center;
  border-radius: 2px;

  p {
    margin-bottom: $b-space-m;
    font-size: 1em;
    line-height: 1.4em;
  }

  .btn-dismiss {
    position: absolute;
    top: 0;
    right: 0;
  }

  @media screen and (min-width: $screen-sm-min) {
    padding: $b-space-xl;
  }
}

// -------------------------------------
//   Primary Jumbotron
//
//   Styleguide 12.1
// -------------------------------------

.jumbotron-primary {
  border: 0;
  color: $c-absolute;
  background-color: $c-positive-secondary;

  .btn-dismiss {
    text-decoration: none;
    color: $c-absolute;
  }
}

.jumbotron-title.jumbotron-title {
  margin-bottom: $b-space;
  font-size: 3em;
  line-height: 1em;
  letter-spacing: 0;
}
