// *************************************
//
//   Labels
//   Boostrap label overrides
//
// *************************************

.label {
  display: inline-block;
  padding: $b-space-s;
  border: 1px solid $c-positive-secondary;
  font-family: 'Karla', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: $c-positive-secondary;
  background-color: $c-absolute;
  border-radius: 4px;
}

.label-math {
  border: 1px solid $c-positive-secondary;
  color: $c-positive-secondary;
  background-color: $c-balanced-primary;
}

.label-history {
  border: 1px solid $c-positive-secondary;
  color: $c-positive-secondary;
  background-color: $c-energized-primary;
}

.label-english {
  border: 1px solid $c-positive-secondary;
  color: $c-positive-secondary;
  background-color: $c-positive-primary;
}

.label-large {
  font-size: 16px;
}
