// *************************************
//
//   List Groups
//   -> Bootstrap List Group Overrides
//
// *************************************

.list-group-item {

  &.active {
    border-color: $dark-blue;
    background-color: $dark-blue;

    &:hover,
    &:focus {
      border-color: lighten($dark-blue, 5%);
      background-color: lighten($dark-blue, 5%);
    }
  }

  .badge {
    margin-top: 3px;
  }
}
