// *************************************
//
//   List Groups
//   Bootstrap list group overrides
//
// *************************************

// -------------------------------------
//   Default List Group
//
//   Styleguide 14.0
// -------------------------------------

.list-group-item {

  &.active {
    border-color: $c-positive-secondary;
    background-color: $c-positive-secondary;

    &:hover,
    &:focus {
      border-color: lighten($c-positive-secondary, 5%);
      background-color: lighten($c-positive-secondary, 5%);
    }
  }

  .badge {
    .mi {
      font-size: 16px;
    }
  }
}

// -------------------------------------
//   Linked Items
//
//   Styleguide 14.1
// -------------------------------------

a.list-group-item {
  font-weight: normal;
  text-transform: none;
  color: inherit;

  p {
    @extend .serif;
  }
}

// -------------------------------------
//   Search Items
// -------------------------------------
.search {
  .list-group-item h4 {
    text-transform: none;
    letter-spacing: normal;
  }
}

// -------------------------------------
//   Event List Groups
//
//   Styleguide 14.2
// -------------------------------------

.list-group-event {
  @extend .sans-serif;

  .list-group-event-title {
    border-bottom: 1px solid $c-positive-highlight;
    text-align: center;
    text-transform: capitalize;
    color: $c-absolute;
    background-color: $c-positive-secondary;
    border-radius: 4px;
  }

  .list-group-event-title-link {
    &:hover {
      text-decoration: none;
      color: $c-absolute;
    }
  }

  .list-group-event-details {
    margin-bottom: $b-space;
    text-align: center;

    @media screen and (min-width: $screen-sm-min) {
      margin-bottom: 0;
    }
  }

  .list-group-event-details-item {
    border: 1px solid $c-positive-secondary;
  }

  .list-group-event-date {
    font-size: 1.3em;
    line-height: 1em;
    font-weight: bold;
  }

  .list-group-event-meta {
    font-size: .8em;
  }

  .list-group-event-meta-title {
    display: block;
    font-weight: bold;
  }

  .list-group-event-meta-link {
    font-weight: normal;
    text-transform: capitalize;
  }
}

// -------------------------------------
//   Contextual Classes
// -------------------------------------

.list-group-item-success {
  border: 1px solid $c-balanced-subdue;
  color: $c-balanced-subdue;
  background-color: $c-balanced;

  &.list-group-item-link {
    color: $c-balanced-subdue;

    &:hover {
      color: $c-balanced-subdue;
      background-color: $c-balanced-highlight;
    }
  }
}

.list-group-item-info {
  border: 1px solid $c-positive-secondary;
  color: $c-positive-secondary;
  background-color: $c-positive-primary;

  &.list-group-item-link {
    color: $c-positive-secondary;

    &:hover {
      color: $c-positive-secondary;
      background-color: darken($c-positive-primary, 10%);
    }
  }
}
