// *************************************
//
//   List Groups
//   Bootstrap List Group Overrides
//
//   Styleguide 1.15
//
// *************************************

.list-group-item {

  &.active {
    border-color: $dark-blue;
    background-color: $dark-blue;

    &:hover,
    &:focus {
      border-color: lighten($dark-blue, 5%);
      background-color: lighten($dark-blue, 5%);
    }
  }

  .badge {
    .mi {
      font-size: 16px;
    }
  }
}

a.list-group-item {
  color: inherit;
  font-weight: normal;
  text-transform: none;

  p {
    @extend .serif;
  }
}
