// _mastheads.scss
// todo: refactor

.masthead {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 20%;
  color: $cream;
}

.masthead-content {
  padding: 19% 30px 10%;

  @media screen and (min-width: $screen-xs-min) {
    padding: 19% 60px;
  }
}

.masthead-content-video {
  padding: 11% 30px 28%;
}

.home-mast-intro {
  margin-bottom: 60px;
  line-height: 1.9em;
  text-shadow: 0 0 3px $c-absolute;

  @media screen and (min-width: $screen-xs-min) {
    margin-bottom: 40px;
  }
}
