// _mastheads.scss

.masthead {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 20%;
  color: $cream;
}

.masthead-content {
  padding: 19% 30px 19% 30px;
  background: rgba($dark-blue, .6);
}