// _mastheads.scss
// todo: refactor

.masthead {
  color: $c-absolute;
  background-repeat: no-repeat;
  background-position: 0 20%;
  background-size: cover;
}

.masthead-content {
  padding: 19% 30px 10%;

  @media screen and (min-width: $screen-xs-min) {
    padding: 19% 60px;
  }

  @media screen and (max-width: $screen-xs-min) {
    padding: 30px;
  }
}

.masthead-content-video {
  padding: 11% 30px 28%;
}

.home-mast-intro {
  margin-bottom: 60px;
  line-height: 1.9em;
  text-shadow: 0 0 3px $c-depleted;

  @media screen and (min-width: $screen-xs-min) {
    margin-bottom: 40px;
  }
}
