// *************************************
//
//   Media Objects
//   Bootstrap media object overrides
//
// *************************************

// -------------------------------------
//   Default Media Object
//
//	 Styleguide 14.0
// -------------------------------------

.media-left {
	display: block;

	@media screen and (min-width: $screen-xs-min) {
		display: table-cell;
	}
}

.media-object {
	margin: 0 auto 10px;

	@media screen and (min-width: $screen-xs-min) {
		margin: auto;
	}
}
