// *************************************
//
//   Modals
//   Bootstrap modal overrides
//
// *************************************

// -------------------------------------
//   Default Modal
//
//   Styleguide 18.0
// -------------------------------------

.modal-backdrop {
  z-index: 2001;
}

.modal {
  z-index: 2002;

  .row {
    text-align: left;
  }

  &.video-play-modal {
    .modal-dialog {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      @include translate(-50%, -200%);
      @include transition(transform, .5s);

      &.modal-lg {
        width: 100%;
        padding: 0 10px;

        @media screen and (min-width: $screen-md-min) {
          width: 850px;
          padding: 0;
        }

        .embed-responsive {
          margin: 0;

          // embed has fixed size, because that's what me-js uses to determine me-js player size
          @media screen and (min-width: $screen-md-min) {
            width: 850px;
            height: 476px;
            padding: 0;
          }
        }

        iframe, .mejs-player {
          width: 100%;

          // important is required to override inline, js-generated me-js styles
          @media screen and (min-width: $screen-md-min) {
            width: 850px !important;
            height: 476px !important;
          }
        }
      }
    }

    &.in {
      .modal-dialog {
        @include translate(-50%, -50%);
      }
    }
    .modal-content {
      background: transparent;
      box-shadow: none;
      border: none;
    }

    .modal-body {
      padding: 0;
    }
  }

  &.video-description-modal {
    .modal-header {
      background: transparent;

      .close {
        right: 5px;
        top: -8px;
        color: #ddd;
      }
    }
  }
}

.modal-backdrop {
  &.in {
    background: $dark-blue;
    opacity: .66;
  }
}

.modal-header {
  border: none;

  .close {
    position: absolute;
    right: 5px;
    top: -5px;
    margin-top: 0px;
    color: $dark-blue;
    font-size: 40px;
    opacity: .75;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }
}

.modal-content {
  border-radius: 0;
}
