// *************************************
//
//   Modals
//   Bootstrap modal overrides
//
// *************************************

// -------------------------------------
//   Default Modal
//
//   Styleguide 17.0
// -------------------------------------

.modal-backdrop {
  z-index: 2001;

  &.in {
    background: $c-positive-secondary;
    opacity: .66;
  }
}

.modal {
  z-index: 2002;

  .row {
    text-align: left;
  }

  // -------------------------------------
  //   Video Modal
  // -------------------------------------

  &.video-play-modal {
    .modal-dialog {
      @include translate(-50%, -200%);
      @include transition(transform, .5s);

      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;

      &.modal-lg {
        width: 100%;
        padding: 0 10px;

        @media screen and (min-width: $screen-md-min) {
          width: 850px;
          padding: 0;
        }

        .embed-responsive {
          margin: 0;

          // embed has fixed size, because that's what me-js uses to determine me-js player size
          @media screen and (min-width: $screen-md-min) {
            width: 850px;
            height: 476px;
            padding: 0;
          }
        }

        iframe,
        .mejs-player {
          width: 100%;

          // important is required to override inline, js-generated me-js styles
          @media screen and (min-width: $screen-md-min) {
            width: 850px !important;
            height: 476px !important;
          }
        }
      }

      .close {
        color: $c-absolute;
      }

    }

    &.in {
      .modal-dialog {
        @include translate(-50%, -50%);
      }
    }

    .modal-content {
      border: 0;
      background: transparent;
      box-shadow: none;
    }

    .modal-body {
      padding: 0;
    }
  }

  &.video-description-modal {
    .modal-header {
      background: transparent;

      .close {
        top: -8px;
        right: 5px;
        color: $c-firm-accent;
      }
    }
  }
}

.modal-header {
  border: 0;

  .close {
    position: absolute;
    top: -5px;
    right: 5px;
    margin-top: 0;
    font-size: 40px;
    color: $c-positive-secondary;
    opacity: .75;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }
}

.modal-content {
  border-radius: 0;
}

.modal-body {
  img.pull-right {
    max-width: 200px;
    margin: 0 0 20px 20px;
  }
}

// -------------------------------------
//   Jumbotron Modal
//
//   Styleguide 17.1
// -------------------------------------

.modal-jumbotron {
  @media screen and (min-width: $screen-sm-min) {
    @include display-flex('important');
    @include flex-direction(column);
    @include justify-content(center);
  }
}

.modal-jumbotron-dialog {
  @media screen and (min-width: $screen-sm-min) {
    width: 500px;
  }
}

.modal-jumbotron-content {
  @include box-shadow(0 5px 15px rgba(0, 0, 0, .2));

  border: 0;
}

.modal-jumbotron-header {
  min-height: 100px;
  margin-bottom: 30px;
  padding: 50px $b-space-m 0;
  color: $c-absolute;
  background-color: $c-positive-secondary;
  background-repeat: no-repeat;
  background-position: 0 20%;
  background-size: cover;

  @media screen and (min-width: $screen-sm-min) {
    padding: 50px 50px 0;
  }

  .close {
    top: $b-space;
    right: $b-space-m;
    font-size: $b-space-l;
    font-weight: normal;
    color: $c-absolute;
    opacity: 1;

    &:hover {
      opacity: .75;
    }
  }
}

.modal-jumbotron-title {
  margin-bottom: $b-space;
}

.modal-jumbotron-body {
  padding-top: 0;
}

.modal-jumbotron-footer {
  padding: 0 $b-space-m 30px;
  border-top: 0;
  text-align: center;
}

// -------------------------------------
//   Sizes
// -------------------------------------

.modal-xl {
  @media screen and (min-width: $screen-sm-min) {
    width: auto;
    margin: $b-space;
  }

  @media screen and (min-width: $screen-sm-min) {
    width: 95%;
    max-width: 1200px;
    height: 90%;
    overflow: scroll;
    margin: 30px auto;
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

.modal--has-media {
  text-align: center;

  iframe {
    max-width: 100%;
  }

  .modal-body {
    padding: 0;
  }
}

.modal--transparent {
  .close {
    color: $c-absolute;
  }

  .modal-content {
    border: 0;
    background: transparent;
    box-shadow: none;
  }
}

.modal--scrollable {

  .modal-dialog {
    overflow-y: initial !important;
  }

  .modal-body {
    height: 350px;
    overflow-y: auto;
  }

}
