// *************************************
//
//   Navbar
//   Bootstrap navbar overrides
//
//   Styleguide 11.0
//
// *************************************

.navbar-primary {
  background: $white;
  border: 0;
  border-radius: 0;
  height: 65px;
  left: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1030;

  a {
    letter-spacing: 2px;
  }

  @media screen and (min-width: $navbar-breakpoint-md) {
    position: relative;
    height: auto;
    padding: 5px 0 0;
    border-radius: 0;

    &.nav-border-bottom {
      border-bottom: 6px solid $khaki;
    }
  }


  // ----- Brand ----- //

  .navbar-brand {
    background: transparent asset-url("Great-Minds-Logo.svg") no-repeat 50% 50%;
    height: 65px;
    padding: 0;
    text-indent: -9999px;
    width: 80px;
    // background-size: 150px 35px;

    @media screen and (min-width: $navbar-breakpoint-md) {
      background: transparent asset-url("Great-Minds-Logo.svg") no-repeat 50% 50%;
      background-size: 80%;
      height: 109px;
      margin-bottom: 5px;
      margin-left: 19px;
      position: relative;
      width: 165px;
      // background-size: 102px 69px;
    }
  }

  // ----- Main Navigation Items & Dropdowns ----- //

  .navbar-collapse {
    max-height: none;
    border: 0;
  }

  .navbar-nav {
    margin: 0 -15px;
    background-color: $beige;
    box-shadow: none;

    @media screen and (min-width: $navbar-breakpoint-md) {
      margin: 0 -15px 0 0;
      background-color: transparent;
    }

    [data-page='english'] & {
      @media screen and (min-width: $navbar-breakpoint-md) {
        background-color: transparent;
      }
    }

    [data-page='history'] & {
      @media screen and (min-width: $navbar-breakpoint-md) {
        background-color: transparent;
      }
    }

    [data-page='math'] & {
      @media screen and (min-width: $navbar-breakpoint-md) {
        background-color: transparent;
      }
    }

    [data-page='science'] & {
      @media screen and (min-width: $navbar-breakpoint-md) {
        background-color: transparent;
      }
    }

    .dropdown-toggle {
      .caret {
        @media screen and (min-width: $navbar-breakpoint-md) {
          display: none;
        }
      }
    }

    > li {
      &:first-child {
        a {
          @media screen and (min-width: $navbar-breakpoint-md) {
            padding-left: 0;
          }
        }
      }

      &.open,
      &.active {
        a,
        a:hover,
        a:focus {
          background-color: $beige;
          border-bottom: 1px solid darken($beige, 15%);
          color: $terracotta;
          font-size: 14px;
          font-weight: bold;

          @media screen and (min-width: $navbar-breakpoint-md) {
            background: transparent;
            border: 0;
            color: $terracotta;
            font-size: 16px;
          }

          @media screen and (min-width: $navbar-breakpoint-md) {
            [data-page='english'] &,
            [data-page='history'] &,
            [data-page='science'] &,
            [data-page='math'] & {
              border: 0;
              background: transparent;
            }
          }

        }

        .dropdown-menu {

          @media screen and (min-width: $navbar-breakpoint-md) {
            display: none;
          }

          > li {
            > a {
              padding: 10px 15px 10px 25px;
              border-bottom: 1px solid darken($beige, 15%);
              color: $black;

              &.active {
                color: $terracotta;
                background-color: $beige;

                &:hover {
                  color: $terracotta;
                  background-color: darken($beige, 5%);
                }
              }

              &:hover,
              &:focus {
                background-color: darken($beige, 5%);
                color: $black;
              }
            }
          }
        }
      }

      > a {
        border: 0;
        border-bottom: 1px solid darken($beige, 15%);
        color: $black;
        font-family: "CircularStd-bold";
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.1px;

        &:hover,
        &:focus {
          color: $black;
        }

        @media screen and (min-width: $navbar-breakpoint-md) {
          border-bottom: 0;
          font-size: 16px;
          padding: 45px 20px 16px;

          [data-page='english'] &,
          [data-page='history'] &,
          [data-page='science'] &,
          [data-page='math'] & {
            border-bottom: 0;
            // color: $c-absolute;
          }

          &:hover {
            color: $terracotta;
          }

          &:focus {
            color: $black;
          }
        }
      }

      &.search-button {
        border-bottom: 1px solid darken($beige, 15%);

        @media screen and (min-width: $navbar-breakpoint-md) {
          border: 0;
        }

        @media screen and (min-width: $navbar-breakpoint-md) {
          [data-page='english'] &,
          [data-page='history'] &,
          [data-page='science'] &,
          [data-page='math'] & {
            border-bottom: 0;
          }
        }

      }
    }

  }

  // ----- Sub Navigation Items ----- //

  .subnav {
    display: none;
    margin: 0 -15px;
    color: $c-absolute;

    [data-page='english'] &,
    [data-page='history'] &,
    [data-page='science'] &,
    [data-page='math'] & {
      color: $c-positive-secondary;
    }

    .products &,
    .video_gallery &,
    .admin &,
    .history &,
    .bookmarks &,
    .cms-wrapper &,
    .settings &,
    .licenses & {
      display: block;
    }

    @media screen and (min-width: $navbar-breakpoint-md) {
      display: block;
    }

    .navbar-collapse-toggle {
      padding: 0;
      background-color: $c-energized-secondary;

      @media screen and (min-width: $navbar-breakpoint-md) {
        display: none;
      }

      .dropdown-toggle {
        background-color: $beige;
        border: 0;
        border-bottom: 1px solid darken($beige, 15%);
        color: $black;
        display: block;
        position: relative;
        padding: 10px 15px;
        font-size: 14px;
        font-family: "CircularStd-bold";
        letter-spacing: 0.1px;

        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
          color: $black;
        }

        &.open {
          background-color: darken($beige, 5%);
          border-bottom: 1px solid $beige;
          color: $terracotta;
        }

        &.js-dashboard-nav-toggle {
          color: $terracotta;
        }
      }
    }

    .navbar-collapse {
      clear: both;
      padding: 10px 0 10px 25px;
      background-color: $beige;

      [data-page='english'] & {
        @media screen and (min-width: $navbar-breakpoint-md) {
          a {
            &:hover,
            &:active,
            &:focus {
              border-bottom: 2px solid $c-positive-primary;
            }

            &.active {
              border-bottom: 2px solid $c-positive-primary;
            }
          }
        }
      }

      [data-page='history'] & {
        @media screen and (min-width: $navbar-breakpoint-md) {
          a {
            &:hover,
            &:active,
            &:focus {
              border-bottom: 2px solid $c-energized-primary;
            }

            &.active {
              border-bottom: 2px solid $c-energized-primary;
            }
          }
        }
      }

      [data-page='math'] & {
        @media screen and (min-width: $navbar-breakpoint-md) {
          a {
            &:hover,
            &:active,
            &:focus {
              border-bottom: 2px solid $c-balanced-primary;
            }

            &.active {
              border-bottom: 2px solid $c-balanced-primary;
            }
          }
        }
      }

      [data-page='science'] & {
        @media screen and (min-width: $navbar-breakpoint-md) {
          a {
            &:hover,
            &:active,
            &:focus {
              border-bottom: 2px solid $c-science-primary;
            }

            &.active {
              border-bottom: 2px solid $c-science-primary;
            }
          }
        }
      }

      @media screen and (min-width: $navbar-breakpoint-md) {
        padding: 0 15px;
        text-align: center;
        border-top: 6px solid $khaki;
      }

      li {
        @media screen and (min-width: $navbar-breakpoint-md) {
          display: inline-block;
          padding: 3px 15px;
        }
      }

      a {
        display: block;

        &:hover,
        &:active,
        &:focus {
          @media screen and (min-width: $navbar-breakpoint-md) {
            border-bottom: 2px solid $black;
            text-decoration: none;
          }
        }

        @media screen and (min-width: $navbar-breakpoint-md) {
          border-bottom: 2px solid transparent;
          color: $black;
          font-size: 16px;
          font-weight: normal;
          letter-spacing: normal;
          line-height: 1;
          padding: 2px 0 2px;
          text-transform: capitalize;

          &.active {
            border-bottom: 2px solid $black;

            [data-page='english'] {
              border-bottom: 2px solid $light-blue;
            }

            [data-page='history'] {
              border-bottom: 2px solid $alexandria-orange;
            }

            [data-page='science'] {
              border-bottom: 2px solid $purple;
            }

            [data-page='math'] {
              border-bottom: 2px solid $c-balanced-primary;
            }
          }
        }
      }
    }

    .dashboard-nav {
      @media screen and (max-width: $screen-md-min) {
        padding: 0;

        a {
          background-color: darken($beige, 5%);
          border-bottom: 1px solid $beige;
          color: $black;
          font-size: 14px;
          font-weight: bold;
          padding: 10px 15px 10px 25px;

          &:hover,
          &:active,
          &:focus {
            outline: none;
            text-decoration: none;
          }

          &.active {
            color: $terracotta;
          }
        }
      }
    }
  }

  .subnav-name {
    padding: 5px 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  // ----- Utility Nav Items ----- //

  .link-dashboard {

    .products &,
    .video_gallery &,
    .admin &,
    .history &,
    .bookmarks &,
    .cms-wrapper &,
    .settings &,
    .licenses & {
      display: none;
    }

    @media screen and (min-width: $navbar-breakpoint-md) {
      display: block;
    }
  }

  // ----- Cart Navigation Items ----- //
  .navbar-nav {
    &.navbar-right {
      font-weight: bold;
      letter-spacing: 2px;

      li {
        a {
          color: $black;
          letter-spacing: -0.17px;

          &.active {
            color: $terracotta;
          }

          @media screen and (min-width: $navbar-breakpoint-md) {
            &:hover,
            &:focus {
              color: $terracotta;
            }
          }
        }
      }

      @media screen and (min-width: $navbar-breakpoint-md) {
        position: absolute;
        right: 35px;
        text-transform: uppercase;
        top: 6px;
        width: auto;

        li {
          &:first-child {
            a {
              padding: 0;
            }
          }

          @media screen and (min-width: $navbar-breakpoint-md) {
            color: $c-absolute;
            display: inline-block;
            float: left;
            font-size: 0.75em;
            padding: 15px 10px;
          }

          a {
            @media screen and (min-width: $navbar-breakpoint-md) {
              font-size: 12px;
            }
          }
        }

        > li > a {
          @media screen and (min-width: $navbar-breakpoint-md) {
            padding: 0;
          }
        }
      }

      .form-inline {
        padding: 0;
      }

      .hello-text {
        display: none;

        @media screen and (min-width: $navbar-breakpoint-md) {
          display: inline-block;
        }
      }
    }
  }

  .cart {
    > li {
      a {
        display: block;
        padding: 10px 15px;
        color: $c-absolute;

        &:hover {
          color: darken($c-absolute, 15%);
        }

        @media screen and (min-width: $navbar-breakpoint-md) {
          padding: 0;
        }
      }
    }
  }

  #link-to-cart {
    .cart-info {
      position: relative;
      font-size: 14px;
      color: $c-absolute;

      &:hover {
        @media screen and (min-width: $navbar-breakpoint-md) {
          color: $c-balanced-primary;
        }
      }

      [data-page='english'] &,
      [data-page='history'] &,
      [data-page='math'] & {
        color: $c-positive-secondary;

        @media screen and (min-width: $navbar-breakpoint-md) {
          color: $c-absolute;
        }

        &:hover {
          color: $c-positive-secondary;

          @media screen and (min-width: $navbar-breakpoint-md) {
            color: $c-balanced-primary;
          }
        }
      }
    }
  }

  // ----- Search ----- //

  .nav-search {
    position: relative;
    padding: 0 10px;

    @media screen and (min-width: $navbar-breakpoint-md) {
      padding: 35px 0 0;
    }

    .form-control {
      width: 30px;
      padding: 9px 15px;
      border: 0;
      background: transparent asset-url("icon-search-blue.png") no-repeat 50% 50%;
      background-size: 15px 15px;
      box-shadow: none;

      &:focus {
        width: 100%;
        padding: 9px 15px 9px 30px;
        background: $c-absolute asset-url('icon-search-gray.png') no-repeat 2% 50%;
        background-size: 15px 15px;

        @media screen and (min-width: $navbar-breakpoint-md) {
          background: $c-absolute asset-url('icon-search-gray.png') no-repeat 5% 50%;
          background-size: 15px 15px;
        }
      }

      [data-page='english'] &,
      [data-page='history'] &,
      [data-page='math'] & {
        background: transparent asset-url('icon-search-blue.png') no-repeat 50% 50%;
        background-size: 15px 15px;

        @media screen and (min-width: $navbar-breakpoint-md) {
          background: transparent asset-url("icon-search-blue.png") no-repeat 50% 50%;
          background-size: 15px 15px;
        }

        &:focus {
          background-color: $c-absolute;
          background-position: 2% 50%;

          @media screen and (min-width: $navbar-breakpoint-md) {
            background: $c-absolute asset-url('icon-search-gray.png') no-repeat 5% 50%;
            background-size: 15px 15px;
          }
        }
      }
    }
  }

  // ----- Main Toggle Button ----- //

  .navbar-toggle {
    border: 0;
    // color: $c-absolute;

    &:hover,
    &:focus {
      background-color: transparent;
    }

    @media screen and (min-width: $navbar-breakpoint-md) {
      display: none;
    }

    .material-icons {
      @include transition(all, $transition-timing);

      position: absolute;
      top: 7px;
      right: 0;
    }

    .icon-menu {
      opacity: 0;
    }

    .icon-close {
      opacity: 1;
    }

    &.collapsed {
      .material-icons {
        @include rotate(180deg);
      }

      .icon-menu {
        opacity: 1;
      }

      .icon-close {
        opacity: 0;
      }
    }
  }

}


@media (max-width: $screen-md-min) {
  .navbar-header {
    float: none;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block !important;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none;
  }

  .navbar-nav>li {
    float: none;
  }

  .collapse.in {
    display: block !important;
  }

  .navbar-nav .open .dropdown-menu {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    float: none;
    margin-top: 0;
    position: static;
    width: auto;
  }
}