// *************************************
//
//   Navbar
//   Bootstrap navbar overrides
//
//   Styleguide 11.0
//
// *************************************

.navbar-primary {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 50px;
  margin-bottom: 0;
  border: 0;
  background: $c-positive-secondary;

  a {
    letter-spacing: 2px;
  }

  @media screen and (min-width: $screen-sm-min) {
    position: relative;
    height: auto;
    padding: 5px 0 0;
    border-radius: 0;
  }

  &.nav-border-bottom {
    @media screen and (min-width: $screen-sm-min) {
      border-bottom: 3px solid $c-energized-secondary;
    }

    [data-page='science'] & {
        @media screen and (min-width: $screen-sm-min) {
            border-bottom: 3px solid $c-science-primary;
        }
    }
  }

  // ----- Brand ----- //

  .navbar-brand {
    width: 165px;
    padding: 0;
    text-indent: -9999px;
    background: transparent asset-url('logo-half.png') no-repeat 50% 50%;
    background-size: 150px 35px;

    @media screen and (min-width: $screen-sm-min) {
      position: relative;
      height: 109px;
      margin-left: 50px;
      background: transparent asset-url('logo-full.png') no-repeat 50% 50%;
      background-size: 155px 109px;
    }
  }

  // ----- Main Navigation Items & Dropdowns ----- //

  .navbar-collapse {
    max-height: none;
    border: 0;
  }

  .navbar-nav {
    margin: 0 -15px;
    background-color: $c-energized-secondary;
    box-shadow: none;

    @media screen and (min-width: $screen-sm-min) {
      margin: 0 -15px 0 0;
      background-color: transparent;
    }

    [data-page='english'] & {
      background-color: $c-positive-primary;

      @media screen and (min-width: $screen-sm-min) {
        background-color: transparent;
      }
    }

    [data-page='history'] & {
      background-color: $c-energized-primary;

      @media screen and (min-width: $screen-sm-min) {
        background-color: transparent;
      }
    }

    [data-page='math'] & {
      background-color: $c-balanced-primary;

      @media screen and (min-width: $screen-sm-min) {
        background-color: transparent;
      }
    }

    [data-page='science'] & {
      background-color: $c-science-primary;

      @media screen and (min-width: $screen-sm-min) {
        background-color: transparent;
      }
    }

    .dropdown-toggle {
      .caret {
        @media screen and (min-width: $screen-sm-min) {
          display: none;
        }
      }
    }

    > li {
      &:first-child {
        a {
          @media screen and (min-width: $screen-sm-min) {
            padding-left: 40px;
          }
        }
      }

      &.open,
      &.active {
        a,
        a:hover,
        a:focus {
          border-bottom: 1px solid $c-energized-secondary;
          color: $c-absolute;
          background-color: darken($c-energized-secondary, 5%);

          @media screen and (min-width: $screen-sm-min) {
            border: 0;
            color: $c-balanced-primary;
            background: transparent;
          }

          [data-page='english'] & {
            border-bottom: 1px solid $c-positive-primary;
            background-color: darken($c-positive-primary, 5%);

            @media screen and (min-width: $screen-sm-min) {
              color: $c-positive-primary;
            }
          }

          [data-page='history'] & {
            border-bottom: 1px solid $c-energized-primary;
            background-color: darken($c-energized-primary, 5%);

            @media screen and (min-width: $screen-sm-min) {
              color: $c-energized-primary;
            }
          }

          [data-page='math'] & {
            border-bottom: 1px solid $c-balanced-secondary;
            background-color: darken($c-balanced-primary, 5%);

            @media screen and (min-width: $screen-sm-min) {
              color: $c-balanced-primary;
            }
          }

          [data-page='science'] & {

            @media screen and (min-width: $screen-sm-min) {
              color: $c-science-primary;
            }
          }

          body.spree-store & {
            @media screen and (min-width: $screen-sm-min) {
              color: $c-energized-secondary;
            }
          }

          @media screen and (min-width: $screen-sm-min) {
            [data-page='english'] &,
            [data-page='history'] &,
            [data-page='math'] & {
              border: 0;
              background: transparent;
            }
          }

        }

        .dropdown-menu {

          @media screen and (min-width: $screen-sm-min) {
            display: none;
          }

          > li {
            > a {
              padding: 10px 15px 10px 25px;
              border-bottom: 1px solid $c-energized-secondary;
              color: $c-absolute;

              [data-page='english'] &,
              [data-page='history'] &,
              [data-page='math'] & {
                color: $c-positive-secondary;
              }

              [data-page='english'] & {
                border-bottom: 1px solid $c-positive-primary;
              }

              [data-page='history'] & {
                border-bottom: 1px solid $c-energized-primary;
              }

              [data-page='math'] & {
                border-bottom: 1px solid $c-balanced-secondary;
              }

              [data-page='science'] & {
                border-bottom: 1px solid $c-science-secondary;
              }

              &:hover,
              &:focus {
                color: $c-absolute;
              }
            }
          }
        }
      }

      > a {
        border-bottom: 1px solid darken($c-energized-secondary, 5%);
        color: $c-absolute;

        [data-page='english'] &,
        [data-page='history'] &,
        [data-page='math'] & {
          color: $c-positive-secondary;
        }

        [data-page='english'] & {
          border-bottom: 1px solid darken($c-positive-primary, 5%);
        }

        [data-page='history'] & {
          border-bottom: 1px solid darken($c-energized-primary, 5%);
        }

        [data-page='math'] & {
          border-bottom: 1px solid $c-balanced-secondary;
        }

        [data-page='science'] & {
          border-bottom: 1px solid $c-science-secondary;
        }

        &:hover,
        &:focus {
          color: darken($c-absolute, 15%);

          [data-page='english'] &,
          [data-page='history'] &,
          [data-page='science'] &,
          [data-page='math'] & {
            color: $c-positive-secondary;
          }
        }

        @media screen and (min-width: $screen-sm-min) {
          padding: 73px 20px 16px;
          border-bottom: 0;

          [data-page='english'] &,
          [data-page='history'] &,
          [data-page='science'] &,
          [data-page='math'] & {
            border-bottom: 0;
            color: $c-absolute;
          }

          &:hover,
          &:focus, {
            color: $c-balanced-primary;

            [data-page='english'] &,
            [data-page='history'] &,
            [data-page='science'] &,
            [data-page='math'] & {
              color: $c-balanced-primary;
            }
          }
        }
      }

      @media screen and (min-width: $screen-sm-min) {
        &[data-primary-nav-item='english'] {
          > a {
            &:hover,
            &:focus {
              color: $c-positive-primary;
            }
          }
        }

        &[data-primary-nav-item='history'] {
          > a {
            &:hover,
            &:focus {
              color: $c-energized-primary;
            }
          }
        }

        &[data-primary-nav-item='math'] {
          > a {
            &:hover,
            &:focus {
              color: $c-balanced-primary;
            }
          }
        }

        &[data-primary-nav-item='science'] {
          > a {
            &:hover,
            &:focus {
              color: $c-science-primary;
            }
          }
        }

        &[data-primary-nav-item='in-the-news'] {
          > a {
            &:hover,
            &:focus {
              color: $coral;
            }
          }
          &.active {
            > a {
              color: $coral;
            }
          }
        }

        &[data-primary-nav-item='shop'] {
          > a {
            &:hover,
            &:focus {
              color: $c-energized-secondary;
            }
          }
        }
      }

      &.search-button {
        border-bottom: 1px solid darken($c-energized-secondary, 5%);

        @media screen and (min-width: $screen-sm-min) {
          border: 0;
        }

        [data-page='english'] & {
          border-bottom: 1px solid darken($c-positive-primary, 5%);
        }

        [data-page='history'] & {
          border-bottom: 1px solid darken($c-energized-primary, 5%);
        }

        [data-page='math'] & {
          border-bottom: 1px solid $c-balanced-secondary;

        }

        [data-page='science'] & {
          border-bottom: 1px solid $c-science-secondary;

        }

        @media screen and (min-width: $screen-sm-min) {
          [data-page='english'] &,
          [data-page='history'] &,
          [data-page='science'] &,
          [data-page='math'] & {
            border-bottom: 0;
          }
        }

      }
    }

  }

  // ----- Sub Navigation Items ----- //

  .subnav {
    display: none;
    margin: 0 -15px;
    color: $c-absolute;

    [data-page='english'] &,
    [data-page='history'] &,
    [data-page='science'] &,
    [data-page='math'] & {
      color: $c-positive-secondary;
    }

    .products &,
    .video_gallery &,
    .admin &,
    .history &,
    .bookmarks &,
    .cms-wrapper &,
    .settings &,
    .licenses & {
      display: block;
    }

    @media screen and (min-width: $screen-sm-min) {
      display: block;
    }

    .navbar-collapse-toggle {
      padding: 0;
      background-color: $c-energized-secondary;

      @media screen and (min-width: $screen-sm-min) {
        display: none;
      }

      .dropdown-toggle {
        display: block;
        position: relative;
        padding: 10px 15px;
        border-bottom: 1px solid #ff461b;
        font-size: 13.6px;
        background-color: $c-energized-secondary;

        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
          color: #d9d9d9;
        }

        &.open {
          border-bottom: 1px solid #ff5b34;
          background-color: #ff461b;
        }
      }
    }

    .navbar-collapse {
      clear: both;
      padding: 10px 0 10px 25px;
      background-color: $c-energized-secondary;

      [data-page='english'] & {
        background-color: $c-positive-primary;
      }

      [data-page='history'] & {
        background-color: $c-energized-primary;
      }

      [data-page='math'] & {
        background-color: $c-balanced-primary;
      }

      [data-page='science'] & {
        background-color: $c-science-primary;
      }

      @media screen and (min-width: $screen-sm-min) {
        padding: 0 15px;
        text-align: center;
      }

      li {
        @media screen and (min-width: $screen-sm-min) {
          display: inline-block;
          padding: $b-space $b-space-m;
        }
      }

      a {
        display: block;

        &:hover,
        &:active,
        &:focus {
          @media screen and (min-width: $screen-sm-min) {
            border-bottom: 2px solid $c-absolute;
            text-decoration: none;
            color: $c-absolute;

            [data-page='english'] &,
            [data-page='history'] &,
            [data-page='science'] &,
            [data-page='math'] & {
              border-bottom: 2px solid $c-positive-secondary;
              color: $c-positive-secondary;
            }
          }
        }

        @media screen and (min-width: $screen-sm-min) {
          padding: 3px 0 1px;
          border-bottom: 2px solid transparent;
          font-family: 'Lora', serif;
          font-size: .8em;
          font-weight: normal;
          text-transform: capitalize;

          &.active {
            border-bottom: 2px solid $c-absolute;

            [data-page='english'] &,
            [data-page='history'] &,
            [data-page='science'] &,
            [data-page='math'] & {
              border-bottom: 2px solid $c-positive-secondary;
            }
          }
        }
      }
    }

    .dashboard-nav {
      @media screen and (max-width: $screen-sm-min) {
        padding: 0;

        a {
          padding: 10px 15px 10px 25px;
          border-bottom: 1px solid #ff5b34;
          color: #fff;
          background-color: #ff461b;

          &:hover,
          &:active,
          &:focus {
            outline: none;
            text-decoration: none;
          }
        }
      }
    }
  }

  .subnav-name {
    padding: 5px 0;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  // ----- Utility Nav Items ----- //

  .link-dashboard {

    .products &,
    .video_gallery &,
    .admin &,
    .history &,
    .bookmarks &,
    .cms-wrapper &,
    .settings &,
    .licenses & {
      display: none;
    }

    @media screen and (min-width: $screen-sm-min) {
      display: block;
    }
  }

  // ----- Cart Navigation Items ----- //

  .navbar-right {
    font-family: Karla, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;

    @media screen and (min-width: $screen-sm-min) {
      position: absolute;
      top: 0;
      right: 30px;
      width: auto;
      text-transform: uppercase;

      li {
        &:first-child {
          a {
            padding: 0;
          }
        }

        @media screen and (min-width: $screen-sm-min) {
          display: inline-block;
          float: left;
          padding: 15px 10px;
          font-size: .75em;
          color: $c-absolute;
        }
      }

      > li > a {
        @media screen and (min-width: $screen-sm-min) {
          display: inline-block;
          padding: 0;
        }
      }
    }

    .form-inline {
      padding: 0;
    }

    .hello-text {
      display: none;

      @media screen and (min-width: $screen-sm-min) {
        display: inline-block;
      }
    }
  }

  .cart {
    > li {
      a {
        display: block;
        padding: 10px 15px;
        color: $c-absolute;

        &:hover {
          color: darken($c-absolute, 15%);
        }

        @media screen and (min-width: $screen-sm-min) {
          padding: 0;
        }
      }
    }
  }

  #link-to-cart {
    .cart-info {
      position: relative;
      font-size: 14px;
      color: $c-absolute;

      &:hover {
        @media screen and (min-width: $screen-sm-min) {
          color: $c-balanced-primary;
        }
      }

      [data-page='english'] &,
      [data-page='history'] &,
      [data-page='math'] & {
        color: $c-positive-secondary;

        @media screen and (min-width: $screen-sm-min) {
          color: $c-absolute;
        }

        &:hover {
          color: $c-positive-secondary;

          @media screen and (min-width: $screen-sm-min) {
            color: $c-balanced-primary;
          }
        }
      }
    }
  }

  // ----- Search ----- //

  .nav-search {
    position: relative;
    padding: 0 10px;

    @media screen and (min-width: $screen-sm-min) {
      padding: 62px 0 0;
    }

    .form-control {
      width: 30px;
      padding: 9px 15px;
      border: 0;
      background: transparent asset-url('icon-search-white.png') no-repeat 50% 50%;
      background-size: 15px 15px;
      box-shadow: none;

      &:focus {
        width: 100%;
        padding: 9px 15px 9px 30px;
        background: $c-absolute asset-url('icon-search-gray.png') no-repeat 2% 50%;
        background-size: 15px 15px;

        @media screen and (min-width: $screen-sm-min) {
          background: $c-absolute asset-url('icon-search-gray.png') no-repeat 5% 50%;
          background-size: 15px 15px;
        }
      }

      [data-page='english'] &,
      [data-page='history'] &,
      [data-page='math'] & {
        background: transparent asset-url('icon-search-blue.png') no-repeat 50% 50%;
        background-size: 15px 15px;

        @media screen and (min-width: $screen-sm-min) {
          background: transparent asset-url('icon-search-white.png') no-repeat 50% 50%;
          background-size: 15px 15px;
        }

        &:focus {
          background-color: $c-absolute;
          background-position: 2% 50%;

          @media screen and (min-width: $screen-sm-min) {
            background: $c-absolute asset-url('icon-search-gray.png') no-repeat 5% 50%;
            background-size: 15px 15px;
          }
        }
      }
    }
  }

  // ----- Main Toggle Button ----- //

  .navbar-toggle {
    border: 0;
    color: $c-absolute;

    &:hover,
    &:focus {
      background-color: transparent;
    }

    @media screen and (min-width: $screen-sm-min) {
      display: none;
    }

    .material-icons {
      @include transition(all, $transition-timing);

      position: absolute;
      top: 7px;
      right: 0;
    }

    .icon-menu {
      opacity: 0;
    }

    .icon-close {
      opacity: 1;
    }

    &.collapsed {
      .material-icons {
        @include rotate(180deg);
      }

      .icon-menu {
        opacity: 1;
      }

      .icon-close {
        opacity: 0;
      }
    }
  }

}
