// *************************************
//
//   Navs
//   Bootstrap nav overrides
//
// *************************************

.progress-steps {
  margin-top: 0;
}

// -------------------------------------
//   Nav Pills
// -------------------------------------

ul.nav-pills {
  li {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    letter-spacing: 2px;

    a {
      border: 1px solid $c-positive-secondary;
      font-weight: normal;

      @media screen and (min-width: $screen-sm-min) {
        margin-right: $b-space-s;
      }
    }

    &.last {
      a {
        margin-right: 0;
      }
    }
  }

  > li.active {
    > a {
      color: $c-absolute;
      background-color: $c-positive-secondary;

      &:hover,
      &:focus {
        background-color: lighten($c-positive-secondary, 5%);
      }
    }
  }
}

// -------------------------------------
//   Tabbed Navigation
//
//   Styleguide 11.1
// -------------------------------------

.nav-tabs {
  margin: 30px 0;
  border-bottom: 0;

  > li {
    float: none;
    margin-bottom: -2px;

    @media screen and (min-width: $screen-sm-min) {
      float: left;
    }

    &.active {
      a {
        border: 0;
        border-bottom: 4px solid $c-positive-secondary;
        font-weight: bold;
        color: $c-positive-secondary;
        background: transparent;
        opacity: 1;

        &:hover,
        &:focus {
          border: 0;
          border-bottom: 4px solid $c-positive-secondary;
          color: $c-positive-secondary;
          background: transparent;
        }
      }
    }

    a {
      border: 0;
      border-bottom: 4px solid transparent;
      opacity: .5;
      border-radius: 0;

      &:hover,
      &:focus,
      &.active {
        border: 0;
        border-bottom: 4px solid $c-positive-secondary;
        color: $c-positive-secondary;
        background: transparent;
        opacity: 1;
      }
    }
  }

  .form-group {
    margin: 10px 0;

    @media screen and (min-width: $screen-sm-min) {
      margin: 0;
    }
  }

  .form-control {
    @media screen and (min-width: $screen-sm-min) {
      padding: 9px 15px;
    }
  }

  .select-container {

    @media screen and (min-width: $screen-sm-min) {
      margin-bottom: 0;
      padding: 10px 36px 10px 15px;

      &.block {
        &::after {
          top: 10px;
        }
      }
    }
  }
}
