/* ----------------------------------------------------------------------------
* Nav Tabs
*
* Styleguide 1.8.1
*/

.nav-tabs {
  margin: 30px 0;

  > li {
    margin-bottom: -2px;

    &.active {
      a {
        opacity: 1;
        background: transparent;
        border: none;
        border-bottom: 4px solid $brand-primary;
        font-weight: bold;
        color: $brand-primary;

        &:hover, &:focus {
          border: none;
          border-bottom: 4px solid $brand-primary;
          background: transparent;
          color: $brand-primary;
        }
      }
    }

    a {
      opacity: .5;
      border-radius: 0;
      border: none;
      border-bottom: 4px solid transparent;

      &:hover, &:focus {
        color: $brand-primary;
        opacity: 1;
        border: none;
        border-bottom: 4px solid $brand-primary;
        background: transparent;
      }
    }
  }

  .form-group {
    margin-bottom: 0;
  }
}