// *************************************
//
//   Pagination
//   Bootstrap pagination overrides
//
// *************************************

// -------------------------------------
//   Basic pagination
//
//   Styleguide 10.0
// -------------------------------------

.pagination.pagination {
  margin: 0 0 $b-space-l;
  border-radius: 2px;
  box-shadow: $b-box-shadow-s;

  // -------------------------------------
  //   Basic Pagination Active & Disabled States
  //
  //   Styleguide 10.0.1
  // -------------------------------------

  li {
    a,
    &.disabled a {
      border: 1px solid $c-firm-secondary;
      color: $c-positive-secondary;

      &:hover,
      &:active,
      &:focus {
        background-color: $c-positive-highlight;
      }
    }

    &.active {
      a {
        border-color: $c-positive-secondary;
        color: $c-absolute;
        background-color: $c-positive-secondary;

        &:hover,
        &:active,
        &:focus {
          border-color: $c-positive-subdue;
          color: $c-absolute;
          background-color: $c-positive-subdue;
        }
      }
    }

    &:first-child {
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
    }

    &:last-child {
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
    }

  }

  // -------------------------------------
  //   Pagination Responsive States
  // -------------------------------------

  .first,
  .last,
  .prev,
  .next,
  .next_page {
    display: none;

    @media screen and (min-width: $screen-md-min) {
      display: inline;
    }
  }

  .panel & {
    margin: $b-space-s 0 0 $b-space-s;
  }
}

// -------------------------------------
//   Basic Pagination Sizes
//
//   Styleguide 10.0.2
// -------------------------------------

.needs-a-rule {
  color: red;
}
