// *************************************
//
//   Pagination
//   Bootstrap pagination overrides
//
//   Styleguide 10.0
//
// *************************************

// -------------------------------------
//   Pagination Active & Disabled States
//
//   Styleguide 10.1
// -------------------------------------

// -------------------------------------
//   Pagination Sizes
//
//   Styleguide 10.2
// -------------------------------------

.pagination.pagination {
  margin: 0 0 $b-space-l;

  li {
    a {
      color: $c-positive-secondary;

      &:hover,
      &:active,
      &:focus {
        color: lighten($c-positive-secondary, 5%);
      }
    }

    &.active {
      a {
        border-color: $c-positive-secondary;
        color: $c-absolute;
        background-color: $c-positive-secondary;

        &:hover,
        &:active,
        &:focus {
          border-color: lighten($c-positive-secondary, 5%);
          color: $c-absolute;
          background-color: lighten($c-positive-secondary, 5%);
        }
      }
    }
  }

  .first,
  .prev,
  .next_page,
  .last {
    display: none;

    @media screen and (min-width: $screen-sm-min) {
      display: inline;
    }
  }

  .panel & {
    margin: $b-space-s 0 0 $b-space-s;
  }
}
