// *************************************
//
//   Pagination
//   -> Bootstrap Pagination Overrides
//
// *************************************

.pagination {
  li {
    a {
      color: $dark-blue;

      &:hover,
      &:active,
      &:focus {
        color: lighten($dark-blue, 5%);
      }
    }

    &.active {
      a {
        border-color: $dark-blue;
        background-color: $dark-blue;

        &:hover,
        &:active,
        &:focus {
          color: #fff;
          border-color: lighten($dark-blue, 5%);
          background-color: lighten($dark-blue, 5%);
        }
      }
    }
  }
}
