// *************************************
//
//   Panels
//   -> Bootstrap Panel Overrides
//
// *************************************

.panel {
  .panel {
		.panel {
			margin-bottom: 0;
		}
	}
}

.panel-heading {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

// Contextual Variations

.panel-default {
  @include panel-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}

.panel-primary {
  @include panel-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}

.panel-info {
  @include panel-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}
