// *************************************
//
//   Panels
//   Bootstrap panel overrides
//
// *************************************

// -------------------------------------
//   Default Panel
//
//   Styleguide 16.0
// -------------------------------------

.panel-group {
  .panel {
    margin-bottom: $b-space * 1.2;
  }

  .panel-heading {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .panel + .panel {
    margin-top: 0;
  }
}

// -------------------------------------
//   Collapsible panel
//
//   Styleguide 16.1
// -------------------------------------

.panel {

  .panel-collapse {
    .list-group {
      &:first-child {
        .list-group-item {
          &:first-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
          }
        }
      }
    }
  }

  .panel {
		.panel {
			margin-bottom: 0;
		}
	}

  &.panel-collapsible {

    font-size: 0.9em;
    line-height: 1.4em;

    .panel-title {
      font-size: 0.9em;
      line-height: 1.4em;
    }

    &.max-300 {
      max-height: 300px;
      overflow-y: scroll;
    }

    &.panel-shop {
      .panel-heading {
        padding: $b-space $b-space-m;

        a {
          display: block;
          padding: 0px;

          &:after {
            font-family: 'Glyphicons Halflings';
            content:"\e252";
            float: right;
          }
        }
      }
    }

    .panel-heading {
      padding: 0;

      a {
        display: block;
        padding: $b-space $b-space-m;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

}

// -------------------------------------
//   Panel with Heading
//
//   Styleguide 16.2
// -------------------------------------

.panel-heading {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;

	.panel-toggle,
  .btn-icon {
		@include transition(transform, .3s);

    &.collapsed {
	    @include rotate(180deg);
	  }

    &:focus {
      outline: 0;
    }

    .mi {
      padding-top: 3px;
      font-size: 15px;
    }
	}

  .btn-toggle {
    position: relative;
    top: -2px;

    .mi {
      padding-top: 0;
      font-size: 20px;
    }
  }

  a {
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}

// -------------------------------------
//   Contextual Panel Variations
//
//   Styleguide 16.3
// -------------------------------------

.panel-default {
  @include panel-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}

.panel-primary {
  @include panel-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}

.panel-info {
  @include panel-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}

.panel-product {
  .panel {
    border-radius: 0;

    .panel-heading {
      border-radius: 0;
    }

    .list-group {
      border-top: 1px solid #ddd;
    }

    .list-group-item {
      padding: $b-space-s $b-space-s;

      @media screen and (min-width: $screen-sm-min) {
        padding: $b-space-m $b-space;
      }
    }
  }
}

.panel-filter {
  .panel-filter-text {
    display: inline-block;
    width: 110px;
  }
}