// _posts.scss
// todo: refactor

.post {
  padding: 0 0 15px 0;
  margin: 0 0 $b-space-xl 0;
  border-bottom: 1px solid;

  .read-more {
    margin: 15px 0 0;
  }

  &:last-child {
    border: none;
  }

  figure {
    display: none;
  }
}

.post-view {
  li {
    margin-bottom: $b-space-m;
  }

  figure {
    margin-bottom: $b-space-l;
    padding: $b-space;
    border: 1px solid $brand-primary;

    @media screen and (min-width: $screen-sm-min) {
      max-width: 600px;
      margin: 0 auto $b-space-l;
      padding: $b-space-l;
      text-align: center;
    }
  }

  figcaption {
    margin-top: $b-space;
    font-size: 0.85em;
    font-style: italic;
  }
}
