// _posts.scss
// todo: refactor

.blog-section-description,
.post {
  margin: 0 0 $b-space-xl;
  padding: 0 0 15px;
  border-bottom: 1px solid;

  .read-more {
    margin: 15px 0 0;
  }

  &:last-child {
    border: 0;
  }

  figure {
    display: none;
  }
}

.post-view {
  h1 {
    margin-bottom: $b-space-l;
    line-height: 1em;
    letter-spacing: normal;
  }

  li {
    margin-bottom: $b-space-m;
  }

  figure {
    text-align: center;

    > div {
      display: inline-block;
      padding: $b-space;
      border: 1px solid $c-positive-secondary;

      @media screen and (min-width: $screen-sm-min) {
        padding: $b-space-l;
      }
    }
  }

  figcaption {
    margin: $b-space 0 $b-space-l;
    font-size: .85em;
    font-style: italic;
  }

  img {
    width: 100%;
    margin: 15px 0;
  }
}
