// _sidebars.scss
// todo: refactor

.fixed-sidebar {
  width: 217px;
  height: 100%;
  overflow: scroll;

  &.video-gallery-sidenav {
    @media screen and (max-width: 1025px) {
      @include transition(all, $transition-timing);
      @include translate(-100%, 0);

      float: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      width: 75%;
    }

    &.show-nav {
      @include translate(0, 0);
    }
  }

  &.account-fixed-sidebar {
    @media screen and (max-width: 1025px) {
      display: none;
    }
  }

  &.left {
    float: left;
  }

  &.right {
    float: right;
  }

  .side-search-form {
    padding: 10px;
    color: $c-positive-secondary;

    .form-control {
      box-shadow: inset 0 0 0 1px, inset 0 0 0 2px transparent;
    }
  }

  .form-group {
    margin: 0;
  }
}

.taxonomies-filters {
  .taxonomy-header {
    padding: 10px;
    border-bottom: 1px solid;
    color: $c-positive-secondary;

    &:hover {
      color: $c-stable-primary;
    }

    .selected-taxons-wrapper {
      margin-top: 5px;
      padding: 5px 10px;
    }
  }
}

.taxonomy-wrapper {
  h5 {
    margin: 0;
    cursor: pointer;
  }

  .list-group {
    @include transition(all, $transition-timing);

    max-height: 0;
    overflow: hidden;
    margin: 0;
    color: $c-absolute;

    &.show-menu {
      max-height: 1000px;
      overflow: auto;
      border-bottom: 1px solid;
    }

    .list-group-item {
      @include transition(all, $transition-timing);

      border: 0;
      text-align: center;
      color: $c-absolute;
      background-color: transparent;
      border-radius: 0;

      &.active,
      &:hover {
        color: $c-balanced-primary;
        background: lighten($c-positive-secondary, 3%);
      }
    }
  }
}
