// _sidebars.scss

.fixed-sidebar {
  width: 15%;
  height: 100%;
  background: $steel-gray;
  overflow: scroll;

  &.responsive-sidebar {
    @media screen and (max-width: 1200px) {
      width: 25%;
    }
  }

  &.video-gallery-sidenav {
    @media screen and (max-width: 1025px) {
      width: 75%;
      position: absolute;
      left: 0;
      top: 0;
      float: none;
      bottom: 0;
      z-index: 10;

      @include transition(all, $transitionTiming);
      @include translate(-100%, 0);
    }

    &.show-nav {
      @include translate(0, 0);
    }
  }

  &.account-fixed-sidebar {
    @media screen and (max-width: 1025px) {
      display: none;
    }
  }

  &.left {
    float: left;
  }

  &.right {
    float: right;
  }

  .side-search-form {
    padding: 10px;
  }

  .form-group {
    margin: 0;
  }
}

.taxonomies-filters {
  .taxonomy-header {
    padding: 10px;
    color: #fff;
    border-bottom: 1px solid #fff;

    &:hover {
      color: $brand-green;
    }

    .selected-taxons-wrapper {
      margin-top: 5px;
      padding: 5px 10px;
    }
  }
}

.taxonomy-wrapper {
  h5 {
    margin: 0;
    cursor: pointer;
  }

  .list-group {
    max-height: 0;
    margin: 0;
    color: #fff;
    overflow: hidden;

    @include transition(all, $transitionTiming);

    &.show-menu {
      max-height: 1000px;
      border-bottom: 1px solid;
      overflow: auto;
    }

    .list-group-item {
      color: #fff;
      border: none;
      border-radius: 0;
      text-align: center;
      background-color: transparent;
      @include transition(all, $transitionTiming);

      &.active, &:hover {
        color: $brand-green;
        background: lighten($steel-gray, 5%);
      }
    }
  }
}