/* ----------------------------------------------------------------------------
* Basic Table
* Default Bootstrap Tables
*
* Styleguide 1.6
*/

/* ----------------------------------------------------------------------------
* Striped Table
* Default Bootstrap Striped Tables
*
* Styleguide 1.6.1
*/

/* ----------------------------------------------------------------------------
* Table w/ Contexual Classes
*
* Styleguide 1.6.2
*/

.table {
  border: 1px solid $dark-blue;

  .table-responsive & {
    border: 0;
  }

  thead {
    tr {
      th {
        border-bottom: 1px solid $dark-blue;
      }
    }
  }

  tbody {
    tr {
      td {
        vertical-align: middle;
        padding: 10px;

        .glyphicon {
          font-size: 18px;
          top: 2px;
        }
      }
    }
  }
}

.table-responsive {
  border: 1px solid $dark-blue;
}
