// *************************************
//
//   Tables
//   Bootstrap table overrides
//
// *************************************

// -------------------------------------
//   Basic Table
//
//   Styleguide 7.0
// -------------------------------------

// -------------------------------------
//   Striped Table
//
//   Styleguide 7.1
// -------------------------------------

// -------------------------------------
//   Table with Contextual Classes
//
//   Styleguide 7.2
// -------------------------------------

.table {
  margin-bottom: $b-space;

  .table-responsive & {
    margin-bottom: 0;
  }

  thead {
    tr {
      th {
        border-bottom: 1px solid $c-positive-secondary;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 10px;
        vertical-align: middle;

        .material-icons {
          top: 2px;
          font-size: 18px;
        }
      }
    }
  }
}

.table-responsive {
  margin-bottom: 0;
}

.scroll-indicator {
  @extend .sans-serif;

  display: block;
  margin-bottom: 10px;
  padding: 0 5px 0 0;
  font-size: .85em;
  text-align: right;
  text-transform: uppercase;
  color: $c-absolute;
  background-color: $c-positive-secondary;

  .fa {
    font-size: .85em;
  }

  .panel & {
    margin-bottom: 0;
  }
}
