section.row {
  &.testimonial-container {
    @media screen and (min-width: $screen-sm-max) {
      display: flex;
    }

    display: block;
  }

  &.multi-col-container {
    @media screen and (min-width: $screen-sm-max) {
      display: flex;
      padding: 84px 0 0;
    }

    display: block;
  }

  .testimonial-content {
    @media screen and (max-width: $screen-sm-max) {
      margin-bottom: 30px;
    }
  }

  .testimonial {
    margin-bottom: 30px;

    &__video {
      display: block;
      margin-bottom: 25px;
      position: relative;
      width: 100%;

      img {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      .video-link-icon {
        display: block;
      }
    }

    &__image {
      display: block;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
    }
    
    .btn-block-xs {
      margin-bottom: 0;
    }
  }

  .testimonial-container {
    background: none;
  }
}
