// *************************************
//
//   Thumbnails
//   Bootstrap thumbnail Overrides
//
//	 Styleguide 1.13
//
// *************************************


.thumbnail {
	text-align: center;

	@media screen and (min-width: $screen-sm-min) {
		min-height: 340px;
	}

	.img-circle {
		width: 156px;
		height: 156px;
	}

	h3, p {
		line-height: 1.2em;
	}

}

.col-thumbnail {

	@media screen and (min-width: $screen-sm-min) {
		&:nth-child(odd) {
			clear: left;
		}
	}

	@media screen and (min-width: $screen-md-min) {
		&:nth-child(odd) {
			clear: none;
		}
		&:nth-child(5),
		&:nth-child(9),
		&:nth-child(13) {
			clear: left;
		}
	}
}
