// *************************************
//
//   Thumbnails
//   Bootstrap thumbnail overrides
//
// *************************************

// -------------------------------------
//   Default Thumbnails
//
//   Styleguide 15.0
// -------------------------------------

.thumbnail {
  text-align: center;

  @media screen and (min-width: $screen-sm-min) {
    min-height: 340px;
  }

  .img-square {
    width: 156px;
    height: 156px;
  }

  h3,
  p {
    line-height: 1.2em;
  }

}

.thumbnail-modal {
  cursor: pointer;
}

.thumbnail-team {
  padding: $b-space-l;
  box-shadow: $b-box-shadow-m;

  h3 {
    min-height: 50px;
  }
}

.col-thumbnail {

  @media screen and (min-width: $screen-sm-min) {
    &:nth-child(odd) {
      clear: left;
    }
  }

  @media screen and (min-width: $screen-md-min) {
    &:nth-child(odd) {
      clear: none;
    }

    &:nth-child(5),
    &:nth-child(9),
    &:nth-child(13) {
      clear: left;
    }
  }
}

// -------------------------------------
//   Library Thumbnails
// -------------------------------------
.thumbnail-library-wrapper {
  padding:  2px;
  margin-bottom: 5px;
  &:hover {
    border: 1px solid $ash;
  }
}

.thumbnail-library {
  position: relative;
  padding: 0;
  margin-bottom: 5px;
  border-color: transparent;
  background-color: initial;
  border-radius: 0;

  @media screen and (min-width: $screen-sm-min) {
    min-height: initial;
    border-color: $c-firm-secondary;
  }

  &:hover {
    .thumbnail-library-icon {
      display: block;
    }
  }
}

.thumbnail-library-item-title {
  margin-bottom: $b-space-s;
  line-height: 1;
}

.thumbnail-library-link {
  @extend .sans-serif;

  text-decoration: none;
}

.thumbnail-library-icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -24px;
  color: $c-transparent-subdue-5;
}

// -------------------------------------
//   Coupon Code Thumbnails
// -------------------------------------

.thumbnail--coupon-code {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(center);

  color: $c-firm-primary;
  border-radius: 0;

  @media screen and (min-width: $screen-sm-min) {
    min-height: 150px;
  }
}

.thumbnail--coupon-code--trigger {
  display: none;

  &:checked + .thumbnail--coupon-code {
    color: $c-depleted;
    box-shadow: 0 0 5px 0 $c-transparent-subdue-2;
  }
}
