.thumbnail {
	border: 0;
	background-color: transparent;
	text-align: center;

	@media screen and (min-width: $screen-sm-min) {
		min-height: 340px;
	}

	.img-circle {
		width: 156px;
		max-height: 156px;
	}

	h3, p {
		line-height: 1.2em;
	}

}
