// _wells.scss

.well {
  background: #ddd;
  margin-bottom: 30px;
  padding: 15px;
  position: relative;
  border-radius: 0;

  .banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    text-align: center;
    border-left: 50px solid transparent;
    border-top: 50px solid #000;
    .glyphicon {
      position: absolute;
      top: -41px;
      right: 7px;
      color: #fff;
    }
  }

  &.license-well {
    background: transparent;
    border: 2px solid #eee;
    border-radius: 0;
    box-shadow: none;

    .stat-container {

      @media screen and (max-width: 768px) {
        margin: 0 0 10px;

        &:last-child {
          margin: 0;
        }
      }
    }

    h5 {
      margin: 0;
      text-align: left;

      span {
        font-weight: bold;
      }
    }
  }
}