// *************************************
//
//   Wells
//   Bootstrap well overrides
//
// *************************************

// -------------------------------------
//   Default Well
//
//   Styleguide 16.0
// -------------------------------------

.well {
  position: relative;
  margin-bottom: 30px;
  padding: 15px;
  background: $c-firm-accent;
  border-radius: 2px;

  .banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 50px solid $c-depleted;
    border-left: 50px solid transparent;
    text-align: center;

    .material-icons {
      position: absolute;
      top: -41px;
      right: 7px;
      color: $c-absolute;
    }
  }

  &.license-well {
    border: 2px solid $c-positive-highlight;
    background: transparent;
    border-radius: 0;
    box-shadow: none;

    .stat-container {

      @media screen and (max-width: 768px) {
        margin: 0 0 10px;

        &:last-child {
          margin: 0;
        }
      }
    }

    h5 {
      margin: 0;
      text-align: left;

      span {
        font-weight: bold;
      }
    }
  }
}
