<div class="container container-content">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-xs-12 page-header">
          <h1>Account Help Page</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h2>FAQ Section</h2>
          <ul>
            <li>
              <% @faq_categories.each do |faq_category| %>
                <p><%= faq_category.name %></p>
                <ul>
                  <% faq_category.questions.each do |question| %>
                    <li>
                      <%= link_to question.title, account_qa_path(question.id) %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h2>Contact Section</h2>
          <ul>
            <li><h4>Contact Name</h4>
            <ul>
              <li>p: 123-456-7890</li>
              <li>e: contact@greatminds.net</li>
            </ul>
            </li>
          </ul>
          <a class="btn btn-primary" href="../contact.html" role="button">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
