<section style="margin-top: 50px;">
  <div class="container container-secondary">
    <div id="welcome" class="row">
      <div class="col-xs-12">
        <h1>Account Help Page</h1>
      </div>
    </div>
  </div>
</section>
<section class="callout bottom-space">
  <div class="container">
    <div class="row">
      <div id="dashboard" class="col-xs-3">
        <h2>Help Links</h2>
        <div class="col-xs-12">
          <ul>
            <li>
            <a href="help-page.html">Link to help</a>
            </li>
            <li><br></li>
            <li>
            <a href="help-page.html">Link to help</a>
            </li>
            <li><br></li>
            <li>
            <a href="help-page.html">Link to help</a>
            </li>
            <li><br></li>
            <li>
            <a href="help-page.html">Link to help</a>
            </li>
            <li><br></li>
            <li>
            <a href="help-page.html">Link to help</a>
            </li>
          </ul>
        </div>
      </div>

      <div id="dashboard" class="col-xs-3 col-xs-offset-1">
        <h2>FAQ Section</h2>
        <div class="col-xs-12">
          <ul>
            <% @qa.each do |question| %>
              <li>
                <%= link_to question.title, account_qa_path(question.id) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div id="dashboard" class="col-xs-3 col-xs-offset-1">
        <h2>Contact Section</h2>
        <div class="col-xs-12 bottom-space">
          <ul>
            <li><h4>Contact Name</h4>
            <ul>
              <li>p: 123-456-7890</li>
              <li>e: contact@greatminds.net</li>
            </ul>
            </li>
          </ul>
          <a class="btn btn-primary callout" href="../contact.html" role="button">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
