<% admin = try_spree_current_user.try(:has_spree_role?, "admin") %>

<%= render partial: 'application/header' %>

<header class="container header <%= admin ? "logged-in" : "logged-out" %>">

  <nav class="navbar navbar-inverse spree-navbar" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to(
          'Spree',
          spree.admin_path,
          class: "logo navbar-brand"
        ) %>

        <% if admin %>
          <div class="pull-right-sm" data-hook="admin_sync_button"></div>
        <% end %>
      </div>

    </div>

  </nav>

</header>
