<form action="">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <p>Are you interested in being contacted about Professional Development in your area?</p>
        <div class="radio">
          <label> <input type="radio" /> Yes </label>
          <label> <input type="radio" /> No </label>
        </div>
      </div>
      <div class="form-group">
        <p>I am interested in special offers and new products from Great Minds and their partners?</p>
        <div class="radio">
          <label><input type="radio" />Yes</label>
          <label><input type="radio" />No</label>
        </div>
      </div>
      <div class="form-group">
        <p>I am interested in notifications of updates or revision to course materials?</p>
        <div class="radio">
          <label><input type="radio" />Yes</label>
          <label><input type="radio" />No</label>
        </div>
      </div>
      <div class="form-group">
        <p>I am interested in phone communication from Great Minds?</p>
        <div class="radio">
          <label><input type="radio" />Yes</label>
          <label><input type="radio" />No</label>
        </div>
      </div>
      <div class="form-group">
        <p>I am interested in email communication from Great Minds?</p>
        <div class="radio">
          <label><input type="radio" />Yes</label>
          <label><input type="radio" />No</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <button class="btn btn-primary btn-lg btn-block">Save</button>
      <a href="#" class="center-block text-center" style="margin-top:10px;">Cancel</a>
    </div>
  </div>
</form>
