<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 favorites-products">
      <div class="favorites-products-head clearfix">
        <span class="title pull-left">Favorites</span>
        <div class="dropdown pull-right">
          Sort by:
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            All
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <% @favorite_products.each do |favorite_product| %>
          <div class="col-md-4">
            <div class="product-wrapper">
              <h4><%= favorite_product.product.name %></h4>
              <p><%= favorite_product.product.categories.join(', ') %></p>
              <p class="grades-dropdown"><%= favorite_product.product.taxons.map(&:name).join(', ') %></p>
              <% url = spree.product_url(favorite_product.product) %>
              <%= link_to 'See Modules', url, class: 'btn btn-default' %>
              <div class="favorite-star">
                <span class="glyphicon glyphicon-star"></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
