<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
      </div>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
      </div>
      <div class="my-products">
        <h4>My Products</h4>
        <div class="row">
          <div class="col-md-4">
            <div class="product-wrapper">
              <h4>Eureka Math</h4>
              <p>Modules 1-6</p>
              <p class="grades-dropdown">Select grades ...<span class="caret"></span></p>
              <a class="btn btn-default">See Modules</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-wrapper">
              <h4>Eureka Math</h4>
              <p>Modules 1-6</p>
              <p class="grades-dropdown">Select grades ...<span class="caret"></span></p>
              <a class="btn btn-default">See Modules</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-wrapper">
              <h4>Eureka Math</h4>
              <p>Modules 1-6</p>
              <p class="grades-dropdown">Select grades ...<span class="caret"></span></p>
              <a class="btn btn-default">See Modules</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-wrapper">
              <h4>Eureka Math</h4>
              <p>Modules 1-6</p>
              <p class="grades-dropdown">Select grades ...<span class="caret"></span></p>
              <a class="btn btn-default">See Modules</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-wrapper">
              <h4>Eureka Math</h4>
              <p>Modules 1-6</p>
              <p class="grades-dropdown">Select grades ...<span class="caret"></span></p>
              <a class="btn btn-default">See Modules</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-wrapper">
              <h4>Eureka Math</h4>
              <p>Modules 1-6</p>
              <p class="grades-dropdown">Select grades ...<span class="caret"></span></p>
              <a class="btn btn-default">See Modules</a>
            </div>
          </div>
        </div>
      </div>
      <div class="recommended-products">
        <h4>Recommended</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="recommended-product-wrapper">
              <img src="http://placehold.it/60x60" class="thumbnail">
              <h4>Ligula Vestibulum Bibendum</h4>
              <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <a href="" class="btn btn-default">Learn more about Tellus Bibendum</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="recommended-product-wrapper">
              <img src="http://placehold.it/60x60" class="thumbnail">
              <h4>Ligula Vestibulum Bibendum</h4>
              <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <a href="" class="btn btn-default">Learn more about Tellus Bibendum</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="recent-history">
        <a href="" class="btn btn-default center-block">Recent History</a>
        <a href="" class="view-all-link">View all</a>
        <div class="history-list">
          <div class="history-item">
            <span class="glyphicon glyphicon-info-sign"></span>
            <h4>Eureka Math: Module 2, Grade 6, Lesson 1</h4>
            <p>May 4, 2015</p>
          </div>
          <div class="history-item">
            <span class="glyphicon glyphicon-info-sign"></span>
            <h4>Eureka Math: Module 2, Grade 6, Lesson 1</h4>
            <p>May 4, 2015</p>
          </div>
          <div class="history-item">
            <span class="glyphicon glyphicon-info-sign"></span>
            <h4>Eureka Math: Module 2, Grade 6, Lesson 1</h4>
            <p>May 4, 2015</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
