<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
      </div>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
      </div>
      <div class="my-products">
        <%= render 'my_products' %>
      </div>
      <div class="recommended-products">
        <h4>Recommended</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="recommended-product-wrapper">
              <img src="http://placehold.it/60x60" class="img-circle">
              <h4>Ligula Vestibulum Bibendum</h4>
              <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <a href="" class="btn btn-default">Learn more about Tellus Bibendum</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="recommended-product-wrapper">
              <img src="http://placehold.it/60x60" class="img-circle">
              <h4>Ligula Vestibulum Bibendum</h4>
              <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <a href="" class="btn btn-default">Learn more about Tellus Bibendum</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="recent-history">
        <%= render 'recent_activities' %>
      </div>
    </div>
  </div>
</div>
