<div class="row pagination-blog">
  <div class="col-sm-6 pagination-blog-prev">
    <h3 class="blog-title">
      <a href="#">Previous Article Title</a>
    </h3>
    <div class="blog-meta">By: Author</div>
    <hr />
    <a href="#" class="btn btn-sm btn-default btn-transparent">
      <i class="mi md-18">chevron_left</i> Previous
    </a>
  </div>
  <div class="col-sm-6 pagination-blog-next">
    <h3 class="blog-title">
      <a href="#">Next Article Title</a>
    </h3>
    <div class="blog-meta">By: Author</div>
    <hr />
    <a href="#" class="btn btn-sm btn-default btn-transparent">
      Next <i class="mi md-18">chevron_right</i>
    </a>
  </div>
</div>