<div class="jumbotron jumbotron-background" style="background-image: url('<%= blog.jumbotron_background_file_name %>')">
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
        <% if blog.header.present? %>
          <h1 class="jumbotron-title"><%= blog.header %></h1>
        <% else %>
          <h1 class="jumbotron-title"><%= @blog_title %></h1>
        <% end %>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-1">
      <% if blog.description.present? %>
        <p><%= blog.description.html_safe %></p>
      <% end %>
    </div>
  </div>
</div>
