<% if medium_publication.header.present? %>
  <h3><%= medium_publication.header %></h3>
<% end %>
<% if medium_publication.description.present? %>
  <p><%= medium_publication.description.html_safe %></p>
<% end %>
