<ul class="nav nav-tabs margin-bottom--m">
  <% publications.each do |publication| %>
    <li role="presentation">
    <%= active_link_to publication.title, global_blog_path(publication.slug) %>
    </li>
  <% end %>
</ul>
