<div class="container">
  <%= link_to 'Back', curriculum_blog_path(page_slug: @group_page.slug, slug: @post.medium_publication.slug), class: "previous-page" %>
  <div class="post-view">
    <%= render 'post' %>
  </div>
</div>
