<div class="container">
  <%= render partial: 'publications_nav', locals: { publications: @global_publications } %>
  <%= render partial: 'posts', locals: { posts: @posts, blog_type: 'global', publication: @medium_publication } %>
</div>
