<section>
  <div class="page-header container header-space">
    <% if params[:success] %>
      <div class="alert alert-success">
        Submitted your contact!
      </div>
    <% end %>
    <h1>Contact Page</h1>
  </div>
</section>
<section class="header-space">
  <div class="container">
    <div id="viewport" class="row">
      <div class="col-xs-7">
        <form action="https://cs15.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST" class="form contact-form">
          <input type=hidden name="orgid" value="00De0000005Vrkq">
          <input type=hidden name="retURL" value="<%= contact_url(success: true) %>">

          <%# <input type="hidden" name="debug" value=1> %>
          <%# <input type="hidden" name="debugEmail" value="liz.sweet@greatminds.net"> %>

          <div class="form-group">
            <label for="name">Contact Name</label>
            <input id="name" maxlength="80" name="name" size="20" type="text" class="form-control" required/>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" maxlength="80" name="email" size="20" type="email" class="form-control" required/>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input id="phone" maxlength="40" name="phone" size="20" type="text" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <input id="subject" maxlength="80" name="subject" size="20" type="text" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control"></textarea>
          </div>
          <input type="hidden" id="external" name="external" value="1" />
          <input type="submit" name="submit" class="btn btn-primary">
        </form>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-4">
        <ul>
          <li><h4>Contact Name</h4>
          <ul>
            <li>p: 123-456-7890</li>
            <li>e: contact@greatminds.net</li>
          </ul>
          </li>
        </ul>
        <ul>
          <li><h4>Contact Name</h4>
          <ul>
            <li>p: 123-456-7890</li>
            <li>e: contact@greatminds.net</li>
          </ul>
          </li>
        </ul>
        <ul>
          <li><h4>Contact Name</h4>
          <ul>
            <li>p: 123-456-7890</li>
            <li>e: contact@greatminds.net</li>
          </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function(){
      $(".contact-form").validate();
    })
  <% end %>
<% end %>
