.account-page {

  .content {
    @media screen and (max-width: 1025px) {
      width: 100%;
    }
  }
}

.products {
  margin-bottom: 60px;
}

.product-wrapper {
  padding: 15px 0;
  border: 1px solid darken($c-firm-accent, 10%);
  text-align: center;
  background-color: $c-absolute;

  .title {
    margin: 0 0 15px;
    line-height: 1em;
    letter-spacing: 0;
    color: $c-energized-secondary;
  }

  p {
    margin: 0;

    @media screen and (min-width: $screen-sm-min) {
      font-size: .85em;
    }
  }

  .btn {
    margin: -5px 0 0;
  }

  .btn-link {
    font-weight: bold;
    text-decoration: underline;
    color: $c-depleted;

    &:hover {
      color: lighten($c-positive-secondary, 15%);
    }

  }
}

.product-wrapper-inner {
  min-height: 130px;

  &.flip-container,
  .flip-front,
  .flip-back {
    @media screen and (min-width: 600px) {
      width: 250px;
      height: 200px;
    }
  }

  .flip-front {
    padding: 20px 15px 15px;
    background-color: $c-firm-accent;
  }

  .flip-back {
    padding: 20px 15px 15px;
  }
}

.recommended-product-wrapper {
  position: relative;
  margin: 0 0 15px;
  padding: 15px;
  border: 1px solid darken($c-firm-accent, 10%);
  text-align: center;
  background: $c-absolute;

  @media screen and (min-width: $screen-sm-min) {
    margin: 0 0 15px;
    text-align: left;
  }

  .img-thumbnail {
    margin-bottom: 15px;
    border: 0;
    border-radius: 0;

    @media screen and (min-width: $screen-sm-min) {
      margin: 0;
    }
  }

  h5 {
    margin: 0 0 5px;
    line-height: 1.2em;
    letter-spacing: 0;

    @media screen and (min-width: $screen-sm-min) {
      margin: 15px 0 10px;
      font-size: 1em;
    }
  }

  p {
    @media screen and (min-width: $screen-sm-min) {
      margin: 0 0 10px;
      font-size: .85em;
    }
  }

  .btn-link {
    padding: 6px 12px;
    font-weight: bold;
    text-decoration: underline;
    color: $c-depleted;

    &:hover {
      color: lighten($c-positive-secondary, 15%);
    }

    @media screen and (min-width: $screen-sm-min) {
      padding: 6px 0;
    }
  }
}

.recent-history {
  padding: 10px;

  .view-all-link {
    display: block;
    width: 87%;
    margin: 0 auto 15px;
    text-align: center;
    white-space: normal;
  }

  .history-list {
    position: relative;
    padding-left: 27px;
    color: $c-absolute;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      background: $c-firm-accent;
      content: '';
    }
  }
}

.history-item {
  position: relative;

  h6 {
    margin-bottom: 0;
    font-size: 14px;
  }

  p {
    font-size: 12px;
    font-style: italic;
  }

  .material-icons {
    position: absolute;
    top: 10px;
    left: -30px;
    color: $c-balanced;
  }
}

.history-list-wrapper {
  .history-list-head {
    margin: 20px 0;
  }

  .table {
    margin: 20px 0;
  }
}

.account-settings {
  margin-bottom: 50px;

  form {
    padding: 30px 0;
  }
}

// Twitter feed
.twitter-feed-container {
  .timeline {
    border-radius: 0;
  }
}
