.careers-masthead {
  padding: 60px 0;
  text-align: center;

  .all-button {
    margin: 30px auto 0;
  }
}


.greatminds-intro-head {
  width: 60%;
  margin: 0 auto 100px;
  text-align: center;
}

.media {
  margin: 0 0 60px;
}

.media-heading {
  margin: 0 0 15px;
}


.positions-head {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.jobs-list {
  width: 80%;
  margin: 20px auto 40px;

  h4 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
}

.job-item {
  padding: 15px 0;
  border-bottom: 1px solid;

  a {
    border: 0;
  }
}
