// _download-page.scss

.downloads-container {
  padding-top: 30px;
}

.product-head {
  position: relative;
  padding: 30px;
  background: $brand-green;
  color: $dark-blue;

  h3 {
    margin: 0;
  }
}

.open-product {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 20px;

  @include translate(0,-50%);
  @include transition(transform, .3s);

  &.rotate-icon {
    @include rotate(180deg);
  }
}

.materials {
  max-height: 0;
  padding: 0 30px;
  background: $gray;
  overflow: hidden;

  @include transition(all, .3s);

  &.show-materials {
    max-height: 500px;
    padding: 15px 30px;
    overflow: scroll;
    @include transition(all, .3s);
  }
}

.material {
  background: #fff;
  padding: 15px;
  margin: 15px 0;

  .well {
    margin: 15px 0;
  }

  input[type="checkbox"] {
    margin: 0 5px 0 0;
  }

  .sub-container {

    &.odd {
      background: $gray-light;
      color: #fff;
    }

    &.even {
      background: #fff;
      color: $dark-blue;
    }
  }
}

.sub-material {
  border-bottom: 1px solid;

  &:last-child {
    border: none;
  }
}

.sub-link {
  font-size: 20px;
}

.sub-container {
  margin: 15px 0 0;
}

.sub-material {
  padding: 15px;

  .glyphicon-download-alt {
    margin-left: 5px;
  }
}