// events.scss
// Styles related to the events page(s)

.event {
  padding: 30px 0 15px;
  border-bottom: 1px solid;
}

.details-link {
  color: lighten(#555, 10%);
  font-weight: bold;
}

.event-buttons-container {
  padding: 30px 0;
}
