_license-mgmt.scss

.licenses {
  .drawer-toggle {
    display: none;
  }
}

#error_explanation {
  margin: 30px 0;
}

.user-details {
  background: $dark-blue;
  color: $c-absent;
}

// Override Bootstrap style
.table-striped > tbody > tr:nth-of-type(odd).user-details {
  background: $dark-blue;
}

.reminder-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 75px;
  height: 75px;
  padding-top: 22px;
  padding-left: 25px;
  border-radius: 50%;
  border: 1px solid $c-black-transparent-1;
  box-shadow: 0 0 30px $c-black-transparent-4;

  span {
    display: block;
    font-size: 30px;
  }
}

.user-stats-wrapper {
  text-align: right;

  @media screen and (min-width: $screen-sm-min) {
    text-align: left;
  }
}

.licenses-dropdown {
  .licenses-dropdown-button {
    width: 100%;
  }
  
  .dropdown-toggle {
    white-space:normal !important;
    word-wrap:break-word;
  }
}

.remove-select-email {
  cursor: pointer;
}

.license-steps {

  @media screen and (min-width: $screen-sm-min) {
    @include display-flex;
  }

  > div {

    @media screen and (min-width: $screen-sm-min) {
      @include flex(1);
    }
  }
}
