// _license-mgmt.scss

#error_explanation {
  margin: 30px 0;
}

.license-actions {
  padding: 60px 0;

  .upload-user-btn {
    margin: 0 0 60px;
  }

  .btn {
    padding: 15px 30px;
    font-size: 20px;
  }

  input {
    margin-bottom: 5px;
  }
}

.modal-actions {
  .btn {
    margin: 30px auto 5px;
    display: block;
  }
}

#licenses-import-modal {

  .modal-header {
    padding: 30px;
  }

  .modal-body {
    padding: 0 30px 30px;
  }

  .modal-actions {

    .btn {
      font-size: 20px;
    }
  }
}