.licenses {
  .drawer-toggle {
    display: none;
  }
}

#error_explanation {
  margin: 30px 0;
}

.user-details {
  color: $c-absolute;
  background: $c-positive-secondary;
}

// Override Bootstrap style
.table-striped > tbody > tr:nth-of-type(odd).user-details {
  background: $c-positive-secondary;
}

.reminder-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1000;
  width: 75px;
  height: 75px;
  padding-top: 18px;
  padding-left: 18px;
  border: 1px solid $c-transparent-subdue-1;
  border-radius: 50%;
  box-shadow: 0 0 30px $c-transparent-subdue-4;

  &.btn-default {
    background-color: $c-absolute;
  }

  span {
    display: block;
    font-size: 30px;
  }
}

.user-stats-wrapper {
  text-align: right;

  @media screen and (min-width: $screen-sm-min) {
    text-align: left;
  }
}

.licenses-dropdown {
  .licenses-dropdown-button {
    width: 100%;
  }
}

.remove-select-email {
  cursor: pointer;
}

.edit-users-email-list,
.confirm-users-email-list {
  max-height: 300px;
  overflow: scroll;
}

.distribution-stats-btn {
  background: $white;
  color: $black;
}