// _license-mgmt.scss

.licenses {
  .drawer-toggle {
    display: none;
  }
}

.license-page-description {
  padding: 15px 0 30px;
}

#error_explanation {
  margin: 30px 0;
}

.upload-user-btn {
  position: relative;
  top: 27px;
  width: 100%;

  span {
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 18px;
    @include translate(0, -50%);
  }
}

.license-actions {
  padding: 60px 0;

  .btn {
    padding: 15px 30px;
    font-size: 20px;
  }

  input {
    margin-bottom: 15px;
  }
}

.modal-actions {
  .btn {
    margin: 30px auto 5px;
    display: block;
  }
}

#licenses-import-modal {

  .modal-header {
    padding: 30px;
  }

  .modal-body {
    padding: 0 30px 30px;
  }

  .modal-actions {

    .btn {
      font-size: 20px;
    }
  }
}

.user-details {
  background: $dark-blue;
  color: #fff;
}

.reminder-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 75px;
  height: 75px;
  padding-top: 16px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);

  span {
    display: block;
    font-size: 20px;
  }
}

@media screen and (max-width: 992px) {
  .upload-user-btn {
    top: 10px;
  }
}