.search-result-head {
  padding-bottom: 10px;
  border-bottom: 1px solid #666;

  .title {
    display: block;

    @media screen and (min-width: $screen-sm-min) {
      margin-top: 10px;
    }
  }

  .dropdown {

    > .btn {
      margin-left: $b-space;
    }

    .dropdown-menu {
      left: inherit;
      right: 0;
    }
  }
}

.flex-center {
  @include display-flex;
  @include flex(1);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
}

.search-result-item {
  background-color: #eee;
  margin: 15px 0;
  border: 1px solid #ddd;

  @media screen and (min-width: $screen-sm-min) {
    @include display-flex;
  }

  .result-item-icon {
    font-size: 90px;
    background-color: #bbb;
    text-align: center;
    padding: 10px 0;

    @media screen and (min-width: $screen-sm-min) {
      @include display-flex;
      @include flex(0.4);
    }
  }

  .result-item-center {
    padding: 10px 30px;

    @media screen and (min-width: $screen-sm-min) {
      @include flex(1);
    }

    .title {
      font-weight: bold;
      font-size: 30px;
      display: block;
    }

    .sub-title {
      display: block;
    }
  }

  .result-item-links {
    background-color: #fff;
    padding: 10px;

    @media screen and (min-width: $screen-sm-min) {
      @include display-flex;
      @include flex(0.4);
    }

    .btn-block {
      margin: 0;
    }

    .btn + .btn {
      margin-top: 5px;
    }

    a, span {
      display: block;
    }
    span {
      margin: 10px 0;
    }
  }
}
