// _slick-overrides.scss

.slick-slider {
  margin-bottom: 60px;
}

.slick-prev, .slick-next {
  width: 44px;
  height: 44px;
  color: #eee;
  margin-top: 0;

  @include translate(0, -50%);

  &:before {
    font-family: "Glyphicons Halflings";
    font-size: 40px;
  }
}

.slick-prev {
  left: 20px;

  @media screen and (min-width: $screen-sm-min) {
    left: -30px;
  }

  &:before {
    content: "\e079";

    @media screen and (min-width: $screen-sm-min) {
      color: #000;
    }

  }
}

.slick-next {
  right: 20px;

  @media screen and (min-width: $screen-sm-min) {
    right: -30px;
  }

  &:before {
    content: "\e080";

    @media screen and (min-width: $screen-sm-min) {
      color: #000;
    }
  }
}

.slick-dots {
  bottom: -55px;

  @media screen and (min-width: $screen-sm-min) {
    bottom: -30px;
  }

  li, li.slick-active {
    button:before {
      color: $dark-blue;
    }
  }
}
