// _slick-overrides.scss

.my-products-container {
  position: relative;
}

.prev-product,
.next-product {
  display: none !important;
  position: absolute;
  top: 50%;

  @include translate(0, -50%);

  @media screen and (min-width: $screen-sm-min) {
    display: inline-block !important;
  }
}

.prev-product {
  left: -30px;
}

.next-product {
  right: -30px;
}

.slick-slider {
  margin-bottom: 60px;
}

ul.slick-dots {
  margin: 0;
  bottom: -30px;

  li, li.slick-active {
    button:before {
      color: $dark-blue;
    }
  }
}
