// _spree_admin.scss

// header
body[data-hook="body"] {

  @media screen and (max-width: 768px) {
    .taxon-title {
      margin: 15px 0;
    }
  }

  .navbar-toggle {
    margin-left: 15px;
  }

  // Checkout Flow

  #main-image {
    .panel-body {
      padding: 0;
    }
  }

  #taxon-crumbs {
    margin: 15px 0;
  }
}

// Products Page
#products {
  .panel-body {
    padding: 0;
  }
}

.spree-navbar {
  margin: 0 -15px;
  border: 0;
  border-bottom: 1px solid $gray-light-mid;

  .navbar-header {
    float: none;
    padding: 15px;
  }

  .navbar-brand {
    display: block;
    margin-left: -15px;
  }

  div[data-hook="admin_login_navigation_bar"] {
    @media screen and (max-width: 769px) {
      float: right;
    }
  }

  #sidebar-toggle {
    float: left;
    position: relative;
    margin: 0;
  }

  &.navbar-inverse {
    border-color: darken($gray-lightest, 20%);
    background: $gray-lightest;

    .navbar-toggle {

      &:hover {
        background: $gray-lightest;
      }

      .icon-bar {
        background: $gray-dark;
      }
    }
  }
}

.admin {
  background-color: $c-absent;

  .dropdown {
    &.user-menu {
      a {
        color: $gray-dark !important;
      }

      &.open {
        .dropdown-toggle {
          background: transparent;
        }
      }
    }
  }

  // Tables
  table {
    min-width: 1000px;
    max-width: none;
  }
}

ul.nav-sidebar {
  margin: 0 0 15px;
}

.with-sidebar {

  table {
    min-width: 0;
  }

  @media screen and (max-width: $large-bp) {
    float: none;
    width: 100%;

    + div {
      float: none;
      width: 100%;
    }
  }
}

// Sidebar
#wrapper {

  #main-sidebar {
    position: relative;
    top: 0;

    &.hidden-xs {
      display: block !important;
    }
  }

  &.sidebar-minimized {

    #main-sidebar {
      width: 0;
      overflow: hidden;
    }
  }
}

#main-part {

  &.sidebar-collapsed {
    padding-left: 15px;
  }
}

.order-dot,
.user-dot,
.contact-dot {
  width: 10px;
  height: 10px;
  margin-top: 15px;
  margin-right: 10px;
  border-radius: 5px;
}
.order-dot {
  background-color: #35AAE2;
}
.user-dot {
  background-color: #FD5F3F;
}
.contact-dot {
  background-color: #98C53D;
}
