// *************************************
//
//   Spree Admin
//   -> Styles scoped to Spree Admin
//
// *************************************

// -------------------------------------
//   Bar above Spree admin
// -------------------------------------

.spree-navbar {
  margin: 0 -15px;
  border: 0;
  border-bottom: 1px solid $gray-light-mid;

  .navbar-header {
    float: none;
    padding: $b-space-m;

    @media screen and (min-width: $screen-md-min) {
      padding: $b-space-m 0;
    }
  }

  .navbar-brand {
    display: none;
  }

  div[data-hook="admin_login_navigation_bar"] {
    @media screen and (max-width: 769px) {
      float: right;
    }
  }

  #sidebar-toggle {
    float: left;
    position: relative;
    margin: 0;
  }

  &.navbar-inverse {
    border-color: darken($gray-lightest, 20%);
    background: $gray-lightest;

    .navbar-toggle {

      &:hover {
        background: $gray-lightest;
      }

      .icon-bar {
        background: $gray-dark;
      }
    }
  }
}

// -------------------------------------
//   Scoped to body.admin
// -------------------------------------

.admin {
  background-color: $c-absent;

  .dropdown {
    &.user-menu {
      a {
        color: $gray-dark !important;
      }

      &.open {
        .dropdown-toggle {
          background: transparent;
        }
      }
    }
  }

  table {
    min-width: 1000px;
    max-width: none;
  }
}

// -------------------------------------
//   Sidebar
// -------------------------------------

#wrapper {

  #main-sidebar {
    position: relative;
    top: 0;
    padding: $b-space-m 12px;
    border: 0;
    background: transparent;

    &.hidden-xs {
      display: block !important;
    }

    .icon {
      position: relative;
      top: -5px;
      font-size: 16px;

      @media screen and (min-width: $screen-sm-min) {
        top: -8px;
      }
    }

    .icon-chevron-left,
    .icon-chevron-down {
      position: absolute;
      top: 1px;
      right: 6px;
      margin-top: 0;
      font-size: 16px;
      color: $brand-primary;
    }

    .icon-chevron-left {
      @include rotate(-90deg);
    }

    .icon-chevron-down {
      @include rotate(-180deg);

      top: 4px;
      right: 10px;
    }

    .nav-sidebar {
      margin: 0;
    }

    li {
      margin-bottom: 12px;
      border: 1px solid $brand-primary;
      border-radius: 3px;

      > a {
        padding: $b-space-s $b-space;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: normal;
        color: $brand-primary;
        border-radius: 3px;

        &[data-toggle="collapse"] {
          padding-right: 25px;
        }
      }
    }

    .nav-pills {
      border-radius: 3px;

      li {
        margin: 0;
        margin-bottom: -1px;
        border: 1px solid #ddd;
        border-radius: 0;

        &:last-child {
          margin-bottom: 0;
          border: 0;
        }

        > a {
          margin: 0;
          padding: $b-space $b-space-m;
          border: 0;
          font-size: 14px;
          font-weight: normal;
        }

        &.active.active {
          border-color: $brand-primary;

          > a {
            color: $c-absent;
            border-radius: 0;
          }
        }
      }
    }
  }

  &.sidebar-minimized {

    #main-sidebar {
      width: 0;
      overflow: hidden;
    }
  }
}

// -------------------------------------
//   Primary Content
// -------------------------------------

#main-part {

  &.sidebar-collapsed {
    padding-left: $b-space-m;
  }
}

// -------------------------------------
//   Analytics
// -------------------------------------

.order-dot,
.user-dot,
.contact-dot {
  width: $b-space;
  height: $b-space;
  margin-top: $b-space-m;
  margin-right: $b-space;
  border-radius: $b-space-s;
}

.order-dot {
  background-color: #35AAE2;
}

.user-dot {
  background-color: #FD5F3F;
}

.contact-dot {
  background-color: #98C53D;
}

.ui-datepicker {
  max-width: 300px;
}

.ui-datepicker-calendar.ui-datepicker-calendar {
  min-width: initial;
}

// -------------------------------------
//   Filters
// -------------------------------------

.label-completed,
.label-complete,
.label-considered_safe,
.label-paid,
.label-shipped,
.label-ready,
.label-active,
.label-success,
.label-sold,
.label-balance_due {
  a {
    color: $brand-primary !important;
  }
}

.icon-filter.icon-filter.icon-filter {
  position: absolute;
  top: 38%;
  left: -7px;
  color: $gray-light;
}

// Ensure filters stay attached to their cell
.table.table {
  tbody {
    tr {
      td {
        position: relative;
      }
    }
  }
}
