// _spree_store_overrides.scss

.spree-store {

  .call-banner {
    margin: 0 0 30px;
    padding: 15px;
    text-align: center;

    h5 {
      margin: 0 0 10px;
      font-weight: 700;
    }

    h6 {
      margin: 0;
    }
  }

  #order_summary {
    h1 {
      display: none;
    }

    h4 {
      line-height: 1.2em;
    }
  }

  #productContactForm {
    .modal-header,
    .modal-body {
      padding: 30px;
    }
  }

  .product-wrapper {
    margin-bottom: 24px;
    text-align: left;
  }

  .product-body {
    min-height: 280px;
    text-align: center;

    .flip-front {
      padding: 20px 15px 15px;
      background-color: $c-firm-accent;
    }

    .flip-back {
      padding: 20px 15px 15px;
    }

    .flip-container,
    .flip-back,
    .flip-front {
      min-height: 280px;
    }
  }

  .product-title {
    display: block;
    margin-bottom: 10px;
    line-height: 1em;
  }

  .product-footer {
    width: 280px;
    margin: 0 auto;
    padding: 15px 0;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    @media screen and (min-width: $screen-sm-min) {
      width: 350px;
    }

    @media screen and (min-width: $screen-md-min) {
      width: 250px;
    }

    @media screen and (min-width: $screen-lg-min) {
      width: 330px;
    }
  }

  .product-images {
    .panel {
      border: 0;
      background-color: transparent;
      box-shadow: none;
    }

    .mi {
      font-size: 150px;
      color: $c-energized-secondary;

      @media screen and (min-width: $screen-sm-min) {
        font-size: 250px;
      }
    }
  }

  .cart-item-image {
    .mi {
      font-size: 75px;
      color: $c-energized-secondary;
    }
  }

  .cart-total {
    h5 {
      margin-bottom: 0;
    }
  }

  .navbar-form {
    margin: 0;
    padding: 0;
  }

  .product-list-item {
    &:last-child {
      .product-wrapper {
        border-bottom: 1px solid $c-firm-accent;
      }
    }

    .product-wrapper {
      margin-bottom: 0;
      padding: $b-space-l $b-space-xl;
      border: 1px solid $c-firm-accent;
      border-bottom: 0;
    }

    .price,
    .price a {
      text-decoration: none;
    }
  }

  .product-actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    min-height: 115px;
    text-align: center;

    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .product-price {
    display: inline-block;
    margin-bottom: $b-space-s;
    font-family: Karla, sans-serif;
    color: $c-positive-secondary;
  }

  .product-taxon {
    border: 1px solid $c-positive-secondary;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
  }

  .product-btn-primary {
    width: 100%;
    padding: 10px;
  }

  .price,
  .price a {
    @extend .sans-serif;

    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: normal;

    &.btn {
      text-decoration: none;
      color: $c-absolute;
    }
  }

  .taxonomy {
    margin-bottom: $b-space-xl;
  }

  .taxonomy-root {
    font-size: 1em;
  }

  .terms_and_conditions_box {
    padding: 0;
  }

  .terms_and_conditions_text {
    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $c-transparent-subdue-5;
      border-radius: 4px;
      -webkit-box-shadow: 0 0 1px $c-transparent-highlight-5;
    }
  }

  #forgot-password {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .product-description {
    p {
      margin-bottom: $b-space-s;
    }
  }

}

.product-section-title {
  margin-bottom: 0;
}

.product-tile {
  min-height: 230px;
  padding: $b-space;

  .product-title-wrapper {
    display: table;
    width: 100%;
    min-height: 115px;
  }

  .product-title {
    line-height: 1em;
    letter-spacing: 0;
  }

  h5 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  p {
    line-height: 18px;
  }
}

.product-description {
  color: $c-stable-secondary;

  a {
    text-transform: uppercase;
    text-decoration: none;
  }

  .product-alert-link {
    text-transform: none;
  }
}

.prev-product,
.next-product {
  cursor: pointer;
}

.terms_and_conditions_box {
  margin-bottom: 15px;
  padding: 15px;
  background: $c-firm-highlight;
}

.terms_and_conditions_text {
  height: 250px;
  overflow: auto;
  margin: 15px 0;
  padding: 20px;
  background: $c-absolute;
}

#privacy-policy-text {
    p.underline {
        text-decoration: underline;
    }
    ul {
        list-style-type: disc;
        padding-left: 50px;
    }
}

// Store
body[data-hook="body"] {

  @media screen and (max-width: 768px) {
    .taxon-title {
      margin: $b-space-m 0;
    }
  }

  .navbar-toggle {
    margin-left: $b-space-m;
  }

  // Checkout
  #main-image {
    .panel-body {
      padding: 0;
    }
  }

  #taxon-crumbs {
    margin: $b-space-m 0;
  }
}

// Products
#products {
  .panel-body {
    padding: 0;
  }
}

[id="product-details"] {
  [itemprop="description"] {
    a {
      text-transform: none;
      text-decoration: underline;
    }
  }
}
