// _spree_store_overrides.scss

#default {

  #sidebar, #content {
    margin-top: 30px;
  }
}

.call-banner {
  padding: 15px;
  margin: 0 0 30px;
  text-align: center;

  h5 {
    font-weight: 700;
    margin: 0 0 10px;
  }

  h6 {
    margin: 0;
  }
}

#productContactForm {
  .modal-header, .modal-body {
    padding: 30px;
  }
}