.video-wrapper {
  position: relative;
  margin: 0 0 15px;
  box-shadow: inset 0 0 1px transparent;
  @include transition(all, $transitionTiming);

  &:nth-child(3n+3) {
    .video-drawer {
      right: auto;
      left: 0;
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    text-align: center;
  }
}

.locked-video {
  .video-image-wrapper {
    background-color: $steel-gray;
    position: relative;
    @include transition(all, $transitionTiming);

    .glyphicon-lock {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #fff;
      font-size: 100px;
      @include translate(-50%, -50%);
    }
  }
}

.video-image-wrapper {
  position: relative;
  border: 1px solid $dark-blue;
}

.open-video {
  height: 100%;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


.play-video-button {
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;

    @include transition(all, $transitionTiming);
    @include translate(-50%, -50%);
  }
}

.video-drawer {
  padding: 10px;
  box-shadow: inset 0 0 1px $dark-blue;
  border: 1px solid $dark-blue;
  @include transition(all, $transitionTiming);

  .product-description {
    padding: 10px 0;
    .more-info {
      display: block;
      margin-top: 10px;
    }
  }

  .favorite-button, .unblock-button {

  }
}

.video-name {
  margin: 15px 0 0;
  font-weight: bold;

  a {
    color: #333;
  }
}

.video-categories, .video-taxons {
  opacity: .6;

  p {
    margin: 0;
  }
}

.video-categories {
  font-weight: bold;
}
