.video_gallery {

  #wrap {
    &.empty-state {
      height: 100%;
    }
  }

  .wrapper {
    height: 100%;
  }

  .content {
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}

.videos-wrapper {
  background: $dark-blue;
  height: 100%;
}

.video-wrapper {
  position: relative;
  padding: 15px;
  height: 330px;
  margin: 0 0 15px;
  box-shadow: inset 0 0 1px transparent;
  @include transition(all, $transitionTiming);

  @media screen and (max-width: 1200px) {
    height: auto;
  }

  &:nth-child(3n+3) {
    .video-drawer {
      right: auto;
      left: 0;

      @media screen and (max-width: $largeBP) {
        right: 0;
        left: auto;
      }
    }
  }

  // Hover State
  &:hover {
    box-shadow: inset 0 0 1px $dark-blue;
    background: rgba($dark-blue, .4);
    z-index: 1000;

    &:nth-child(3n+3) {
      .video-drawer {
        left: -65%;

        @media screen and (max-width: $largeBP) {
          right: 0;
          left: auto;
        }
      }
    }

    .open-video {
      opacity: 0.5;
    }

    .video-info {
      background: #eee;
    }

    .video-drawer {
      right: -65%;
      z-index: 2;
      opacity: 1;

      @media screen and (max-width: $largeBP) {
        right: 0;
      }
    }

    .play-video-button {
      span {
        opacity: 1;
        z-index: 4;
      }
    }
  }
}

.locked-video {
  .video-image-wrapper {
    background-color: $steel-gray;
    position: relative;
    @include transition(all, $transitionTiming);

    @media screen and (max-width: $largeBP) {
      width: 100%;
    }

    .glyphicon-lock {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #fff;
      font-size: 100px;
      @include translate(-50%, -50%);
    }
  }
}

.video-image-wrapper {
  position: relative;
  height: 200px;

  @media screen and (max-width: $largeBP) {
    position: relative;
    float: left;
    width: 50%;
    height: 300px;
    border: none;
  }

  @media screen and (max-width: 575px) {
    float: none;
    width: 100%;
    height: 250px;
  }
}

.image-drawer-wrapper {
  border: 1px solid $dark-blue;
}

.open-video {
  height: 100%;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


.play-video-button {
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    font-size: 100px;
    opacity: 0;

    @include transition(all, $transitionTiming);
    @include translate(-50%, -50%);

    @media screen and (max-width: 1024px) {
      opacity: 1;
    }
  }
}

.video-drawer {
  position: absolute;
  top: 0;
  right: 0;
  width: 65%;
  height: 100%;
  padding: 10px;
  box-shadow: inset 0 0 1px $dark-blue;
  opacity: 0;
  z-index: 2;
  @include transition(all, $transitionTiming);

  @media screen and (max-width: 1200px) {
    position: relative;
    float: right;
    width: 50%;
    height: 300px;
    box-shadow: none;
    opacity: 1;
  }

  @media screen and (max-width: 575px) {
    float: none;
    width: 100%;
    height: 250px;
  }

  .product-description {
    padding: 10px 0;
    .more-info {
      display: block;
      margin-top: 10px;
    }
  }

  .favorite-button, .unblock-button {
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    width: 90%;

    @media screen and (max-width: $largeBP) {
      left: 10px;
      right: 10px;
      width: auto;
    }
  }
}

.video-name {
  margin: 15px 0 0;
  font-weight: bold;

  a {
    color: #333;
  }
}

.video-categories, .video-taxons {
  opacity: .6;

  p {
    margin: 0;
  }
}

.video-categories {
  font-weight: bold;
}
