.video-grid {
  @media screen and (min-width: $screen-md-min) {
    &:nth-child(odd) {
      clear: both;
    }
  }
}

.video-wrapper {
  @include transition(all, $transition-timing);
  @include display-flex;
  @include flex-direction(column);

  position: relative;
  min-height: 150px;
  margin-bottom: 24px;
  border: 1px solid darken($c-firm-accent, 10%);
  background-color: $c-absolute;
  background-position: 50%;
  background-size: cover;

  @media screen and (min-width: $screen-sm-min) {
    min-height: 300px;
    text-align: center;
  }
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.video-content {
  @include flex(1);

  z-index: 1;
  min-height: 120px;
  padding: 15px;
  background-color: rgba(0, 0, 0, .7);

  @media screen and (min-width: $screen-sm-min) {
    min-height: 250px;
  }
}

.video-link {
  display: block;
  z-index: 1;
  padding: $b-space-m;
  color: $c-absolute;

  &:hover {
    .video-link-icon {
      display: block;
    }
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: darken($c-absolute, 30%);
    cursor: pointer;
  }

  @media screen and (min-width: $screen-sm-min) {
    padding: 25px 40px;
  }
}

.video-link-icon {
  z-index: 2;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -24px;
  color: $c-absolute;
}

.video-text {
  margin-bottom: 0;
}

.video-lock {
  color: $c-absolute;
}

.video-name,
.video-name a {
  font-size: 15px;
  line-height: 1em;
  letter-spacing: normal;
  color: $c-stable-secondary;

  #product-details & {
    line-height: .8em;
  }
}

.video-categories,
.video-taxons {
  display: block;
  opacity: .6;

  p {
    @extend .sans-serif;

    display: block;
    margin: 0;
    font-size: .85em;
    line-height: 1em;
    text-transform: uppercase;
  }
}

.video-categories {
  font-weight: bold;
}

// For Curriculim pages
.video-title {
  text-align: center;
}
