.video-grid {
  @media screen and (min-width: $screen-md-min) {
    &:nth-child(odd) {
      clear: both;
    }
  }
}

.video-wrapper {
  @include transition(all, $transition-timing);

  position: relative;
  margin-bottom: 24px;
  padding: 15px 0;
  border: 1px solid darken($gray-lighter, 10%);
  background-color: $c-absent;

  @media screen and (min-width: $screen-sm-min) {
    min-height: 315px;
    text-align: center;
  }
}

.locked-video {
  .video-image-wrapper {
    @include transition(all, $transition-timing);

    background-color: $steel-gray;
    position: relative;

    .glyphicon-lock {
      @include translate(-50%, -50%);

      position: absolute;
      top: 50%;
      left: 50%;
      color: $c-absent;
      font-size: 100px;
    }
  }
}

.video-image-wrapper {
  position: relative;
  background-color: $gray-lighter;
}

.image-drawer-wrapper {
  margin-bottom: $b-space;
}

.open-video {
  height: 100%;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.play-video-button {
  display: block;
  width: 100%;
  height: 100%;

  span {
    @include transition(all, $transition-timing);
    @include translate(-50%, -50%);

    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
  }
}

.video-drawer {
  @include transition(all, $transition-timing);

  padding: 10px;

  .product-description {
    padding: 5px 0 0;

    p {
      font-size: 14px;
      margin-bottom: 5px;
      line-height: 1.2em;
    }
  }
}

.video-preview-image {
  background-color: $c-absolute;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  .play-video-button {
    span {
      display: none;
    }
  }

  .btn-primary {
    border: 1px solid $c-absent;

    &:hover {
      border: 1px solid $c-absent;
    }
  }
}

.video-footer {
  width: 280px;
  margin: 0 auto;

  @media screen and (min-width: $screen-sm-min) {
    width: 350px;
  }

  @media screen and (min-width: $screen-md-min) {
    width: 250px;
  }

  @media screen and (min-width: $screen-lg-min) {
    width: 330px;
  }
}

.video-name {
  line-height: 1em;

  #product-details & {
    line-height: .8em;
  }

  a {
    color: $gray-dark;
    letter-spacing: normal;
    font-size: 18px;
  }
}

.video-categories,
.video-taxons {
  display: block;
  opacity: .6;

  p {
    @extend .sans-serif;

    display: block;
    margin: 0;
    font-size: .85em;
    text-transform: uppercase;
    line-height: 1em;
  }
}

.video-categories {
  font-weight: bold;
}

// For Curriculim pages
.video-title {
  color: $c-absent;
  text-align: center;
}
