.product-wrapper {
  text-align: center;
  background: #eee;
  padding: 20px;

  .grades-dropdown {
    padding: 10px 0;
    border-top: 1px dashed #eee;
    border-bottom: 1px dashed #eee;
  }
}

.products {
  margin-bottom: 60px;
}

.recommended-product-wrapper {
  background: #ddd;
  text-align: center;
  padding: 40px;
  position: relative;

  img {
    margin: 0 auto 15px;
    border: 5px solid white;
  }

  .remove-banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-top: 40px solid #000;
    .glyphicon {
      color: #fff;
      top: -35px;
      right: 15px;
    }
  }
}
.recent-history {
  padding: 10px;
  background: #aaa;

  .view-all-link {
    display: block;
    margin: 10px auto;
    text-align: center;
  }

  .history-list {
    position: relative;
    padding-left: 20px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 10px;
      bottom: 0;
      width: 1px;
      background: #eee;
    }
    .history-item {
      position: relative;

      h4 {
        font-size: 13px;
      }

      p {
        font-style: italic;
        font-size: 12px;
      }

      span.glyphicon {
        position: absolute;
        top: 10px;
        left: -16px;
      }
    }
  }
}
.favorites-products {
  .favorites-products-head {
    margin: 10px 0;
    .title {
      font-size: 16px;
    }
  }

  .product-wrapper {
    position: relative;
    .favorite-star {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-left: 40px solid transparent;
      border-top: 40px solid #000;
      .glyphicon {
        color: #fff;
        top: -35px;
        right: 15px;
      }
    }
  }
}
.history-list-wrapper {
  .history-list-head {
    margin: 20px 0;
  }
  .table {
    margin: 20px 0;
  }
}

.account-settings {
  margin-bottom: 50px;
  .nav.nav-tabs {
    li {
      margin-right: 30px;

      a {
        color: #555;
      }

      &.active {
        a {
          border: none;
          border-bottom: 3px solid #377BB5;
          font-weight: bold;
          color: #337ab7;
        }
      }
    }
  }

  form {
    padding: 30px 0;
  }
}

// Twitter feed
.twitter-feed-container {
  .timeline {
    border-radius: 0;
  }
}
