@import "application";

.sg-example {
  > h3 a {
    border: 0;
  }

  p {
    margin-bottom: 10px !important;
  }
}

.sg-canvases {
  border: 2px solid $gray-light;
  background: $c-absent;
}

.sg-canvas {
  border: 0;
  overflow: visible;

  &.bg-light {
    background: $c-absent;
  }

  > div {

    .alert {
      margin-bottom: 10px !important;
    }

    .navbar-primary {
      height: auto;
    }

    .margin-left {
      margin-left: 10px !important;
    }

    .margin-bottom {
      margin-bottom: 10px !important;
    }

  }
}

// Colors
//
// Easily make use of two color schemes: grayscale and semantic. Grayscale colors provide quick access to commonly used shades of black while semantic include various colors assigned to meaningful contextual values such as brand primary color, success, info, warning, and danger.

// -------------------------------------
//   Gray Scale
//
//   Styleguide 1.0
// -------------------------------------

.color-swatch {
  float: left;
  width: 100px;
  height: 100px;

  &.gray-darker {
    background-color: $gray-darker;
  }

  &.gray-dark {
    background-color: $gray-dark;
  }

  &.gray {
    background-color: $gray;
  }

  &.gray-light {
    background-color: $gray-light;
  }

  &.gray-lighter {
    background-color: $gray-lighter;
  }
}

// -------------------------------------
//   Color Palette
//
//   Styleguide 1.0.1
// -------------------------------------

.color-swatch {
  &.brand-primary {
    background-color: $brand-primary;
  }

  &.brand-success {
    background-color: $brand-green;
  }

  &.brand-info {
    background-color: $english;
  }

  &.brand-warning {
    background-color: $history;
  }

  &.brand-danger {
    background-color: $brand-danger;
  }
}

// -------------------------------------
//   Example Grid
//
//   Styleguide 2.0
// -------------------------------------

 .show-grid {
    div {
      border: 1px solid $brand-primary;
      background: rgba($brand-primary, .3);
    }
 }

 // -------------------------------------
 //   Icons
 //   Google Material Icons
 //
 //   Styleguide 4.0
 // -------------------------------------


.sg-canvas > div > {
  .itemBox {
    float: left !important;
    width: 12.5%;
    min-height: 100px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: transparent;
    border: 0;
    font-size: 28px;

    .caption {
      font-size: 12px;
    }
  }
}
