@import 'application';

.sg-example {
  > h3 a {
    border: 0;
  }

  p {
    margin-bottom: 15px !important;
  }
}

.sg-canvases {
  border: 2px solid $c-firm-primary;
  background: $c-absolute;
}

.sg-canvas {
  overflow: visible;
  border: 0;

  &.bg-light {
    background: $c-absolute;
  }

  > div {

    .alert {
      margin-bottom: 10px !important;
    }

    .navbar-primary {
      height: auto;
    }

    .margin-left {
      margin-left: 10px !important;
    }

    .margin-bottom {
      margin-bottom: 10px !important;
    }

    .margin-bottom--s {
      margin-bottom: 5px !important;
    }

    .img-blog-full {
      margin-bottom: 20px !important;
    }

    // -------------------------------------
    //   Icons
    //   Google Material Icons
    //
    //   Styleguide 4.0
    // -------------------------------------

    .itemBox {
      float: left !important;
      width: 12.5%;
      min-height: 100px;
      padding: 10px;
      border: 0;
      font-size: 28px;
      line-height: 1.4;
      text-align: center;
      background-color: transparent;

      .caption {
        font-size: 12px;
      }
    }

  }
}

// -------------------------------------
//   Positive
//
//   Styleguide 1.0
// -------------------------------------

.color-swatch {
  float: left;
  width: 100px;
  height: 100px;

  &.positive-primary {
    background-color: $c-positive-primary;
  }

  &.positive-secondary {
    background-color: $c-positive-secondary;
  }

  &.positive-accent {
    background-color: $c-positive-accent;
  }

  &.positive-highlight {
    background-color: $c-positive-highlight;
  }

  &.positive-subdue {
    background-color: $c-positive-subdue;
  }

// -------------------------------------
//   Balanced
//
//   Styleguide 1.0.1
// -------------------------------------

  &.balanced-primary {
    background-color: $c-balanced-primary;
  }

  &.balanced-secondary {
    background-color: $c-balanced-secondary;
  }

  &.balanced-highlight {
    background-color: $c-balanced-highlight;
  }

  &.balanced-subdue {
    background-color: $c-balanced-subdue;
  }

// -------------------------------------
//   Energized
//
//   Styleguide 1.0.2
// -------------------------------------

  &.energized-primary {
    background-color: $c-energized-primary;
  }

  &.energized-secondary {
    background-color: $c-energized-secondary;
  }

  &.energized-highlight {
    background-color: $c-energized-highlight;
  }

// -------------------------------------
//   Firm
//
//   Styleguide 1.0.3
// -------------------------------------

  &.firm-primary {
    background-color: $c-firm-primary;
  }

  &.firm-secondary {
    background-color: $c-firm-secondary;
  }

  &.firm-accent {
    background-color: $c-firm-accent;
  }

  &.firm-highlight {
    background-color: $c-firm-highlight;
  }

  &.firm-subdue {
    background-color: $c-firm-subdue;
  }

// -------------------------------------
//   Stable
//
//   Styleguide 1.0.4
// -------------------------------------

  &.stable-primary {
    background-color: $c-stable-primary;
  }

  &.stable-secondary {
    background-color: $c-stable-secondary;
  }

  &.stable-subdue {
    background-color: $c-stable-subdue;
  }
}

// -------------------------------------
//   Example Grid
//
//   Styleguide 2.0
// -------------------------------------

.show-grid {
  div {
    border: 1px solid $c-positive-secondary;
    background: rgba($c-positive-secondary, .3);
  }
}
