.videos-wrapper {
  background: #eee;
}

.video-product-wrapper {
  position: relative;
  height: 400px;
  padding: 15px;
  margin: 15px 0;
  @include transition(all, $transitionTiming);

  &:hover {
    background: #eee;

    &:nth-child(3n+3) > .video-product-drawer {
      left: -65%;

      @media screen and (max-width: 1200px) {
        right: -65%;
        left: auto;
      }
    }

    .open-video {
      opacity: 0.5;
    }

    > .video-info {
      background: #eee;
    }

    > .video-product-drawer {
      right: -65%;
      background: #bbb;
      z-index: 2;
      opacity: 1;
    }

    .play-video-button {
      opacity: 1;
      z-index: 4;
    }
  }

  .video-info {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    background: #fff;
    z-index: 3;

    @include transition(all, $transitionTiming);
  }

  .video-product-image-wrapper {
    border: 1px solid darken(#eee, 10%);

    img {
      width: 100%;
      height: 240px;
    }
  }

  .play-video-button {
    position: absolute;
    top: 80px;
    left: 50%;
    z-index: 100;
    font-size: 100px;
    opacity: 0;

    @include transition(all, .3s);
    @include translate(-50%, 0);
  }

  .open-video {
    display: block;
  }

  &:nth-child(3n+3) > .video-product-drawer {
    right: auto;
    left: 0;

    @media screen and (max-width: 1200px) {
      right: 0;
      left: auto;
    }
  }

  .video-product-drawer {
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    padding: 10px;
    background: #eee;
    opacity: 0;
    z-index: 2;
    @include transition(all, $transitionTiming);

    .product-description {
      padding: 10px 0;
      .more-info {
        display: block;
        margin-top: 10px;
      }
    }

    .favorite-button, .unblock-button {
      position: absolute;
      bottom: 10px;
      margin: 0 auto;
      width: 90%;
    }
  }

  &.locked-product {
    .video-product-image-wrapper {
      background-color: #eee;
      height: 240px;
      position: relative;
      @include transition(all, $transitionTiming);

      .glyphicon-lock {
        position: absolute;
        font-size: 100px;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
      }
    }
  }

  .video-product-name a {
    color: #000;
  }

  .video-product-categories {
    font-weight: bold;
    color: #666;
  }

  .video-product-taxons {
    color: #777;
  }
}

.video-product-description-modal .modal-content {
  padding: 10px 20px;
}
#video-page {
  margin-bottom: 50px;
  .video-player-wrapper {
    z-index: 1000;
    margin-top: 20px;
    position: relative;
    min-height: 400px;
    background: #eee;
    .glyphicon-lock {
      position: absolute;
      font-size: 100px;
      top: 150px;
      left: 220px;
    }
  }
  .video-page-title {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;

    .video-product-categories {
      font-weight: bold;
      color: #666;
    }
    .video-product-taxons {
      color: #777;
    }
  }

  .favorite-button {
    display: block;
    margin-top: 20px;
  }
}
