<div class="modal fade" id="download-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Please be patient, we are gathering your files now.  Module Overview Once they’re ready the download will begin.</p>
        <div class="text-center">
          <div class="spinner-loader">
            Loading…
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
