<div class="modal fade" id="download-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Processing your files</h4>
      </div>
      <div class="modal-body">
        <p>Please be patient, we are gathering your files now. Once they’re ready the download will begin.</p>
        <div class="text-center">
          <div class="spinner-loader">
            Loading…
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
