<div class="sub-materials clearfix">
  <% @material.children.each do |material| %>
    <div class="sub-material clearfix" data-material-id="<%= material.id %>">
      <input type="checkbox" />
      <%= material.name %>
      <% if material.material_files.present? %>
        <%= link_to download_material_path(material), class: 'pull-right' do %>
          <span class="glyphicon glyphicon-download-alt"></span>
        <% end %>
      <% end %>
      <% if material.children.count > 0 %>
        <%= link_to sub_material_path(material), remote: true, class: 'sub-link' do %>
          <span class="glyphicon glyphicon-chevron-down pull-right"></span>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
