<div class="sub-materials clearfix">
  <% @material.children.each do |material| %>
    <div class="sub-material" data-material-id="<%= material.id %>">
      <input type="checkbox" />
      <%= material.name %>
      <% if material.children.count > 0 %>
        <%= link_to sub_material_path(material), remote: true, class: 'sub-link' do %>
          <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
      <% end %>
      <% if material.material_files.present? %>
        <%= link_to 'Download', download_material_path(material), class: 'btn btn-default btn-sm pull-right' %>
      <% end %>
    </div>
  <% end %>
</div>
