<%= render 'cms_nav' %>
<div class="col-md-9">
  <section>
    <div class='row'>
      <h2>Editing Career</h2>

      <%= render 'form' %>

      <%= link_to 'Show', [:cms, @job], class: 'btn btn-default' %>
      <%= link_to 'Back', cms_jobs_path, class: 'btn btn-default' %>
    </div>
  </section>
</div>
