<p>
This User Agreement governs your use of www.greatminds.org (the “Website”) operated by Great Minds (“Great Minds”) and all Curriculum and associated textual, audio, and video materials contained therein. Please read the following terms and conditions carefully before proceeding. By accessing the Website, and by downloading Curriculum and/or associated textual, audio, and video materials, you are deemed to have agreed to comply with all of the terms and conditions hereof.</p>

<p>Great Minds hereby grants you a non-transferable and non-exclusive license to download and/or view the Curriculum and associated textual, audio, and video materials, and to print the Curriculum and associated textual materials, but in all cases such use shall be personal, internal and non-commercial only. You may not sell or otherwise distribute the Curriculum and associated textual, audio, and video materials to anyone in any manner.</p>

<p>
Great Minds shall have the right to terminate this limited license at any time, by posting notice of such termination on the Website, or by any other effective form of notification. Any use by you of the Website after such notice of termination shall be deemed to be notice to you that the limited license has been terminated. Any other form of notification that results in reasonable notice to you of termination shall all be deemed effective notice to you that the limited license has been terminated.</p>

<p>Great Minds shall have the right at any time to change or discontinue any aspect or feature of the Website and the Curriculum and associated materials, including, but not limited to, content, hours of availability, and equipment or software needed for access or use.</p>

<p>Great Minds shall have the right at any time to change or modify the terms and conditions applicable to your use of the Website and Curriculum and associated materials, or to impose new conditions, including but not limited to, adding additional fees and charges for use. Such changes, modifications, additions, or deletions shall be effective immediately upon posting on the Website or by any means of notification by which you obtain actual knowledge thereof. Any use by you after such notice shall be deemed to constitute acceptance by you.</p>

<p>The Website and Curriculum and associated materials contain copyrighted material, trademarks and other proprietary information including, but not limited to, text and graphics. The entire contents of the Website and Curriculum and associated materials are protected under United States copyright laws. Great Minds owns and/or controls copyright in the selection, coordination, arrangement and enhancement of such content, as well as in the content original to it. You may use copyrighted material for your personal, internal and non-commercial use only. Except as otherwise expressly permitted under copyright law, no copying, redistribution, publication or commercial exploitation of downloaded Curriculum or associated textual, audio and video materials will be permitted without the express written permission of Great Minds. In the event of any permitted copying, redistribution or publication of copyrighted material, no changes in or deletion of author attribution, trademark, legend or copyright notice shall be made.</p>

<p>THIS WEBSITE AND CURRICULUM ARE PROVIDED ON AN “AS IS” BASIS WITH ALL FAULTS AND WITHOUT ANY WARRANTY OF ANY KIND. CHANGES ARE PERIODICALLY ADDED TO THE CONTENTS OF THE WEBSITE AND CURRICULUM. GREAT MINDS MAY MAKE IMPROVEMENTS, DELETIONS, CHANGES OR OTHER MODIFICATIONS TO THE WEBSITE AND THE CURRICULUM AT ANY TIME WITHOUT NOTICE.</p>

<p>You may not post or otherwise make available on the Website any material protected by copyright, trademark or other proprietary right. You are responsible for and assume all risk with respect to what you post. You hereby grant Great Minds the non-exclusive right without limitation to edit, copy, publish and distribute any material made available on the Website by you, including but not limited to any material posted by you in the Website’s comments section, and any email queries or lesson plans submitted by you to Great Minds, including without limitation to publish and distribute such material on the Website and in any print publications published and distributed by Great Minds.</p>

<p>You agree to indemnify and hold harmless Great Minds from and against all claims and expenses, including attorneys’ fees, arising out of your use of the Website, including, without limitation, the Curriculum and associated materials, and posts by you. You agree that any violation by you of this User Agreement gives Great Minds the right to seek injunctive relief and all damages and other remedies available under U.S. copyright and trademark law, and all other applicable law.LICENSE FOR EUREKA MATHTM BASIC CURRICULUM FILES</p>

<p>Creative Commons Attribution - Non Commercial - Share Alike 4.0 International Public License
By exercising the Licensed Rights (defined below), You accept and agree to be bound by the terms and conditions of this Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International Public License ("Public License"). To the extent this Public License may be interpreted as a contract, You are granted the Licensed Rights in consideration of Your acceptance of these terms and conditions, and the Licensor grants You such rights in consideration of benefits the Licensor receives from making the Licensed Material available under these terms and conditions.</p>

<h3>SECTION 1 - DEFINITIONS.</h3>

<p>a. Adapted Material means material subject to Copyright and Similar Rights that is derived from or based upon the Licensed Material and in which the Licensed Material is translated, altered, arranged, transformed, or otherwise modified in a manner requiring permission under the Copyright and Similar Rights held by the Licensor. For purposes of this Public License, where the Licensed Material is a musical work, performance, or sound recording, Adapted Material is always produced where the Licensed Material is synched in timed relation with a moving image.</p>

<p>b. Adapter's License means the license You apply to Your Copyright and Similar Rights in Your contributions to Adapted Material in accordance with the terms and conditions of this Public License.</p>

<p>c. BY-NC-SA Compatible License means a license listed at creativecommons.org/compatiblelicenses, approved by Creative Commons as essentially the equivalent of this Public License.</p>

<p>d. Copyright and Similar Rights means copyright and/or similar rights closely related to copyright including, without limitation, performance, broadcast, sound recording, and Sui Generis Database Rights, without regard to how the rights are labeled or categorized. For purposes of this Public License, the rights specified in Section 2(b)(1)-(2) are not Copyright and Similar Rights.</p>

<p>e. Effective Technological Measures means those measures that, in the absence of proper authority, may not be circumvented under laws fulfilling obligations under Article 11 of the WIPO Copyright Treaty adopted on December 20, 1996, and/or similar international agreements.</p>

<p>f. Exceptions and Limitations means fair use, fair dealing, and/or any other exception or limitation to Copyright and Similar Rights that applies to Your use of the Licensed Material.</p>

<p>g. License Elements means the license attributes listed in the name of a Creative Commons Public License. The License Elements of this Public License are Attribution, NonCommercial, and ShareAlike.</p>

<p>h. Licensed Material means the artistic or literary work, database, or other material to which the Licensor applied this Public License.</p>

<p>i. Licensed Rights means the rights granted to You subject to the terms and conditions of this Public License, which are limited to all Copyright and Similar Rights that apply to Your use of the Licensed Material and that the Licensor has authority to license.</p>
<p>j. Licensor means the individual(s) or entity(ies) granting rights under this Public License.</p>

<p>k. NonCommercial means not primarily intended for or directed towards commercial advantage or monetary compensation. For purposes of this Public License, the exchange of the Licensed Material for other material subject to Copyright and Similar Rights by digital file-sharing or similar means is NonCommercial provided there is no payment of monetary compensation in connection with the exchange.</p>

<p>l. Share means to provide material to the public by any means or process that requires permission under the Licensed Rights, such as reproduction, public display, public performance, distribution, dissemination, communication, or importation, and to make material available to the public including in ways that members of the public may access the material from a place and at a time individually chosen by them.</p>

<p>m. Sui Generis Database Rights means rights other than copyright resulting from Directive 96/9/EC of the European Parliament and of the Council of 11 March 1996 on the legal protection of databases, as amended and/or succeeded, as well as other essentially equivalent rights anywhere in the world.</p>

<p>n. You means the individual or entity exercising the Licensed Rights under this Public License. Your has a corresponding meaning.</p>

<h3>SECTION 2 - SCOPE.</h3>

<p>a. License grant. 1. Subject to the terms and conditions of this Public License, the Licensor hereby grants You a worldwide, royalty-free, non-sublicensable, non-exclusive, irrevocable license to exercise the Licensed Rights in the Licensed Material to: A. reproduce and Share the Licensed Material, in whole or in part, for NonCommercial purposes only; and B. produce, reproduce, and Share Adapted Material for NonCommercial purposes only.</p>

<p>2. Exceptions and Limitations. For the avoidance of doubt, where Exceptions and Limitations apply to Your use, this Public License does not apply, and You do not need to comply with its terms and conditions. 3. Term. The term of this Public License is specified in Section 6(a). 4. Media and formats; technical modifications allowed. The Licensor authorizes You to exercise the Licensed Rights in all media and formats whether now known or hereafter created, and to make technical modifications necessary to do so. The Licensor waives and/or agrees not to assert any right or authority to forbid You from making technical modifications necessary to exercise the Licensed Rights, including technical modifications necessary to circumvent Effective Technological Measures. For purposes of this Public License, simply making modifications authorized by this Section 2(a)(4) never produces Adapted Material. 5. Downstream recipients. A. Offer from the Licensor - Licensed Material. Every recipient of the Licensed Material automatically receives an offer from the Licensor to exercise the Licensed Rights under the terms and conditions of this Public License. B. Additional offer from the Licensor - Adapted Material. Every recipient of Adapted Material from You automatically receives an offer from the Licensor to exercise the Licensed Rights in the Adapted Material under the conditions of the Adapter's License You apply. C. No downstream restrictions. You may not offer or impose any additional or different terms or conditions on, or apply any Effective Technological Measures to, the Licensed Material if doing so restricts exercise of the Licensed Rights by any recipient of the Licensed Material. 6. No endorsement. Nothing in this Public License constitutes or may be construed as permission to assert or imply that You are, or that Your use of the Licensed Material is, connected with, or sponsored, endorsed, or granted official status by, the Licensor or others designated to receive attribution as provided in Section 3(a)(1)(A)(i).</p>

<p>b. Other rights.</p>
<p>1. Moral rights, such as the right of integrity, are not licensed under this Public License, nor are publicity, privacy, and/or other similar personality rights; however, to the extent possible, the Licensor waives and/or agrees not to assert any such rights held by the Licensor to the limited extent necessary to allow You to exercise the Licensed Rights, but not otherwise. 2. Patent and trademark rights are not licensed under this Public License. 3. To the extent possible, the Licensor waives any right to collect royalties from You for the exercise of the Licensed Rights, whether directly or through a collecting society under any voluntary or waivable statutory or compulsory licensing scheme. In all other cases the Licensor expressly reserves any right to collect such royalties, including when the Licensed Material is used other than for NonCommercial purposes.</p>

<h3>SECTION 3 - LICENSE CONDITIONS.</h3>

<p>Your exercise of the Licensed Rights is expressly made subject to the following conditions.</p>

<p>a. Attribution.</p>
<p>1. If You Share the Licensed Material (including in modified form), You must:</p>

<p>A. retain the following if it is supplied by the Licensor with the Licensed Material: i. identification of the creator(s) of the Licensed Material and any others designated to receive attribution, in any reasonable manner requested by the Licensor (including by pseudonym if designated); ii. a copyright notice; iii. a notice that refers to this Public License; iv. a notice that refers to the disclaimer of warranties; v. a URI or hyperlink to the Licensed Material to the extent reasonably practicable; B. indicate if You modified the Licensed Material and retain an indication of any previous modifications; and C. indicate the Licensed Material is licensed under this Public License, and include the text of, or the URI or hyperlink to, this Public License. 2. You may satisfy the conditions in Section 3(a)(1) in any reasonable manner based on the medium, means, and context in which You Share the Licensed Material. For example, it may be reasonable to satisfy the conditions by providing a URI or hyperlink to a resource that includes the required information. 3. If requested by the Licensor, You must remove any of the information required by Section 3(a)(1)(A) to the extent reasonably practicable. b. ShareAlike.</p>

<p>In addition to the conditions in Section 3(a), if You Share Adapted Material You produce, the following conditions also apply.</p>

<p>1. The Adapter's License You apply must be a Creative Commons license with the same License Elements, this version or later, or a BY-NC-SA Compatible License. 2. You must include the text of, or the URI or hyperlink to, the Adapter's License You apply. You may satisfy this condition in any reasonable manner based on the medium, means, and context in which You Share Adapted Material. 3. You may not offer or impose any additional or different terms or conditions on, or apply any Effective Technological Measures to, Adapted Material that restrict exercise of the rights granted under the Adapter's License You apply.</p>

<h3>SECTION 4 - SUI GENERIS DATABASE RIGHTS.</h3>

<p>Where the Licensed Rights include Sui Generis Database Rights that apply to Your use of the Licensed Material:</p>

<p>a. for the avoidance of doubt, Section 2(a)(1) grants You the right to extract, reuse, reproduce, and Share all or a substantial portion of the contents of the database for NonCommercial purposes only; b. if You include all or a substantial portion of the database contents in a database in which You have Sui Generis Database Rights, then the database in which You have Sui Generis Database Rights (but not its individual contents) is Adapted Material, including for purposes of Section 3(b); and c.You must comply with the conditions in Section 3(a) if You Share all or a substantial portion of the contents of the database.</p>

<p>For the avoidance of doubt, this Section 4 supplements and does not replace Your obligations under this Public License where the Licensed Rights include other Copyright and Similar Rights.</p>

<h3>SECTION 5 - DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY.</h3>

<p>a. Unless otherwise separately undertaken by the Licensor, to the extent possible, the Licensor offers the Licensed Material as-is and as-available, and makes no representations or warranties of any kind concerning the Licensed Material, whether express, implied, statutory, or other. This includes, without limitation, warranties of title, merchantability, fitness for a particular purpose, non-infringement, absence of latent or other defects, accuracy, or the presence or absence of errors, whether or not known or discoverable. Where disclaimers of warranties are not allowed in full or in part, this disclaimer may not apply to You. b. To the extent possible, in no event will the Licensor be liable to You on any legal theory (including, without limitation, negligence) or otherwise for any direct, special, indirect, incidental, consequential, punitive, exemplary, or other losses, costs, expenses, or damages arising out of this Public License or use of the Licensed Material, even if the Licensor has been advised of the possibility of such losses, costs, expenses, or damages. Where a limitation of liability is not allowed in full or in part, this limitation may not apply to You.</p>

<p>c. The disclaimer of warranties and limitation of liability provided above shall be interpreted in a manner that, to the extent possible, most closely approximates an absolute disclaimer and waiver of all liability.</p>

<h3>SECTION 6 - TERM AND TERMINATION.</h3>

<p>a. This Public License applies for the term of the Copyright and Similar Rights licensed here. However, if You fail to comply with this Public License, then Your rights under this Public License terminate automatically.</p>

<p>b. Where Your right to use the Licensed Material has terminated under Section 6(a), it reinstates:</p>

<p>1. automatically as of the date the violation is cured, provided it is cured within 30 days of Your discovery of the violation; or 2. upon express reinstatement by the Licensor. For the avoidance of doubt, this Section 6(b) does not affect any right the Licensor may have to seek remedies for Your violations of this Public License. c. For the avoidance of doubt, the Licensor may also offer the Licensed Material under separate terms or conditions or stop distributing the Licensed Material at any time; however, doing so will not terminate this Public License. d. Sections 1, 5, 6, 7, and 8 survive termination of this Public License.</p>

<h3>SECTION 7 - OTHER TERMS AND CONDITIONS.</h3>

<p>a. The Licensor shall not be bound by any additional or different terms or conditions communicated by You unless expressly agreed. b. Any arrangements, understandings, or agreements regarding the Licensed Material not stated herein are separate from and independent of the terms and conditions of this Public License.</p>

<h3>SECTION 8 - INTERPRETATION.</h3>

<p>a. For the avoidance of doubt, this Public License does not, and shall not be interpreted to, reduce, limit, restrict, or impose conditions on any use of the Licensed Material that could lawfully be made without permission under this Public License. b. To the extent possible, if any provision of this Public License is deemed unenforceable, it shall be automatically reformed to the minimum extent necessary to make it enforceable. If the provision cannot be reformed, it shall be severed from this Public License without affecting the enforceability of the remaining terms and conditions. c. No term or condition of this Public License will be waived and no failure to comply consented to unless expressly agreed to by the Licensor. d. Nothing in this Public License constitutes or may be interpreted as a limitation upon, or waiver of, any privileges and immunities that apply to the Licensor or You, including from the legal processes of any jurisdiction or authority.</p>

<p>Creative Commons is not a party to its public licenses. Notwithstanding, Creative Commons may elect to apply one of its public licenses to material it publishes and in those instances will be considered the "Licensor." Except for the limited purpose of indicating that material is shared under a Creative Commons public license or as otherwise permitted by the Creative Commons policies published at creativecommons.org/policies, Creative Commons does not authorize the use of the trademark "Creative Commons" or any other trademark or logo of Creative Commons without its prior written consent including, without limitation, in connection with any unauthorized modifications to any of its public licenses or any other arrangements, understandings, or agreements concerning use of licensed material. For the avoidance of doubt, this paragraph does not form part of the public licenses.</p>

<p>Creative Commons may be contacted at creativecommons.org.</p>

<p>Additional languages available: Nederlands, Norsk, suomeksi. Please read the FAQ for more information about official translations.</p>

<h4>WEBSITE RESOURCES</h4>

<p>Copyright © 2016, Great Minds. All rights reserved. By downloading these materials from the Great Minds website, you agree that you will make only personal and non-commercial uses of the materials, and that you will reproduce and distribute these materials only for non-commercial use in the classroom. Commercial uses, and reproduction and distributions made for other than non-commercial use in the classroom, are expressly prohibited. If you have any questions regarding use of these materials, please contact info@greatminds.org.</p>

<h4>AFFIRM&trade; TERMS OF USE</h4>

<p>Affirm is a digital library of assessment and practice questions created, owned, and/or provided by Great Minds LLC (“Great Minds”) for use by authorized school employees, parents, and students in conjunction with Great Minds’ curricula. The following Terms of Use are a legal contract between you, an individual subscriber, customer, member, or user (“You” or “Your”), and Great Minds regarding Your use of Affirm.</p>

<p>Please read the following Terms of Use carefully. By registering for, subscribing to, accessing, or using Affirm, You acknowledge that You have read, understood, and agree to be bound by the following terms and conditions of these Terms of Use. IF YOU ARE A PARENT OR GUARDIAN AND YOU PROVIDE CONSENT FOR YOUR CHILD TO USE AFFIRM, YOU AGREE TO BE BOUND BY THESE TERMS OF USE IN RESPECT OF YOUR CHILD’S USE OF AFFIRM.</p>

<h4>YOUR ACCESS TO AFFIRM THROUGH THIRD-PARTY EDULASTIC</h4>

<p>Affirm is delivered through the Edulastic website and system owned, operated, and/or provided by third parties Edulastic, Inc. and/or its parent company Snapwiz, Inc (“Edulastic”). In order to access Affirm, You will be required to create an account with and log into Edulastic, and to agree to the Edulastic Terms of Service (https://edulastic.com/terms-of-service/) and Edulastic Privacy Policy (https://edulastic.com/privacy-policy/).</p>

<P>You acknowledge and understand that Edulastic is not owned, operated, or controlled by Great Minds, and that Your use of Edulastic is at Your own risk or as agreed between You and Edulastic. Great Minds has no control over, and assumes no responsibility for, the content, accuracy, privacy policies, practices, or operation of Edulastic. In addition, Great Minds shall not and cannot monitor, verify, censor, or edit the content of Edulastic that is not related to Affirm.</P>

<p>Great Minds does not collect or have access to any personal, identifying student information collected by or provided to Edulastic in relation to the use of Edulastic or Affirm (or otherwise).</p>

<h4>YOUR USE OF AFFIRM</h4>

<p>Great Minds grants You a limited, personal, non-exclusive, non-transferable, non-sublicensable, revocable license to access and use Affirm for Your personal, non-commercial use. Your license to use Affirm is conditioned on Your acceptance of and compliance with these Terms of Use.</p>

<p>Affirm and Edulastic may allow teachers and administrators to create and share new questions and assessments for use with Affirm (“User-Generated Content”). If You create and/or post User-Generated Content, You hereby grant Great Minds a royalty-free, perpetual, irrevocable, fully sublicensable, worldwide, non-exclusive right to use, reproduce, modify, translate, adapt, publish, create derivative works of, distribute, display, and incorporate the User-Generated Content in a deidentified format for any purpose and without acknowledgement to you. This does not grant Great Minds rights to your identifiable information. You represent and warrant that User-Generated Content You provide and use of that User-Generated Content by Great Minds and any of our users will not infringe on or violate the rights of any third party.</p>

<p>All User-Generated Content that You create, whether publicly posted or privately transmitted via Edulastic or Affirm, is Your sole responsibility, and not the responsibility of Great Minds or its members, directors, officers, employees, agents, or representatives. Great Minds reserves the right to remove User-Generated Content, in whole or in part, that Great Minds determines in its sole discretion violates these Terms of Use, the rights of any third parties, or that might be considered offensive or illegal. Neither Great Minds nor its members, directors, officers, employees, agents, or representatives shall be held liable for any loss or damage caused by Your reliance on User-Generated Content obtained through Affirm.</p>

<h4>INTELLECTUAL PROPERTY</h4>

<p>Great Minds retains all right, title, and interest in and to Affirm, which is protected by applicable intellectual property laws, including United States copyright and trademark laws. No portion of Affirm, including without limitation the trademarks and service marks, may be used, displayed, reproduced, distributed, or modified without prior written consent from Great Minds.</p>

<p>FEES AND PAYMENT</p>

<p>Access to Affirm and Edulastic is provided for an annual license fee per school based on the number of students enrolled. Each annual license is active beginning July 1 (unless otherwise agreed) and ending June 30 of the following year (the “License Term”). Once the license fee has been paid and You have been granted access to Affirm or Edulastic, the license fee shall be non-refundable for the License Term.</p>

<h4>NO WARRANTIES</h4>
<p>Affirm is provided on an “as is” basis, without warranties of any kind, either express or implied, including, without limitation, implied warranties of merchantability, fitness for a particular purpose, non-infringement, or that use of Affirm will be uninterrupted or error-free. Some states do not allow limitations on how long an implied warranty lasts, so the above limitations may not apply to You.</p>

<h4>LIMITATIONS OF LIABILITY</h4>

<p>In no event shall Great Minds or its affiliates, or any of their respective members, directors, officers, employees, agents, or representatives (or their respective successors and assigns) be liable to You or any third party in contract, tort (including negligence), or otherwise for any direct, indirect, consequential, special, incidental, or punitive damages, including, but not limited to, loss of use, service interruptions, and loss of data, regardless of whether these parties had advance notice of the possibility of any such damages.</p>

<p>Great Minds’ total liability to You for any claim arising out of or relating to Affirm shall not exceed $100. Some states do not allow the foregoing limitation of liability, so it may not apply to You.</p>

<h4>INDEMNITY</h4>

<p>You shall indemnify and hold harmless Great Minds and its members, directors, officers, employees, agents, and representatives from any loss, damage, liability, or demand, including without limitation reasonable attorneys’ fees, arising out of, resulting from, or connected with Your access to or use of Affirm or Edulastic or arising from Your breach of these Terms of Use. Great Minds reserves the right to assume the exclusive defense and control of any matter for which You are required to indemnify Great Minds. You agree to cooperate with any reasonable requests to assist Great Minds in its defense of such matters.</p>

<h4>GOVERNING LAW AND ARBITRATION</h4>
<p>These Terms of Use are governed by the laws of the State of New York. Any controversy or claim arising out of or relating to these Terms of Use shall be settled by binding arbitration in accordance with the commercial arbitration rules of the American Arbitration Association. Any such controversy or claim shall be arbitrated on an individual basis and shall not be consolidated in any arbitration with any claim or controversy of any other party. The arbitration shall be conducted in New York, and judgment on the arbitration award may be entered into any court having jurisdiction thereof. The award of the arbitrator shall be final and binding upon the parties without appeal or review except as permitted by New York law. Notwithstanding the foregoing, either party may seek any interim or preliminary injunctive relief from any court of competent jurisdiction as necessary to protect the party’s rights or property pending the completion of arbitration.</p>

<p>If any portion of these terms is held to be unenforceable, the unenforceable portion shall be construed in accordance with applicable law to the greatest extent possible, and the remainder of the provisions shall remain in full force and effect.</p>
