<p>
This User Agreement governs your use of www.greatminds.org (the “Website”) operated by Great Minds (“Great Minds”) and all Curriculum and associated textual, audio, and video materials contained therein. Please read the following terms and conditions carefully before proceeding. By accessing the Website, and by downloading Curriculum and/or associated textual, audio, and video materials, you are deemed to have agreed to comply with all of the terms and conditions hereof.
</p>
<p>
Great Minds hereby grants you a non-transferable and non-exclusive license to download and/or view the Curriculum and associated textual, audio, and video materials, and to print the Curriculum and associated textual materials, but in all cases such use shall be personal, internal and non-commercial only. You may not sell or otherwise distribute the Curriculum and associated textual, audio, and video materials to anyone in any manner.
</p>
<p>
Great Minds shall have the right to terminate this limited license at any time, by posting notice of such termination on the Website, or by any other effective form of notification. Any use by you of the Website after such notice of termination shall be deemed to be notice to you that the limited license has been terminated. Any other form of notification that results in reasonable notice to you of termination shall all be deemed effective notice to you that the limited license has been terminated.
</p>
<p>
Great Minds shall have the right at any time to change or discontinue any aspect or feature of the Website and the Curriculum and associated materials, including, but not limited to, content, hours of availability, and equipment or software needed for access or use.
</p>
<p>
Great Minds shall have the right at any time to change or modify the terms and conditions applicable to your use of the Website and Curriculum and associated materials, or to impose new conditions, including but not limited to, adding additional fees and charges for use. Such changes, modifications, additions, or deletions shall be effective immediately upon posting on the Website or by any means of notification by which you obtain actual knowledge thereof. Any use by you after such notice shall be deemed to constitute acceptance by you.
</p>
<p>
The Website and Curriculum and associated materials contain copyrighted material, trademarks and other proprietary information including, but not limited to, text and graphics. The entire contents of the Website and Curriculum and associated materials are protected under United States copyright laws. Great Minds owns and/or controls copyright in the selection, coordination, arrangement and enhancement of such content, as well as in the content original to it. You may use copyrighted material for your personal, internal and non-commercial use only. Except as otherwise expressly permitted under copyright law, no copying, redistribution, publication or commercial exploitation of downloaded Curriculum or associated textual, audio and video materials will be permitted without the express written permission of Great Minds. In the event of any permitted copying, redistribution or publication of copyrighted material, no changes in or deletion of author attribution, trademark, legend or copyright notice shall be made.
</p>
<p>
THIS WEBSITE AND CURRICULUM ARE PROVIDED ON AN “AS IS” BASIS WITH ALL FAULTS AND WITHOUT ANY WARRANTY OF ANY KIND. CHANGES ARE PERIODICALLY ADDED TO THE CONTENTS OF THE WEBSITE AND CURRICULUM. GREAT MINDS MAY MAKE IMPROVEMENTS, DELETIONS, CHANGES OR OTHER MODIFICATIONS TO THE WEBSITE AND THE CURRICULUM AT ANY TIME WITHOUT NOTICE.
</p>
<p>
You may not post or otherwise make available on the Website any material protected by copyright, trademark or other proprietary right. You are responsible for and assume all risk with respect to what you post. You hereby grant Great Minds the non-exclusive right without limitation to edit, copy, publish and distribute any material made available on the Website by you, including but not limited to any material posted by you in the Website’s comments section, and any email queries or lesson plans submitted by you to Great Minds, including without limitation to publish and distribute such material on the Website and in any print publications published and distributed by Great Minds.
</p>
<p>
You agree to indemnify and hold harmless Great Minds from and against all claims and expenses, including attorneys’ fees, arising out of your use of the Website, including, without limitation, the Curriculum and associated materials, and posts by you. You agree that any violation by you of this User Agreement gives Great Minds the right to seek injunctive relief and all damages and other remedies available under U.S. copyright and trademark law, and all other applicable law.
</p>
