<%= render 'cms_nav' %>
<div class="col-md-9">
  <section>
    <div class='row'>
      <h2>New Footer Title</h2>

      <%= render 'form' %>

      <%= link_to 'Back', cms_footer_titles_path, class: 'btn btn-default' %>
    </div>
  </section>
</div>
