      <% if simple_current_order.item_count > 0 %>
  <%
      text = text ? h(text) : Spree.t('cart')
      css_class = nil

      if simple_current_order.nil? or simple_current_order.item_count.zero?
        text = "<i class='mi md-18'>shopping_cart</i> #{text}: (#{Spree.t('empty')})"
        css_class = 'empty'
      else
        text = "<i class='mi md-18'>shopping_cart</span> #{simple_current_order.item_count}"
        css_class = 'full'
      end
  %>
  <%= link_to spree.cart_path, :class => "cart-info #{css_class}" do %>
    <%= text.html_safe %>
  <% end %>
<% end %>
