<ul class="cart" data-hook>
  <li class="search-icon">
    <i class="fa fa-search"></i>
  </li>
  <% if spree_current_user %>
    <li>
      <%= active_link_to "account", '/account' %>
    </li>
  <% end %>
  <li id="link-to-cart" data-hook>
    <noscript>
      <%= link_to Spree.t(:cart), '/cart' %>
    </noscript>
    &nbsp;
  </li>
  <script>
    if(typeof Spree !== 'undefined') {
      Spree.fetch_cart()
    } else {
      Gm.fetch_cart()
    }
  </script>
</ul>
