  <% if spree_current_user %>
    <li>
      Hello, <%= active_link_to spree_current_user.full_name, '/account' %>
    </li>
  <% end %>

  <% if spree_current_user %>
    <li>
      <%= active_link_to "Logout", '/store/logout' %>
    </li>
  <% else %>
    <li>
      <%= active_link_to "Login", '/store/login' %>
    </li>
  <% end %>

  <li id="link-to-cart" data-hook>
    <noscript>
      <%= link_to Spree.t(:cart), '/cart' %>
    </noscript>
    &nbsp;
  </li>
  <script>
    if(typeof Spree !== 'undefined') {
      Spree.fetch_cart()
    } else {
      Gm.fetch_cart()
    }
  </script>
