
  <li class="form-inline">
    <div class="input-group search">
      <input type="text" class="form-control" placeholder="Search">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </li>

  <% if spree_current_user %>
    <li>
      <%= active_link_to "account", '/account' %>
    </li>
  <% end %>
  <li id="link-to-cart" data-hook>
    <noscript>
      <%= link_to Spree.t(:cart), '/cart' %>
    </noscript>
    &nbsp;
  </li>
  <script>
    if(typeof Spree !== 'undefined') {
      Spree.fetch_cart()
    } else {
      Gm.fetch_cart()
    }
  </script>
