<div class="modal fade partner-modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">YOU ARE LEAVING GREATMINDS.COM</h4>
      </div>
      <div class="modal-body">
        <p>
          GreatMinds partners with a number of 3rd party vendors to help provide our teachers with the best manipulatives and workboos out there. You're leaving our site to visit one of our partners now, if you do not wish to leave click <strong>cancel</strong>
        </p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary partner-modal-proceed" target="_blank" href="#">Proceed offsite</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>

  $(document).ready(function(){
    $(".partner-modal").on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var redirectUrl = button.data('redirect')
      var $modal = $(this);
      $modal.find('.partner-modal-proceed').attr({"href": redirectUrl});
    });
  });

<% end %>