<div class="col-sm-6">
  <div class="card card-math">
    <div class="card-curriculum">Math</div>
    <h4 class="card-title">Eureka Math Print Materials</h4>
    <p class="card-text"><%= product.short_description.html_safe rescue '' %></p>
    <button class="btn btn-primary">Learn More</button>
  </div>
</div>
