<div class="search-overlay">
  <%= form_tag '/search', class: 'navbar-form nav-search clearfix', method: :get do %>
    <div class="form-group">
      <%= text_field_tag :query, nil, class: 'form-control header-form-control', placeholder: 'Search' %>
      <%= submit_tag 'Submit', class: 'btn btn-primary header-form-control' %>
    </div>
  <% end %>
</div>