<nav id="categoryFilters" class="panel-group" data-hook>
  <% @taxonomies.each do |taxonomy| %>
    <div class="panel panel-default panel-collapsible max-300">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#categories" href="#collapse<%= taxonomy.name.gsub(/[^0-9A-Za-z]/, '') %>">
            <%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %>
          </a>
        </h4>
      </div>
      <div id="collapse<%= taxonomy.name.gsub(/[^0-9A-Za-z]/, '') %>" class="panel-collapse collapse">
        <%= gm_taxons_tree(taxonomy.root, @taxon, taxonomy.allow_multiple_taxons_selected) %>
      </div>
    </div>
  <% end %>
</nav>
