<nav id="categoryFilters" class="panel-group" data-hook>
  <h3 class="text-left">Shop</h3>

  <input type="text" class="form-control input-md input-md-search margin-bottom--l" placeholder="Search" />

  <h4 class="text-left bh4">I am a:</h4>

  <div class="dropdown dropdown-md">
    <button class="btn btn-default btn-block dropdown-toggle dropdown-md-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Role
      <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i>
    </button>
    <ul class="dropdown-menu dropdown-md-menu" aria-labelledby="dropdownMenu1">
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">Parent</a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link active">Teacher <i class="mi dropdown-md-mi">close</i></a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">Administrator</a></li>
    </ul>
  </div>

  <h4 class="text-left bh4">Looking for:</h4>

  <div class="dropdown dropdown-md">
    <button class="btn btn-default btn-block dropdown-toggle dropdown-md-btn margin-bottom--m" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Subject
      <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i>
    </button>
    <ul class="dropdown-menu dropdown-md-menu" aria-labelledby="dropdownMenu1">
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">Math</a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link active">English <i class="mi dropdown-md-mi">close</i></a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">History</a></li>
    </ul>
  </div>

  <div class="dropdown dropdown-md">
    <button class="btn btn-default btn-block dropdown-toggle dropdown-md-btn margin-bottom--m" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Grade
      <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i>
    </button>
    <ul class="dropdown-menu dropdown-md-menu" aria-labelledby="dropdownMenu1">
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link active">GPK <i class="mi dropdown-md-mi">close</i></a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">GK</a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">G1</a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">G2</a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">G3</a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">G4</a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">G5</a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">G6</a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">G7</a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">G8</a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">G9</a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">G10</a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">G11</a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">G12</a></li>
    </ul>
  </div>

  <div class="dropdown dropdown-md">
    <button class="btn btn-default btn-block dropdown-toggle dropdown-md-btn margin-bottom--m" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Free vs. Paid
      <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i>
    </button>
    <ul class="dropdown-menu dropdown-md-menu" aria-labelledby="dropdownMenu1">
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">Free</a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link active">Paid <i class="mi dropdown-md-mi">close</i></a></li>
    </ul>
  </div>

  <div class="dropdown dropdown-md">
    <button class="btn btn-default btn-block dropdown-toggle dropdown-md-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Format
      <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i>
    </button>
    <ul class="dropdown-menu dropdown-md-menu" aria-labelledby="dropdownMenu1">
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">Download</a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link active">Video <i class="mi dropdown-md-mi">close</i></a></li>
      <li class="dropdown-md-item"><a href="#" class="dropdown-md-link">Group</a></li>
    </ul>
  </div>

</nav>
<a id="removeAllFilters" href="/store/?" class="btn btn-danger btn-block collapse">Remove All</a>
