<fieldset id="password-credentials">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>First Name</label>
        <%= f.text_field :first_name, :class => 'form-control', :placeholder => Spree.t(:first_name) %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Last Name</label>
        <%= f.text_field :last_name, :class => 'form-control', :placeholder => Spree.t(:last_name) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Email Address</label>
        <%= f.email_field :email, :class => 'form-control', :placeholder => Spree.t(:email) %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Password</label>
        <%= f.password_field :password, :class => 'form-control', :placeholder => Spree.t(:password) %>
      </div> 
    </div>
  </div>
  <hr />
</fieldset>
<div data-hook="signup_below_password_fields"></div>
