<div class="jumbotron jumbotron-primary text-left hidden-xs">
  <button class="btn btn-link btn-dismiss js-dismiss-jumbotron">
    Dismiss <i class="mi md-24">close</i>
  </button>
  <h1 class="bh2">Welcome to the Great Minds Shop!</h1>
  <p>Great Minds curricula are becoming the most widely used in the United States. Here you'll find curriculum files, lesson plans, core and supplemental materials, video series and more. Use the filters on the left to refine your results.</p>
</div>
