<ul class="dropdown-menu">
  <li><%= active_link_to page.title, "/#{page.slug}", active: (request.path == "/#{page.slug}") %></li>
  <% if page.slug == "english" %>
    <li><a href="https://greatminds.org/english/pd">PD</a></li>
    <%= active_link_to "Case Studies", "/english/blog/case-studies", active: (request.path == "/english/blog/case-studies"), wrap_tag: :li %>
  <% end %>

  <% if page && blog = page.blogs.sorted.first %>
    <%= active_link_to 'Blog', main_app.curriculum_blog_path(page_slug: page.slug, slug: blog.slug), wrap_tag: :li, active: /#{page.slug}\/blog/ %>
  <% end %>
  <% if page && event_page = page.available_event_pages.first %>
    <%= active_link_to 'Events', main_app.curriculum_events_path(page_slug: page.slug, slug: event_page.slug), wrap_tag: :li, active: /#{page.slug}\/events\/#{event_page.slug}/ %>
  <% end %>
</ul>
