<footer>
  <section class="footer-jumbo">
    <div class="container">
      <div class="row clear-top">
        <% Page.show_in_footer_as_top_links.each do |page| %>
          <div class="col-xs-2">
            <h4>
              <%= active_link_to page.group_name.capitalize, "/#{page.slug}" %>
            </h4>
            <% if (@sub_items = Page.show_in_footer_as_subgroup_links(page.group_name)).length > 1 %>
              <% @sub_items.each do |page| %>
                <%= active_link_to page.title, "/#{page.slug}", wrap_tag: :li  %>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <div class="col-xs-2">
          <h4>Updates</h4>
          <ul>
            <% MediumPublication.global.each do |publication| %>
              <li><%= link_to publication.title, global_blog_path(slug: publication.slug) %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-xs-2">
          <h4>Social</h4>
          <ul>
            <li><a href="">Twitter</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Pinterest</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <p class="text-muted">© Copyright 2015 Great Minds</p>
</footer>