<footer>
  <div class="container">
    <div class="row clear-top">
      <div class="col-sm-2 footer-section">
        <div class="row">
          <div class="col-sm-4">
            <a href="">
              <i class="fa fa-facebook social-icon"></i>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="">
              <i class="fa fa-twitter social-icon"></i>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="">
              <i class="fa fa-pinterest-p social-icon"></i>
            </a>
          </div>
        </div>
      </div>
      <% Page.show_in_footer_as_top_links.each do |page| %>
        <div class="col-sm-2 footer-section">
          <h6 class="section-lead">
            <%= active_link_to page.group_name.capitalize, "/#{page.slug}" %>
          </h6>
          <% if (@sub_items = Page.show_in_footer_as_subgroup_links(page.group_name)).length > 1 %>
            <ul>
              <% @sub_items.each do |page| %>
                <%= active_link_to page.title, "/#{page.slug}", wrap_tag: :li  %>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
      <div class="col-sm-2 footer-section">
        <h6 class="section-lead">Updates</h6>
        <ul>
          <% MediumPublication.global.each do |publication| %>
            <li><%= link_to publication.title, global_blog_path(slug: publication.slug) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <p class="copyright pull-right sans-serif bold">© Copyright 2015 <br>Great Minds</p>
  </div>
</footer>
