<footer class="container footer">
  <div class="row">
    <div class="col-sm-2"></div>
    <% FooterTitle.all.each do |footer_title| %>
      <div class="col-sm-2 footer-section">
        <h6 class="section-lead">
          <% if footer_title.link.present? %>
            <%= link_to footer_title.title, footer_title.link %>
          <% else %>
            <%= footer_title.title %>
          <% end %>
        </h6>
        <ul>
          <% footer_title.footer_links.each do |link| %>
            <li>
              <%= link_to link.name, link.link %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="col-sm-2 footer-section margin-xs-left-l">
      <h6 class="section-lead">Connect</h6>
      <ul>
        <li>
          <a href="http://pinterest.com/commoncoremaps/" target="_blank">
            <i class="fa fa-facebook social-icon"></i> Facebook
          </a>
        </li>
        <li>
          <a href="/contact">
            <i class="fa fa-envelope-o social-icon"></i> Contact
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p class="attribution"><span class="copyright">Copyright &copy; 2015 Great Minds</span> | <a href="/terms-of-service">TOS</a> | <a href="">Privacy Policy</a></p>
    </div>
  </div>
</footer>
