<div class="tile-row clearfix" style="margin: 10px 0; border: 1px solid #eee; padding: 5px;">
  <div class="head">
    <%= rowType %>
    <a class="btn btn-default pull-right remove-row-btn">X</a>
  </div>
</div>
