<%= render 'cms_nav' %>
<div class="col-md-9">
  <section>
    <div class='row'>
      <h2>Edit Footer Link</h2>

      <%= render 'form' %>

      <%= link_to 'Back', cms_footer_title_footer_links_path(@footer_title), class: 'btn btn-default' %>
    </div>
  </section>
</div>
