<div class="page">
  <%= @page.body_draft.html_safe %>
</div>

<% if @page.custom_css %>
  <style type="text/css">
<%= @page.custom_css.content.html_safe %>
  </style>
<% end %>
<% CustomCss.global_css.each do |custom_css| %>
  <style type="text/css">
<%= custom_css.content %>
  </style>
<% end %>
